/* color-1 mettaliccopper */

.btn-fiber-mettaliccopper{
    background-color:#672322!important;
}

.btn-fiber-mettaliccopper:hover{
    background-color: #923332!important;
   
}

.bg-fiber-mettaliccopper{
    background-color:#672322!important;
}

.border-fiber-mettaliccopper-1{
    border: 1px solid#672322!important;
}

.border-fiber-mettaliccopper-2{
    border: 2px solid#672322!important;
}

.border-fiber-mettaliccopper-3{
    border: 3px solid#672322!important;
}

.border-fiber-mettaliccopper-4{
    border: 4px solid#672322!important;
}

.border-fiber-mettaliccopper-5{
    border: 5px solid#672322!important;
}

.text-fiber-mettaliccopper{
    color:#672322!important;
}

.form-fiber-mettaliccopper{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-fiber-mettaliccopper:focus{
    box-shadow: 0 0 5px#672322!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#672322!important;
}

.spinner-fiber-mettaliccopper{
    border-bottom-color:transparent !important ;
    border-top-color:#672322!important;
    border-right-color:#672322!important;
    border-left-color:#672322!important;
}

/* color-1 ends */

/* color-2 ivory */
.btn-fiber-ivory{
    background-color: #feffed!important;
}

.btn-fiber-ivory:hover{
    background-color: #f0f1cc!important;
}

.bg-fiber-ivory{
    background-color: #feffed!important;
}

.border-fiber-ivory-1{
    border: 1px solid #feffed!important;
}

.border-fiber-ivory-2{
    border: 2px solid #feffed!important;
}

.border-fiber-ivory-3{
    border: 3px solid #feffed!important;
}

.border-fiber-ivory-4{
    border: 4px solid #feffed!important;
}

.border-fiber-ivory-5{
    border: 5px solid #feffed!important;
}

.text-fiber-ivory{
    color: #feffed!important;
}

.form-fiber-ivory{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-fiber-ivory:focus{
    box-shadow: 0 0 5px #feffed!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #feffed!important;
}

.spinner-fiber-ivory{
    border-bottom-color:transparent !important ;
    border-top-color: #feffed!important;
    border-right-color: #feffed!important;
    border-left-color: #feffed!important;
}

/* color-2 ends */

/* color-3 gumbo */

.btn-fiber-gumbo{
    background-color: #379aa3!important;
}

.btn-fiber-gumbo:hover{
    background-color: #48b8c2!important;
   
}

.bg-fiber-gumbo{
    background-color: #379aa3!important;
}

.border-fiber-gumbo-1{
    border: 1px solid #379aa3!important;
}

.border-fiber-gumbo-2{
    border: 2px solid #379aa3!important;
}

.border-fiber-gumbo-3{
    border: 3px solid #379aa3!important;
}

.border-fiber-gumbo-4{
    border: 4px solid #379aa3!important;
}

.border-fiber-gumbo-5{
    border: 5px solid #379aa3!important;
}

.text-fiber-gumbo{
    color: #379aa3!important;
}

.form-fiber-gumbo{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-fiber-gumbo:focus{
    box-shadow: 0 0 5px #379aa3!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #379aa3!important;
}

.spinner-fiber-gumbo{
    border-bottom-color:transparent !important ;
    border-top-color: #379aa3!important;
    border-right-color: #379aa3!important;
    border-left-color: #379aa3!important;
}

/* color-3 ends */

/* color-4 sanjuan */


.btn-fiber-sanjuan{
    background-color: #28506a!important;
}

.btn-fiber-sanjuan:hover{
    background-color: #144d74!important;
   
}

.bg-fiber-sanjuan{
    background-color: #28506a!important;
}

.border-fiber-sanjuan-1{
    border: 1px solid #28506a!important;
}

.border-fiber-sanjuan-2{
    border: 2px solid #28506a!important;
}

.border-fiber-sanjuan-3{
    border: 3px solid #28506a!important;
}

.border-fiber-sanjuan-4{
    border: 4px solid #28506a!important;
}

.border-fiber-sanjuan-5{
    border: 5px solid #28506a!important;
}

.text-fiber-sanjuan{
    color: #28506a!important;
}

.form-fiber-sanjuan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-fiber-sanjuan:focus{
    box-shadow: 0 0 5px #28506a!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #28506a!important;
}

.spinner-fiber-sanjuan{
    border-bottom-color:transparent !important ;
    border-top-color: #28506a!important;
    border-right-color: #28506a!important;
    border-left-color: #28506a!important;
}

/* color-4 ends */

/* color-5 bigstone */


.btn-fiber-bigstone{
    background-color: #152636!important;
}

.btn-fiber-bigstone:hover{
    background-color: #152636a4!important;
   
}

.bg-fiber-bigstone{
    background-color: #152636!important;
}

.border-fiber-bigstone-1{
    border: 1px solid #152636!important;
}

.border-fiber-bigstone-2{
    border: 2px solid #152636!important;
}

.border-fiber-bigstone-3{
    border: 3px solid #152636!important;
}

.border-fiber-bigstone-4{
    border: 4px solid #152636!important;
}

.border-fiber-bigstone-5{
    border: 5px solid #152636!important;
}

.text-fiber-bigstone{
    color: #152636!important;
}

.form-fiber-bigstone{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-fiber-bigstone:focus{
    box-shadow: 0 0 5px #152636!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #152636!important;
}

.spinner-fiber-bigstone{
    border-bottom-color:transparent !important ;
    border-top-color: #152636!important;
    border-right-color: #152636!important;
    border-left-color: #152636!important;
}

/* color-5 ends */