/* color-1 Cornsilk */

.btn-Selago-Cornsilk{
    background-color:#E5eefc !important;
}

.btn-Selago-Cornsilk:hover{
    background-color: rgb(218, 220, 233) !important;
   
}

.bg-Selago-Cornsilk{
    background-color:#E5eefc !important;
}

.border-Selago-Cornsilk-1{
    border: 1px solid#E5eefc !important;
}

.border-Selago-Cornsilk-2{
    border: 2px solid#E5eefc !important;
}

.border-Selago-Cornsilk-3{
    border: 3px solid#E5eefc !important;
}

.border-Selago-Cornsilk-4{
    border: 4px solid#E5eefc !important;
}

.border-Selago-Cornsilk-5{
    border: 5px solid#E5eefc !important;
}

.text-Selago-Cornsilk{
    color:#E5eefc !important;
}

.form-Selago-Cornsilk{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Selago-
 Cornsilk:focus{
    box-shadow: 0 0 5px#E5eefc !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#E5eefc !important;
}

.spinner-Selago-Cornsilk{
    border-bottom-color:transparent !important ;
    border-top-color:#E5eefc !important;
    border-right-color:#E5eefc !important;
    border-left-color:#E5eefc !important;
}

/* color-1 ends */

/* color-2 Trinidad */
.btn-Selago-Trinidad{
    background-color:#F15b04 !important;
}

.btn-Selago-Trinidad:hover{
    background-color: rgba(240, 67, 24, 0.945) !important;
   
}

.bg-Selago-Trinidad{
    background-color:#F15b04 !important;
}

.border-Selago-Trinidad-1{
    border: 1px solid#F15b04 !important;
}

.border-Selago-Trinidad-2{
    border: 2px solid#F15b04 !important;
}

.border-Selago-Trinidad-3{
    border: 3px solid#F15b04 !important;
}

.border-Selago-Trinidad-4{
    border: 4px solid#F15b04 !important;
}

.border-Selago-Trinidad-5{
    border: 5px solid#F15b04 !important;
}

.text-Selago-Trinidad{
    color:#F15b04 !important;
}

.form-Selago-Trinidad{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Selago-Trinidad:focus{
    box-shadow: 0 0 5px#F15b04 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#F15b04 !important;
}

.spinner-Selago-Trinidad{
    border-bottom-color:transparent !important ;
    border-top-color:#F15b04 !important;
    border-right-color:#F15b04 !important;
    border-left-color:#F15b04 !important;
}

/* color-2 ends */

/* color-3 TahitiGold */

.btn-Selago-TahitiGold{
    background-color: #F28705 !important;
}

.btn-Selago-TahitiGold:hover{
    background-color: #f87620 !important;
   
}

.bg-Selago-TahitiGold{
    background-color: #F28705 !important;
}

.border-Selago-TahitiGold-1{
    border: 1px solid #F28705 !important;
}

.border-Selago-TahitiGold-2{
    border: 2px solid #F28705 !important;
}

.border-Selago-TahitiGold-3{
    border: 3px solid #F28705 !important;
}

.border-Selago-TahitiGold-4{
    border: 4px solid #F28705 !important;
}

.border-Selago-TahitiGold-5{
    border: 5px solid #F28705 !important;
}

.text-Selago-TahitiGold{
    color: #F28705 !important;
}

.form-Selago-TahitiGold{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Selago-TahitiGold:focus{
    box-shadow: 0 0 5px #F28705 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #F28705 !important;
}

.spinner-Selago-TahitiGold{
    border-bottom-color:transparent !important ;
    border-top-color: #F28705 !important;
    border-right-color: #F28705 !important;
    border-left-color: #F28705 !important;
}

/* color-3 ends */

/* color-4 Pistachio */


.btn-Selago-Pistachio{
    background-color:#94a606 !important;
}

.btn-Selago-Pistachio:hover{
    background-color: rgb(183, 245, 67) !important;
   
}

.bg-Selago-Pistachio{
    background-color:#94a606 !important;
}

.border-Selago-Pistachio-1{
    border: 1px solid#94a606 !important;
}

.border-Selago-Pistachio-2{
    border: 2px solid#94a606 !important;
}

.border-Selago-Pistachio-3{
    border: 3px solid#94a606 !important;
}

.border-Selago-Pistachio-4{
    border: 4px solid#94a606 !important;
}

.border-Selago-Pistachio-5{
    border: 5px solid#94a606 !important;
}

.text-Selago-Pistachio{
    color:#94a606 !important;
}

.form-Selago-Pistachio{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Selago-Pistachio:focus{
    box-shadow: 0 0 5px#94a606 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#94a606 !important;
}

.spinner-Selago-Pistachio{
    border-bottom-color:transparent !important ;
    border-top-color:#94a606 !important;
    border-right-color:#94a606 !important;
    border-left-color:#94a606 !important;
}

/* color-4 ends */

/* color-5 Clover */


.btn-Selago-Clover{
    background-color:#3e5916 !important;
}

.btn-Selago-Clover:hover{
    background-color: rgb(38, 82, 13) !important;
   
}

.bg-Selago-Clover{
    background-color:#3e5916 !important;
}

.border-Selago-Clover-1{
    border: 1px solid#3e5916 !important;
}

.border-Selago-Clover-2{
    border: 2px solid#3e5916 !important;
}

.border-Selago-Clover-3{
    border: 3px solid#3e5916 !important;
}

.border-Selago-Clover-4{
    border: 4px solid#3e5916 !important;
}

.border-Selago-Clover-5{
    border: 5px solid#3e5916 !important;
}

.text-Selago-Clover{
    color:#3e5916 !important;
}

.form-Selago-Clover{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Selago-Clover:focus{
    box-shadow: 0 0 5px#3e5916 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#3e5916 !important;
}

.spinner-Selago-Clover{
    border-bottom-color:transparent !important ;
    border-top-color:#3e5916 !important;
    border-right-color:#3e5916 !important;
    border-left-color:#3e5916 !important;
}

/* color-5 ends */