/* color-1 silverchalice */

.btn-misat-silverchalice{
    background-color: #aaa4a4 !important;
}

.btn-misat-silverchalice:hover{
    background-color: #aaa4a4ec !important;
   
}

.bg-misat-silverchalice{
    background-color: #aaa4a4 !important;
}

.border-misat-silverchalice-1{
    border: 1px solid #aaa4a4 !important;
}

.border-misat-silverchalice-2{
    border: 2px solid #aaa4a4 !important;
}

.border-misat-silverchalice-3{
    border: 3px solid #aaa4a4 !important;
}

.border-misat-silverchalice-4{
    border: 4px solid #aaa4a4 !important;
}

.border-misat-silverchalice-5{
    border: 5px solid #aaa4a4 !important;
}

.text-misat-silverchalice{
    color: #aaa4a4 !important;
}

.form-misat-silverchalice{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-misat-silverchalice:focus{
    box-shadow: 0 0 5px #aaa4a4 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #aaa4a4 !important;
}

.spinner-misat-silverchalice{
    border-bottom-color:transparent !important ;
    border-top-color: #aaa4a4 !important;
    border-right-color: #aaa4a4 !important;
    border-left-color: #aaa4a4 !important;
}

/* color-1 ends */

/* color-2 mulberry */
.btn-misat-mulberry{
    background-color: #cd5078 !important;
}

.btn-misat-mulberry:hover{
    background-color: #cd5078ee !important;
   
}

.bg-misat-mulberry{
    background-color: #cd5078 !important;
}

.border-misat-mulberry-1{
    border: 1px solid #cd5078 !important;
}

.border-misat-mulberry-2{
    border: 2px solid #cd5078 !important;
}

.border-misat-mulberry-3{
    border: 3px solid #cd5078 !important;
}

.border-misat-mulberry-4{
    border: 4px solid #cd5078 !important;
}

.border-misat-mulberry-5{
    border: 5px solid #cd5078 !important;
}

.text-misat-mulberry{
    color: #cd5078 !important;
}

.form-misat-mulberry{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-misat-mulberry:focus{
    box-shadow: 0 0 5px #cd5078 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #cd5078 !important;
}

.spinner-misat-mulberry{
    border-bottom-color:transparent !important ;
    border-top-color: #cd5078 !important;
    border-right-color: #cd5078 !important;
    border-left-color: #cd5078 !important;
}

/* color-2 ends */

/* color-3 amarnath */

.btn-misat-amarnath{
    background-color: #e7185e !important;
}

.btn-misat-amarnath:hover{
    background-color: #e7185dee  !important;
   
}

.bg-misat-amarnath{
    background-color: #e7185e !important;
}

.border-misat-amarnath-1{
    border: 1px solid #e7185e !important;
}

.border-misat-amarnath-2{
    border: 2px solid #e7185e !important;
}

.border-misat-amarnath-3{
    border: 3px solid #e7185e !important;
}

.border-misat-amarnath-4{
    border: 4px solid #e7185e !important;
}

.border-misat-amarnath-5{
    border: 5px solid #e7185e !important;
}

.text-misat-amarnath{
    color: #e7185e !important;
}

.form-misat-amarnath{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-misat-amarnath:focus{
    box-shadow: 0 0 5px #e7185e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e7185e !important;
}

.spinner-misat-amarnath{
    border-bottom-color:transparent !important ;
    border-top-color: #e7185e !important;
    border-right-color: #e7185e !important;
    border-left-color: #e7185e !important;
}

/* color-3 ends */

/* color-4 tundora */


.btn-misat-tundora{
    background-color: #464646 !important;
}

.btn-misat-tundora:hover{
    background-color: #464646e1 !important;
   
}

.bg-misat-tundora{
    background-color: #464646 !important;
}

.border-misat-tundora-1{
    border: 1px solid #464646 !important;
}

.border-misat-tundora-2{
    border: 2px solid #464646 !important;
}

.border-misat-tundora-3{
    border: 3px solid #464646 !important;
}

.border-misat-tundora-4{
    border: 4px solid #464646 !important;
}

.border-misat-tundora-5{
    border: 5px solid #464646 !important;
}

.text-misat-tundora{
    color: #464646 !important;
}

.form-misat-tundora{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-misat-tundora:focus{
    box-shadow: 0 0 5px #464646 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #464646 !important;
}

.spinner-misat-tundora{
    border-bottom-color:transparent !important ;
    border-top-color: #464646 !important;
    border-right-color: #464646 !important;
    border-left-color: #464646 !important;
}

/* color-4 ends */

/* color-5 mineshaft */


.btn-misat-mineshaft{
    background-color: #373737 !important;
}

.btn-misat-mineshaft:hover{
    background-color: #373737ec !important;
   
}

.bg-misat-mineshaft{
    background-color: #373737 !important;
}

.border-misat-mineshaft-1{
    border: 1px solid #373737 !important;
}

.border-misat-mineshaft-2{
    border: 2px solid #373737 !important;
}

.border-misat-mineshaft-3{
    border: 3px solid #373737 !important;
}

.border-misat-mineshaft-4{
    border: 4px solid #373737 !important;
}

.border-misat-mineshaft-5{
    border: 5px solid #373737 !important;
}

.text-misat-mineshaft{
    color: #373737 !important;
}

.form-misat-mineshaft{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-misat-mineshaft:focus{
    box-shadow: 0 0 5px #373737 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #373737 !important;
}

.spinner-misat-mineshaft{
    border-bottom-color:transparent !important ;
    border-top-color: #373737 !important;
    border-right-color: #373737 !important;
    border-left-color: #373737 !important;
}

/* color-5 ends */