/* color-1 Nileblue */

.btn-lockuy-Nileblue{
    background-color:#1b334d!important;
}

.btn-lockuy-Nileblue:hover{
    background-color: #2f4257!important;
   
}

.bg-lockuy-Nileblue{
    background-color:#1b334d!important;
}

.border-lockuy-Nileblue-1{
    border: 1px solid#1b334d!important;
}

.border-lockuy-Nileblue-2{
    border: 2px solid#1b334d!important;
}

.border-lockuy-Nileblue-3{
    border: 3px solid#1b334d!important;
}

.border-lockuy-Nileblue-4{
    border: 4px solid#1b334d!important;
}

.border-lockuy-Nileblue-5{
    border: 5px solid#1b334d!important;
}

.text-lockuy-Nileblue{
    color:#1b334d!important;
}

.form-lockuy-Nileblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lockuy-Nileblue:focus{
    box-shadow: 0 0 5px#1b334d!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#1b334d!important;
}

.spinner-lockuy-Nileblue{
    border-bottom-color:transparent !important ;
    border-top-color:#1b334d!important;
    border-right-color:#1b334d!important;
    border-left-color:#1b334d!important;
}

/* color-1 ends */

/* color-2 Lochinvar */
.btn-lockuy-Lochinvar{
    background-color: #277d7c !important;
}

.btn-lockuy-Lochinvar:hover{
    background-color: #235858!important;
   
}

.bg-lockuy-Lochinvar{
    background-color: #277d7c !important;
}

.border-lockuy-Lochinvar-1{
    border: 1px solid #277d7c !important;
}

.border-lockuy-Lochinvar-2{
    border: 2px solid #277d7c !important;
}

.border-lockuy-Lochinvar-3{
    border: 3px solid #277d7c !important;
}

.border-lockuy-Lochinvar-4{
    border: 4px solid #277d7c !important;
}

.border-lockuy-Lochinvar-5{
    border: 5px solid #277d7c !important;
}

.text-lockuy-Lochinvar{
    color: #277d7c !important;
}

.form-lockuy-Lochinvar{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lockuy-Lochinvar:focus{
    box-shadow: 0 0 5px #277d7c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #277d7c !important;
}

.spinner-lockuy-Lochinvar{
    border-bottom-color:transparent !important ;
    border-top-color: #277d7c !important;
    border-right-color: #277d7c !important;
    border-left-color: #277d7c !important;
}

/* color-2 ends */

/* color-3 Mantis */

.btn-lockuy-Mantis{
    background-color: #91c36a!important;
}

.btn-lockuy-Mantis:hover{
    background-color: #91c36ac0!important;
   
}

.bg-lockuy-Mantis{
    background-color: #91c36a!important;
}

.border-lockuy-Mantis-1{
    border: 1px solid #91c36a!important;
}

.border-lockuy-Mantis-2{
    border: 2px solid #91c36a!important;
}

.border-lockuy-Mantis-3{
    border: 3px solid #91c36a!important;
}

.border-lockuy-Mantis-4{
    border: 4px solid #91c36a!important;
}

.border-lockuy-Mantis-5{
    border: 5px solid #91c36a!important;
}

.text-lockuy-Mantis{
    color: #91c36a!important;
}

.form-lockuy-Mantis{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lockuy-Mantis:focus{
    box-shadow: 0 0 5px #91c36a!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #91c36a!important;
}

.spinner-lockuy-Mantis{
    border-bottom-color:transparent !important ;
    border-top-color: #91c36a!important;
    border-right-color: #91c36a!important;
    border-left-color: #91c36a!important;
}

/* color-3 ends */

/* color-4 yellowgreen */


.btn-lockuy-yellowgreen{
    background-color: #c5e06f !important;
}

.btn-lockuy-yellowgreen:hover{
    background-color: #b6db3c !important;
   
}

.bg-lockuy-yellowgreen{
    background-color: #c5e06f !important;
}

.border-lockuy-yellowgreen-1{
    border: 1px solid #c5e06f !important;
}

.border-lockuy-yellowgreen-2{
    border: 2px solid #c5e06f !important;
}

.border-lockuy-yellowgreen-3{
    border: 3px solid #c5e06f !important;
}

.border-lockuy-yellowgreen-4{
    border: 4px solid #c5e06f !important;
}

.border-lockuy-yellowgreen-5{
    border: 5px solid #c5e06f !important;
}

.text-lockuy-yellowgreen{
    color: #c5e06f !important;
}

.form-lockuy-yellowgreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lockuy-yellowgreen:focus{
    box-shadow: 0 0 5px #c5e06f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c5e06f !important;
}

.spinner-lockuy-yellowgreen{
    border-bottom-color:transparent !important ;
    border-top-color: #c5e06f !important;
    border-right-color: #c5e06f !important;
    border-left-color: #c5e06f !important;
}

/* color-4 ends */

/* color-5 Desertstorm */


.btn-lockuy-Desertstorm{
    background-color: #F2f2f0 !important;
}

.btn-lockuy-Desertstorm:hover{
    background-color: #dbdbb8!important;
   
}

.bg-lockuy-Desertstorm{
    background-color: #F2f2f0 !important;
}

.border-lockuy-Desertstorm-1{
    border: 1px solid #F2f2f0 !important;
}

.border-lockuy-Desertstorm-2{
    border: 2px solid #F2f2f0 !important;
}

.border-lockuy-Desertstorm-3{
    border: 3px solid #F2f2f0 !important;
}

.border-lockuy-Desertstorm-4{
    border: 4px solid #F2f2f0 !important;
}

.border-lockuy-Desertstorm-5{
    border: 5px solid #F2f2f0 !important;
}

.text-lockuy-Desertstorm{
    color: #F2f2f0 !important;
}

.form-lockuy-Desertstorm{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lockuy-Desertstorm:focus{
    box-shadow: 0 0 5px #F2f2f0 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #F2f2f0 !important;
}

.spinner-lockuy-Desertstorm{
    border-bottom-color:transparent !important ;
    border-top-color: #F2f2f0 !important;
    border-right-color: #F2f2f0 !important;
    border-left-color: #F2f2f0 !important;
}

/* color-5 ends */