/* color-1 ecruwhite */

.btn-juno-ecruwhite{
    background-color: #f9faf3 !important;
}

.btn-juno-ecruwhite:hover{
    background-color: #e3e7ca !important;
   
}

.bg-juno-ecruwhite{
    background-color: #f9faf3 !important;
}

.border-juno-ecruwhite-1{
    border: 1px solid #f9faf3 !important;
}

.border-juno-ecruwhite-2{
    border: 2px solid #f9faf3 !important;
}

.border-juno-ecruwhite-3{
    border: 3px solid #f9faf3 !important;
}

.border-juno-ecruwhite-4{
    border: 4px solid #f9faf3 !important;
}

.border-juno-ecruwhite-5{
    border: 5px solid #f9faf3 !important;
}

.text-juno-ecruwhite{
    color: #f9faf3 !important;
}

.form-juno-ecruwhite{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-juno-ecruwhite:focus{
    box-shadow: 0 0 5px #f9faf3 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f9faf3 !important;
}

.spinner-juno-ecruwhite{
    border-bottom-color:transparent !important ;
    border-top-color: #f9faf3 !important;
    border-right-color: #f9faf3 !important;
    border-left-color: #f9faf3 !important;
}

/* color-1 ends */

/* color-2 sea-mist */
.btn-juno-seamist{
    background-color: #c1d8c3 !important;
}

.btn-juno-seamist:hover{
    background-color: #a8c9ab !important;
   
}

.bg-juno-seamist{
    background-color: #c1d8c3 !important;
}

.border-juno-seamist-1{
    border: 1px solid #c1d8c3 !important;
}

.border-juno-seamist-2{
    border: 2px solid #c1d8c3 !important;
}

.border-juno-seamist-3{
    border: 3px solid #c1d8c3 !important;
}

.border-juno-seamist-4{
    border: 4px solid #c1d8c3 !important;
}

.border-juno-seamist-5{
    border: 5px solid #c1d8c3 !important;
}

.text-juno-seamist{
    color: #c1d8c3 !important;
}

.form-juno-seamist{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-juno-seamist:focus{
    box-shadow: 0 0 5px #c1d8c3 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c1d8c3 !important;
}

.spinner-juno-seamist{
    border-bottom-color:transparent !important ;
    border-top-color: #c1d8c3 !important;
    border-right-color: #c1d8c3 !important;
    border-left-color: #c1d8c3 !important;
}

/* color-2 ends */

/* color-3 summergreen */

.btn-juno-summergreen{
    background-color: #97bda4 !important;
}

.btn-juno-summergreen:hover{
    background-color: #7abe92 !important;
   
}

.bg-juno-summergreen{
    background-color: #97bda4 !important;
}

.border-juno-summergreen-1{
    border: 1px solid #97bda4 !important;
}

.border-juno-summergreen-2{
    border: 2px solid #97bda4 !important;
}

.border-juno-summergreen-3{
    border: 3px solid #97bda4 !important;
}

.border-juno-summergreen-4{
    border: 4px solid #97bda4 !important;
}

.border-juno-summergreen-5{
    border: 5px solid #97bda4 !important;
}

.text-juno-summergreen{
    color: #97bda4 !important;
}

.form-juno-summergreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-juno-summergreen:focus{
    box-shadow: 0 0 5px #97bda4 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #97bda4 !important;
}

.spinner-juno-summergreen{
    border-bottom-color:transparent !important ;
    border-top-color: #97bda4 !important;
    border-right-color: #97bda4 !important;
    border-left-color: #97bda4 !important;
}

/* color-3 ends */

/* color-4 cosmic */


.btn-juno-cosmic{
    background-color: #74404d !important;
}

.btn-juno-cosmic:hover{
    background-color: #723746 !important;
   
}

.bg-juno-cosmic{
    background-color: #74404d !important;
}

.border-juno-cosmic-1{
    border: 1px solid #74404d !important;
}

.border-juno-cosmic-2{
    border: 2px solid #74404d !important;
}

.border-juno-cosmic-3{
    border: 3px solid #74404d !important;
}

.border-juno-cosmic-4{
    border: 4px solid #74404d !important;
}

.border-juno-cosmic-5{
    border: 5px solid #74404d !important;
}

.text-juno-cosmic{
    color: #74404d !important;
}

.form-juno-cosmic{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-juno-cosmic:focus{
    box-shadow: 0 0 5px #74404d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #74404d !important;
}

.spinner-juno-cosmic{
    border-bottom-color:transparent !important ;
    border-top-color: #74404d !important;
    border-right-color: #74404d !important;
    border-left-color: #74404d !important;
}

/* color-4 ends */

/* color-5 tamarind */


.btn-juno-tamarind{
    background-color: #2d131c !important;
}

.btn-juno-tamarind:hover{
    background-color: #381723 !important;
   
}

.bg-juno-tamarind{
    background-color: #2d131c !important;
}

.border-juno-tamarind-1{
    border: 1px solid #2d131c !important;
}

.border-juno-tamarind-2{
    border: 2px solid #2d131c !important;
}

.border-juno-tamarind-3{
    border: 3px solid #2d131c !important;
}

.border-juno-tamarind-4{
    border: 4px solid #2d131c !important;
}

.border-juno-tamarind-5{
    border: 5px solid #2d131c !important;
}

.text-juno-tamarind{
    color: #2d131c !important;
}

.form-juno-tamarind{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-juno-tamarind:focus{
    box-shadow: 0 0 5px #2d131c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #2d131c !important;
}

.spinner-juno-tamarind{
    border-bottom-color:transparent !important ;
    border-top-color: #2d131c !important;
    border-right-color: #2d131c !important;
    border-left-color: #2d131c !important;
}

/* color-5 ends */