/* color-1 earlsGreen */

.btn-Eqwins-earlsGreen{
    background-color:#b4b732 !important;
}

.btn-Eqwins-earlsGreen:hover{
    background-color: #c7c96d!important;
   
}

.bg-Eqwins-earlsGreen{
    background-color:#b4b732 !important;
}

.border-Eqwins-earlsGreen-1{
    border: 1px solid#b4b732 !important;
}

.border-Eqwins-earlsGreen-2{
    border: 2px solid#b4b732 !important;
}

.border-Eqwins-earlsGreen-3{
    border: 3px solid#b4b732 !important;
}

.border-Eqwins-earlsGreen-4{
    border: 4px solid#b4b732 !important;
}

.border-Eqwins-earlsGreen-5{
    border: 5px solid#b4b732 !important;
}

.text-Eqwins-earlsGreen{
    color:#b4b732 !important;
}

.form-Eqwins-earlsGreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Eqwins-earlsGreen:focus{
    box-shadow: 0 0 5px#b4b732 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#b4b732 !important;
}

.spinner-Eqwins-earlsGreen{
    border-bottom-color:transparent !important ;
    border-top-color:#b4b732 !important;
    border-right-color:#b4b732 !important;
    border-left-color:#b4b732 !important;
}

/* color-1 ends */

/* color-2 mintjulep */
.btn-Eqwins-mintjulep{
    background-color: #f1e3be !important;
}

.btn-Eqwins-mintjulep:hover{
    background-color: #e2d6b5 !important;
   
}

.bg-Eqwins-mintjulep{
    background-color: #f1e3be !important;
}

.border-Eqwins-mintjulep-1{
    border: 1px solid #f1e3be !important;
}

.border-Eqwins-mintjulep-2{
    border: 2px solid #f1e3be !important;
}

.border-Eqwins-mintjulep-3{
    border: 3px solid #f1e3be !important;
}

.border-Eqwins-mintjulep-4{
    border: 4px solid #f1e3be !important;
}

.border-Eqwins-mintjulep-5{
    border: 5px solid #f1e3be !important;
}

.text-Eqwins-mintjulep{
    color: #f1e3be !important;
}

.form-Eqwins-mintjulep{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Eqwins-mintjulep:focus{
    box-shadow: 0 0 5px #f1e3be !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f1e3be !important;
}

.spinner-Eqwins-mintjulep{
    border-bottom-color:transparent !important ;
    border-top-color: #f1e3be !important;
    border-right-color: #f1e3be !important;
    border-left-color: #f1e3be !important;
}

/* color-2 ends */

/* color-3 chino */

.btn-Eqwins-chino{
    background-color: #d0c9ad !important;
}

.btn-Eqwins-chino:hover{
    background-color: #c9c7bf!important;
   
}

.bg-Eqwins-chino{
    background-color: #d0c9ad !important;
}

.border-Eqwins-chino-1{
    border: 1px solid #d0c9ad !important;
}

.border-Eqwins-chino-2{
    border: 2px solid #d0c9ad !important;
}

.border-Eqwins-chino-3{
    border: 3px solid #d0c9ad !important;
}

.border-Eqwins-chino-4{
    border: 4px solid #d0c9ad !important;
}

.border-Eqwins-chino-5{
    border: 5px solid #d0c9ad !important;
}

.text-Eqwins-chino{
    color: #d0c9ad !important;
}

.form-Eqwins-chino{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Eqwins-chino:focus{
    box-shadow: 0 0 5px #d0c9ad !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d0c9ad !important;
}

.spinner-Eqwins-chino{
    border-bottom-color:transparent !important ;
    border-top-color: #d0c9ad !important;
    border-right-color: #d0c9ad !important;
    border-left-color: #d0c9ad !important;
}

/* color-3 ends */

/* color-4 gurka */


.btn-Eqwins-gurka{
    background-color: #969380 !important;
}

.btn-Eqwins-gurka:hover{
    background-color: #9e9d94 !important;
   
}

.bg-Eqwins-gurka{
    background-color: #969380 !important;
}

.border-Eqwins-gurka-1{
    border: 1px solid #969380 !important;
}

.border-Eqwins-gurka-2{
    border: 2px solid #969380 !important;
}

.border-Eqwins-gurka-3{
    border: 3px solid #969380 !important;
}

.border-Eqwins-gurka-4{
    border: 4px solid #969380 !important;
}

.border-Eqwins-gurka-5{
    border: 5px solid #969380 !important;
}

.text-Eqwins-gurka{
    color: #969380 !important;
}

.form-Eqwins-gurka{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Eqwins-gurka:focus{
    box-shadow: 0 0 5px #969380 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #969380 !important;
}

.spinner-Eqwins-gurka{
    border-bottom-color:transparent !important ;
    border-top-color: #969380 !important;
    border-right-color: #969380 !important;
    border-left-color: #969380 !important;
}

/* color-4 ends */

/* color-5 nandor */


.btn-Eqwins-nandor{
    background-color: #4b5757 !important;
}

.btn-Eqwins-nandor:hover{
    background-color: #6a6e6e!important;
   
}

.bg-Eqwins-nandor{
    background-color: #4b5757 !important;
}

.border-Eqwins-nandor-1{
    border: 1px solid #4b5757 !important;
}

.border-Eqwins-nandor-2{
    border: 2px solid #4b5757 !important;
}

.border-Eqwins-nandor-3{
    border: 3px solid #4b5757 !important;
}

.border-Eqwins-nandor-4{
    border: 4px solid #4b5757 !important;
}

.border-Eqwins-nandor-5{
    border: 5px solid #4b5757 !important;
}

.text-Eqwins-nandor{
    color: #4b5757 !important;
}

.form-Eqwins-nandor{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Eqwins-nandor:focus{
    box-shadow: 0 0 5px #4b5757 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #4b5757 !important;
}

.spinner-Eqwins-nandor{
    border-bottom-color:transparent !important ;
    border-top-color: #4b5757 !important;
    border-right-color: #4b5757 !important;
    border-left-color: #4b5757 !important;
}

/* color-5 ends */