/* color-1 redribbon */

.btn-gaia-redribbon{
    background-color:#f21723!important;
}

.btn-gaia-redribbon:hover{
    background-color: #f217229d!important;
   
}

.bg-gaia-redribbon{
    background-color:#f21723!important;
}

.border-gaia-redribbon-1{
    border: 1px solid#f21723!important;
}

.border-gaia-redribbon-2{
    border: 2px solid#f21723!important;
}

.border-gaia-redribbon-3{
    border: 3px solid#f21723!important;
}

.border-gaia-redribbon-4{
    border: 4px solid#f21723!important;
}

.border-gaia-redribbon-5{
    border: 5px solid#f21723!important;
}

.text-gaia-redribbon{
    color:#f21723!important;
}

.form-gaia-redribbon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-gaia-redribbon:focus{
    box-shadow: 0 0 5px#f21723!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#f21723!important;
}

.spinner-gaia-redribbon{
    border-bottom-color:transparent !important ;
    border-top-color:#f21723!important;
    border-right-color:#f21723!important;
    border-left-color:#f21723!important;
}

/* color-1 ends */

/* color-2 cottoncandy */
.btn-gaia-cottoncandy{
    background-color: #ffb8e0!important;
}

.btn-gaia-cottoncandy:hover{
    background-color: #ffb8e0bb!important;
}

.bg-gaia-cottoncandy{
    background-color: #ffb8e0!important;
}

.border-gaia-cottoncandy-1{
    border: 1px solid #ffb8e0!important;
}

.border-gaia-cottoncandy-2{
    border: 2px solid #ffb8e0!important;
}

.border-gaia-cottoncandy-3{
    border: 3px solid #ffb8e0!important;
}

.border-gaia-cottoncandy-4{
    border: 4px solid #ffb8e0!important;
}

.border-gaia-cottoncandy-5{
    border: 5px solid #ffb8e0!important;
}

.text-gaia-cottoncandy{
    color: #ffb8e0!important;
}

.form-gaia-cottoncandy{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-gaia-cottoncandy:focus{
    box-shadow: 0 0 5px #ffb8e0!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffb8e0!important;
}

.spinner-gaia-cottoncandy{
    border-bottom-color:transparent !important ;
    border-top-color: #ffb8e0!important;
    border-right-color: #ffb8e0!important;
    border-left-color: #ffb8e0!important;
}

/* color-2 ends */

/* color-3 yellow */

.btn-gaia-yellow{
    background-color: #ffff01!important;
}

.btn-gaia-yellow:hover{
    background-color: #ffff01b2!important;
   
}

.bg-gaia-yellow{
    background-color: #ffff01!important;
}

.border-gaia-yellow-1{
    border: 1px solid #ffff01!important;
}

.border-gaia-yellow-2{
    border: 2px solid #ffff01!important;
}

.border-gaia-yellow-3{
    border: 3px solid #ffff01!important;
}

.border-gaia-yellow-4{
    border: 4px solid #ffff01!important;
}

.border-gaia-yellow-5{
    border: 5px solid #ffff01!important;
}

.text-gaia-yellow{
    color: #ffff01!important;
}

.form-gaia-yellow{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-gaia-yellow:focus{
    box-shadow: 0 0 5px #ffff01!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffff01!important;
}

.spinner-gaia-yellow{
    border-bottom-color:transparent !important ;
    border-top-color: #ffff01!important;
    border-right-color: #ffff01!important;
    border-left-color: #ffff01!important;
}

/* color-3 ends */

/* color-4 yelloworange */


.btn-gaia-yelloworange{
    background-color: #ffb947!important;
}

.btn-gaia-yelloworange:hover{
    background-color: #ffb947b2!important;
   
}

.bg-gaia-yelloworange{
    background-color: #ffb947!important;
}

.border-gaia-yelloworange-1{
    border: 1px solid #ffb947!important;
}

.border-gaia-yelloworange-2{
    border: 2px solid #ffb947!important;
}

.border-gaia-yelloworange-3{
    border: 3px solid #ffb947!important;
}

.border-gaia-yelloworange-4{
    border: 4px solid #ffb947!important;
}

.border-gaia-yelloworange-5{
    border: 5px solid #ffb947!important;
}

.text-gaia-yelloworange{
    color: #ffb947!important;
}

.form-gaia-yelloworange{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-gaia-yelloworange:focus{
    box-shadow: 0 0 5px #ffb947!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffb947!important;
}

.spinner-gaia-yelloworange{
    border-bottom-color:transparent !important ;
    border-top-color: #ffb947!important;
    border-right-color: #ffb947!important;
    border-left-color: #ffb947!important;
}

/* color-4 ends */

/* color-5 cyan */


.btn-gaia-cyan{
    background-color: #00fee0!important;
}

.btn-gaia-cyan:hover{
    background-color: #00fee0bd!important;
   
}

.bg-gaia-cyan{
    background-color: #00fee0!important;
}

.border-gaia-cyan-1{
    border: 1px solid #00fee0!important;
}

.border-gaia-cyan-2{
    border: 2px solid #00fee0!important;
}

.border-gaia-cyan-3{
    border: 3px solid #00fee0!important;
}

.border-gaia-cyan-4{
    border: 4px solid #00fee0!important;
}

.border-gaia-cyan-5{
    border: 5px solid #00fee0!important;
}

.text-gaia-cyan{
    color: #00fee0!important;
}

.form-gaia-cyan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-gaia-cyan:focus{
    box-shadow: 0 0 5px #00fee0!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #00fee0!important;
}

.spinner-gaia-cyan{
    border-bottom-color:transparent !important ;
    border-top-color: #00fee0!important;
    border-right-color: #00fee0!important;
    border-left-color: #00fee0!important;
}

/* color-5 ends */