/* color-1 bluewhale */

.btn-pontus-bluewhale{
    background-color: #05304b !important;
}

.btn-pontus-bluewhale:hover{
    background-color: #083d5e !important;
   
}

.bg-pontus-bluewhale{
    background-color: #05304b !important;
}

.border-pontus-bluewhale-1{
    border: 1px solid #05304b !important;
}

.border-pontus-bluewhale-2{
    border: 2px solid #05304b !important;
}

.border-pontus-bluewhale-3{
    border: 3px solid #05304b !important;
}

.border-pontus-bluewhale-4{
    border: 4px solid #05304b !important;
}

.border-pontus-bluewhale-5{
    border: 5px solid #05304b !important;
}

.text-pontus-bluewhale{
    color: #05304b !important;
}

.form-pontus-bluewhale{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-pontus-bluewhale:focus{
    box-shadow: 0 0 5px #05304b !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #05304b !important;
}

.spinner-pontus-bluewhale{
    border-bottom-color:transparent !important ;
    border-top-color: #05304b !important;
    border-right-color: #05304b !important;
    border-left-color: #05304b !important;
}

/* color-1 ends */

/* color-2 bluechill */
.btn-pontus-bluechill{
    background-color: #0b7c8d !important;
}

.btn-pontus-bluechill:hover{
    background-color: #1396aa !important;
   
}

.bg-pontus-bluechill{
    background-color: #0b7c8d !important;
}

.border-pontus-bluechill-1{
    border: 1px solid #0b7c8d !important;
}

.border-pontus-bluechill-2{
    border: 2px solid #0b7c8d !important;
}

.border-pontus-bluechill-3{
    border: 3px solid #0b7c8d !important;
}

.border-pontus-bluechill-4{
    border: 4px solid #0b7c8d !important;
}

.border-pontus-bluechill-5{
    border: 5px solid #0b7c8d !important;
}

.text-pontus-bluechill{
    color: #0b7c8d !important;
}

.form-pontus-bluechill{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-pontus-bluechill:focus{
    box-shadow: 0 0 5px #0b7c8d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0b7c8d !important;
}

.spinner-pontus-bluechill{
    border-bottom-color:transparent !important ;
    border-top-color: #0b7c8d !important;
    border-right-color: #0b7c8d !important;
    border-left-color: #0b7c8d !important;
}

/* color-2 ends */

/* color-3 spindle */

.btn-pontus-spindle{
    background-color: #c1d5ec !important;
}

.btn-pontus-spindle:hover{
    background-color: #a2c4eb !important;
   
}

.bg-pontus-spindle{
    background-color: #c1d5ec !important;
}

.border-pontus-spindle-1{
    border: 1px solid #c1d5ec !important;
}

.border-pontus-spindle-2{
    border: 2px solid #c1d5ec !important;
}

.border-pontus-spindle-3{
    border: 3px solid #c1d5ec !important;
}

.border-pontus-spindle-4{
    border: 4px solid #c1d5ec !important;
}

.border-pontus-spindle-5{
    border: 5px solid #c1d5ec !important;
}

.text-pontus-spindle{
    color: #c1d5ec !important;
}

.form-pontus-spindle{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-pontus-spindle:focus{
    box-shadow: 0 0 5px #c1d5ec !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c1d5ec !important;
}

.spinner-pontus-spindle{
    border-bottom-color:transparent !important ;
    border-top-color: #c1d5ec !important;
    border-right-color: #c1d5ec !important;
    border-left-color: #c1d5ec !important;
}

/* color-3 ends */

/* color-4 carnation */


.btn-pontus-carnation{
    background-color: #fc5a5f !important;
}

.btn-pontus-carnation:hover{
    background-color: #fa4349 !important;
   
}

.bg-pontus-carnation{
    background-color: #fc5a5f !important;
}

.border-pontus-carnation-1{
    border: 1px solid #fc5a5f !important;
}

.border-pontus-carnation-2{
    border: 2px solid #fc5a5f !important;
}

.border-pontus-carnation-3{
    border: 3px solid #fc5a5f !important;
}

.border-pontus-carnation-4{
    border: 4px solid #fc5a5f !important;
}

.border-pontus-carnation-5{
    border: 5px solid #fc5a5f !important;
}

.text-pontus-carnation{
    color: #fc5a5f !important;
}

.form-pontus-carnation{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-pontus-carnation:focus{
    box-shadow: 0 0 5px #fc5a5f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fc5a5f !important;
}

.spinner-pontus-carnation{
    border-bottom-color:transparent !important ;
    border-top-color: #fc5a5f !important;
    border-right-color: #fc5a5f !important;
    border-left-color: #fc5a5f !important;
}

/* color-4 ends */

/* color-5 cardinal */


.btn-pontus-cardinal{
    background-color: #c91d23 !important;
}

.btn-pontus-cardinal:hover{
    background-color: #c73539 !important;
   
}

.bg-pontus-cardinal{
    background-color: #c91d23 !important;
}

.border-pontus-cardinal-1{
    border: 1px solid #c91d23 !important;
}

.border-pontus-cardinal-2{
    border: 2px solid #c91d23 !important;
}

.border-pontus-cardinal-3{
    border: 3px solid #c91d23 !important;
}

.border-pontus-cardinal-4{
    border: 4px solid #c91d23 !important;
}

.border-pontus-cardinal-5{
    border: 5px solid #c91d23 !important;
}

.text-pontus-cardinal{
    color: #c91d23 !important;
}

.form-pontus-cardinal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-pontus-cardinal:focus{
    box-shadow: 0 0 5px #c91d23 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c91d23 !important;
}

.spinner-pontus-cardinal{
    border-bottom-color:transparent !important ;
    border-top-color: #c91d23 !important;
    border-right-color: #c91d23 !important;
    border-left-color: #c91d23 !important;
}

/* color-5 ends */