/* color-1 titan-elephant */

.btn-titan-elephant{
    background-color: #153d56 !important;
}

.btn-titan-elephant:hover{
    background-color: #205575 !important;
   
}

.bg-titan-elephant{
    background-color: #153d56 !important;
}

.border-titan-elephant-1{
    border: 1px solid #153d56 !important;
}

.border-titan-elephant-2{
    border: 2px solid #153d56 !important;
}

.border-titan-elephant-3{
    border: 3px solid #153d56 !important;
}

.border-titan-elephant-4{
    border: 4px solid #153d56 !important;
}

.border-titan-elephant-5{
    border: 5px solid #153d56 !important;
}

.text-titan-elephant{
    color: #153d56 !important;
}

.form-titan-elephant{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-titan-elephant:focus{
    box-shadow: 0 0 5px #153d56 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #153d56 !important;
}

.spinner-titan-elephant{
    border-bottom-color:transparent !important ;
    border-top-color: #153d56 !important;
    border-right-color: #153d56 !important;
    border-left-color: #153d56 !important;
}

/* color-1 ends */

/* color-2 astral */
.btn-titan-astral{
    background-color: #376ea5 !important;
}

.btn-titan-astral:hover{
    background-color: #195b9e !important;
   
}

.bg-titan-astral{
    background-color: #376ea5 !important;
}

.border-titan-astral-1{
    border: 1px solid #376ea5 !important;
}

.border-titan-astral-2{
    border: 2px solid #376ea5 !important;
}

.border-titan-astral-3{
    border: 3px solid #376ea5 !important;
}

.border-titan-astral-4{
    border: 4px solid #376ea5 !important;
}

.border-titan-astral-5{
    border: 5px solid #376ea5 !important;
}

.text-titan-astral{
    color: #376ea5 !important;
}

.form-titan-astral{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-titan-astral:focus{
    box-shadow: 0 0 5px #376ea5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #376ea5 !important;
}

.spinner-titan-astral{
    border-bottom-color:transparent !important ;
    border-top-color: #376ea5 !important;
    border-right-color: #376ea5 !important;
    border-left-color: #376ea5 !important;
}

/* color-2 ends */

/* color-3 shakesphere */

.btn-titan-shakesphere{
    background-color: #58a6d7 !important;
}

.btn-titan-shakesphere:hover{
    background-color: #2892d4 !important;
   
}

.bg-titan-shakesphere{
    background-color: #58a6d7 !important;
}

.border-titan-shakesphere-1{
    border: 1px solid #58a6d7 !important;
}

.border-titan-shakesphere-2{
    border: 2px solid #58a6d7 !important;
}

.border-titan-shakesphere-3{
    border: 3px solid #58a6d7 !important;
}

.border-titan-shakesphere-4{
    border: 4px solid #58a6d7 !important;
}

.border-titan-shakesphere-5{
    border: 5px solid #58a6d7 !important;
}

.text-titan-shakesphere{
    color: #58a6d7 !important;
}

.form-titan-shakesphere{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-titan-shakesphere:focus{
    box-shadow: 0 0 5px #58a6d7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #58a6d7 !important;
}

.spinner-titan-shakesphere{
    border-bottom-color:transparent !important ;
    border-top-color: #58a6d7 !important;
    border-right-color: #58a6d7 !important;
    border-left-color: #58a6d7 !important;
}

/* color-3 ends */

/* color-4 malibu */


.btn-titan-malibu{
    background-color: #82d2f5 !important;
}

.btn-titan-malibu:hover{
    background-color: #57c3f1 !important;
   
}

.bg-titan-malibu{
    background-color: #82d2f5 !important;
}

.border-titan-malibu-1{
    border: 1px solid #82d2f5 !important;
}

.border-titan-malibu-2{
    border: 2px solid #82d2f5 !important;
}

.border-titan-malibu-3{
    border: 3px solid #82d2f5 !important;
}

.border-titan-malibu-4{
    border: 4px solid #82d2f5 !important;
}

.border-titan-malibu-5{
    border: 5px solid #82d2f5 !important;
}

.text-titan-malibu{
    color: #82d2f5 !important;
}

.form-titan-malibu{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-titan-malibu:focus{
    box-shadow: 0 0 5px #82d2f5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #82d2f5 !important;
}

.spinner-titan-malibu{
    border-bottom-color:transparent !important ;
    border-top-color: #82d2f5 !important;
    border-right-color: #82d2f5 !important;
    border-left-color: #82d2f5 !important;
}

/* color-4 ends */

/* color-5 malibuu */


.btn-titan-malibuu{
    background-color: #90e5f7 !important;
}

.btn-titan-malibuu:hover{
    background-color: #58e0fc !important;
   
}

.bg-titan-malibuu{
    background-color: #90e5f7 !important;
}

.border-titan-malibuu-1{
    border: 1px solid #90e5f7 !important;
}

.border-titan-malibuu-2{
    border: 2px solid #90e5f7 !important;
}

.border-titan-malibuu-3{
    border: 3px solid #90e5f7 !important;
}

.border-titan-malibuu-4{
    border: 4px solid #90e5f7 !important;
}

.border-titan-malibuu-5{
    border: 5px solid #90e5f7 !important;
}

.text-titan-malibuu{
    color: #90e5f7 !important;
}

.form-titan-malibuu{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-titan-malibuu:focus{
    box-shadow: 0 0 5px #90e5f7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #90e5f7 !important;
}

.spinner-titan-malibuu{
    border-bottom-color:transparent !important ;
    border-top-color: #90e5f7 !important;
    border-right-color: #90e5f7 !important;
    border-left-color: #90e5f7 !important;
}

/* color-5 ends */