/* color-1 ecruwhite */

.btn-sati-ecruwhite{
    background-color: #faf9f1 !important;
}

.btn-sati-ecruwhite:hover{
    background-color: #eee7b5 !important;
   
}

.bg-sati-ecruwhite{
    background-color: #faf9f1 !important;
}

.border-sati-ecruwhite-1{
    border: 1px solid #faf9f1 !important;
}

.border-sati-ecruwhite-2{
    border: 2px solid #faf9f1 !important;
}

.border-sati-ecruwhite-3{
    border: 3px solid #faf9f1 !important;
}

.border-sati-ecruwhite-4{
    border: 4px solid #faf9f1 !important;
}

.border-sati-ecruwhite-5{
    border: 5px solid #faf9f1 !important;
}

.text-sati-ecruwhite{
    color: #faf9f1 !important;
}

.form-sati-ecruwhite{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-sati-ecruwhite:focus{
    box-shadow: 0 0 5px #faf9f1 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #faf9f1 !important;
}

.spinner-sati-ecruwhite{
    border-bottom-color:transparent !important ;
    border-top-color: #faf9f1 !important;
    border-right-color: #faf9f1 !important;
    border-left-color: #faf9f1 !important;
}

/* color-1 ends */

/* color-2 straw */
.btn-sati-straw{
    background-color: #d2c381 !important;
}

.btn-sati-straw:hover{
    background-color: #cab65e !important;
   
}

.bg-sati-straw{
    background-color: #d2c381 !important;
}

.border-sati-straw-1{
    border: 1px solid #d2c381 !important;
}

.border-sati-straw-2{
    border: 2px solid #d2c381 !important;
}

.border-sati-straw-3{
    border: 3px solid #d2c381 !important;
}

.border-sati-straw-4{
    border: 4px solid #d2c381 !important;
}

.border-sati-straw-5{
    border: 5px solid #d2c381 !important;
}

.text-sati-straw{
    color: #d2c381 !important;
}

.form-sati-straw{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-sati-straw:focus{
    box-shadow: 0 0 5px #d2c381 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d2c381 !important;
}

.spinner-sati-straw{
    border-bottom-color:transparent !important ;
    border-top-color: #d2c381 !important;
    border-right-color: #d2c381 !important;
    border-left-color: #d2c381 !important;
}

/* color-2 ends */

/* color-3 congobrown */

.btn-sati-congobrown{
    background-color: #5c323e !important;
}

.btn-sati-congobrown:hover{
    background-color: #6e3e4c !important;
   
}

.bg-sati-congobrown{
    background-color: #5c323e !important;
}

.border-sati-congobrown-1{
    border: 1px solid #5c323e !important;
}

.border-sati-congobrown-2{
    border: 2px solid #5c323e !important;
}

.border-sati-congobrown-3{
    border: 3px solid #5c323e !important;
}

.border-sati-congobrown-4{
    border: 4px solid #5c323e !important;
}

.border-sati-congobrown-5{
    border: 5px solid #5c323e !important;
}

.text-sati-congobrown{
    color: #5c323e !important;
}

.form-sati-congobrown{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-sati-congobrown:focus{
    box-shadow: 0 0 5px #5c323e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5c323e !important;
}

.spinner-sati-congobrown{
    border-bottom-color:transparent !important ;
    border-top-color: #5c323e !important;
    border-right-color: #5c323e !important;
    border-left-color: #5c323e !important;
}

/* color-3 ends */

/* color-4 aubergine */


.btn-sati-aubergine{
    background-color: #330619 !important;
}

.btn-sati-aubergine:hover{
    background-color: #460b23 !important;
   
}

.bg-sati-aubergine{
    background-color: #330619 !important;
}

.border-sati-aubergine-1{
    border: 1px solid #330619 !important;
}

.border-sati-aubergine-2{
    border: 2px solid #330619 !important;
}

.border-sati-aubergine-3{
    border: 3px solid #330619 !important;
}

.border-sati-aubergine-4{
    border: 4px solid #330619 !important;
}

.border-sati-aubergine-5{
    border: 5px solid #330619 !important;
}

.text-sati-aubergine{
    color: #330619 !important;
}

.form-sati-aubergine{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-sati-aubergine:focus{
    box-shadow: 0 0 5px #330619 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #330619 !important;
}

.spinner-sati-aubergine{
    border-bottom-color:transparent !important ;
    border-top-color: #330619 !important;
    border-right-color: #330619 !important;
    border-left-color: #330619 !important;
}

/* color-4 ends */

/* color-5 temptress */


.btn-sati-temptress{
    background-color: #26000f !important;
}

.btn-sati-temptress:hover{
    background-color: #3a061b !important;
   
}

.bg-sati-temptress{
    background-color: #26000f !important;
}

.border-sati-temptress-1{
    border: 1px solid #26000f !important;
}

.border-sati-temptress-2{
    border: 2px solid #26000f !important;
}

.border-sati-temptress-3{
    border: 3px solid #26000f !important;
}

.border-sati-temptress-4{
    border: 4px solid #26000f !important;
}

.border-sati-temptress-5{
    border: 5px solid #26000f !important;
}

.text-sati-temptress{
    color: #26000f !important;
}

.form-sati-temptress{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-sati-temptress:focus{
    box-shadow: 0 0 5px #26000f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #26000f !important;
}

.spinner-sati-temptress{
    border-bottom-color:transparent !important ;
    border-top-color: #26000f !important;
    border-right-color: #26000f !important;
    border-left-color: #26000f !important;
}

/* color-5 ends */