/* color-1 donjuan*/

.btn-hade-donjuan{
    background-color: #64505d !important;
}

.btn-hade-donjuan:hover{
    background-color: #77606f !important;
   
}

.bg-hade-donjuan{
    background-color: #64505d !important;
}

.border-hade-donjuan-1{
    border: 1px solid #64505d !important;
}

.border-hade-donjuan-2{
    border: 2px solid #64505d !important;
}

.border-hade-donjuan-3{
    border: 3px solid #64505d !important;
}

.border-hade-donjuan-4{
    border: 4px solid #64505d !important;
}

.border-hade-donjuan-5{
    border: 5px solid #64505d !important;
}

.text-hade-donjuan{
    color: #64505d !important;
}

.form-hade-donjuan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hade-donjuan:focus{
    box-shadow: 0 0 5px #64505d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #64505d !important;
}

.spinner-hade-donjuan{
    border-bottom-color:transparent !important ;
    border-top-color: #64505d !important;
    border-right-color: #64505d !important;
    border-left-color: #64505d !important;
}

/* color-1 ends */

/* color-2 auchico */
.btn-hade-auchico{
    background-color: #9d5964 !important;
}

.btn-hade-auchico:hover{
    background-color: #a04453 !important;
   
}

.bg-hade-auchico{
    background-color: #9d5964 !important;
}

.border-hade-auchico-1{
    border: 1px solid #9d5964 !important;
}

.border-hade-auchico-2{
    border: 2px solid #9d5964 !important;
}

.border-hade-auchico-3{
    border: 3px solid #9d5964 !important;
}

.border-hade-auchico-4{
    border: 4px solid #9d5964 !important;
}

.border-hade-auchico-5{
    border: 5px solid #9d5964 !important;
}

.text-hade-auchico{
    color: #9d5964 !important;
}

.form-hade-auchico{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hade-auchico:focus{
    box-shadow: 0 0 5px #9d5964 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #9d5964 !important;
}

.spinner-hade-auchico{
    border-bottom-color:transparent !important ;
    border-top-color: #9d5964 !important;
    border-right-color: #9d5964 !important;
    border-left-color: #9d5964 !important;
}

/* color-2 ends */

/* color-3 chestnutrose */

.btn-hade-chestnutrose{
    background-color: #c6926c !important;
}

.btn-hade-chestnutrose:hover{
    background-color: #c47f4d !important;
   
}

.bg-hade-chestnutrose{
    background-color: #c6926c !important;
}

.border-hade-chestnutrose-1{
    border: 1px solid #c6926c !important;
}

.border-hade-chestnutrose-2{
    border: 2px solid #c6926c !important;
}

.border-hade-chestnutrose-3{
    border: 3px solid #c6926c !important;
}

.border-hade-chestnutrose-4{
    border: 4px solid #c6926c !important;
}

.border-hade-chestnutrose-5{
    border: 5px solid #c6926c !important;
}

.text-hade-chestnutrose{
    color: #c6926c !important;
}

.form-hade-chestnutrose{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hade-chestnutrose:focus{
    box-shadow: 0 0 5px #c6926c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c6926c !important;
}

.spinner-hade-chestnutrose{
    border-bottom-color:transparent !important ;
    border-top-color: #c6926c !important;
    border-right-color: #c6926c !important;
    border-left-color: #c6926c !important;
}

/* color-3 ends */

/* color-4 lynch */


.btn-hade-lynch{
    background-color: #5f7896 !important;
}

.btn-hade-lynch:hover{
    background-color: #3f628d !important;
   
}

.bg-hade-lynch{
    background-color: #5f7896 !important;
}

.border-hade-lynch-1{
    border: 1px solid #5f7896 !important;
}

.border-hade-lynch-2{
    border: 2px solid #5f7896 !important;
}

.border-hade-lynch-3{
    border: 3px solid #5f7896 !important;
}

.border-hade-lynch-4{
    border: 4px solid #5f7896 !important;
}

.border-hade-lynch-5{
    border: 5px solid #5f7896 !important;
}

.text-hade-lynch{
    color: #5f7896 !important;
}

.form-hade-lynch{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hade-lynch:focus{
    box-shadow: 0 0 5px #5f7896 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5f7896 !important;
}

.spinner-hade-lynch{
    border-bottom-color:transparent !important ;
    border-top-color: #5f7896 !important;
    border-right-color: #5f7896 !important;
    border-left-color: #5f7896 !important;
}

/* color-4 ends */

/* color-5 pickledbluewood */


.btn-hade-pickledbluewood{
    background-color: #324655 !important;
}

.btn-hade-pickledbluewood:hover{
    background-color: #3f586b !important;
   
}

.bg-hade-pickledbluewood{
    background-color: #324655 !important;
}

.border-hade-pickledbluewood-1{
    border: 1px solid #324655 !important;
}

.border-hade-pickledbluewood-2{
    border: 2px solid #324655 !important;
}

.border-hade-pickledbluewood-3{
    border: 3px solid #324655 !important;
}

.border-hade-pickledbluewood-4{
    border: 4px solid #324655 !important;
}

.border-hade-pickledbluewood-5{
    border: 5px solid #324655 !important;
}

.text-hade-pickledbluewood{
    color: #324655 !important;
}

.form-hade-pickledbluewood{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hade-pickledbluewood:focus{
    box-shadow: 0 0 5px #324655 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #324655 !important;
}

.spinner-hade-pickledbluewood{
    border-bottom-color:transparent !important ;
    border-top-color: #324655 !important;
    border-right-color: #324655 !important;
    border-left-color: #324655 !important;
}

/* color-5 ends */