/* color-1 outerspace */

.btn-rock-outerspace{
    background-color:#333f3f!important;
}

.btn-rock-outerspace:hover{
    background-color: #455555!important;
   
}

.bg-rock-outerspace{
    background-color:#333f3f!important;
}

.border-rock-outerspace-1{
    border: 1px solid#333f3f!important;
}

.border-rock-outerspace-2{
    border: 2px solid#333f3f!important;
}

.border-rock-outerspace-3{
    border: 3px solid#333f3f!important;
}

.border-rock-outerspace-4{
    border: 4px solid#333f3f!important;
}

.border-rock-outerspace-5{
    border: 5px solid#333f3f!important;
}

.text-rock-outerspace{
    color:#333f3f!important;
}

.form-rock-outerspace{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-rock-outerspace:focus{
    box-shadow: 0 0 5px#333f3f!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#333f3f!important;
}

.spinner-rock-outerspace{
    border-bottom-color:transparent !important ;
    border-top-color:#333f3f!important;
    border-right-color:#333f3f!important;
    border-left-color:#333f3f!important;
}

/* color-1 ends */

/* color-2 ronchi */
.btn-rock-ronchi{
    background-color: #e7c7f0!important;
}

.btn-rock-ronchi:hover{
    background-color: #e1b4ee!important;
}

.bg-rock-ronchi{
    background-color: #e7c7f0!important;
}

.border-rock-ronchi-1{
    border: 1px solid #e7c7f0!important;
}

.border-rock-ronchi-2{
    border: 2px solid #e7c7f0!important;
}

.border-rock-ronchi-3{
    border: 3px solid #e7c7f0!important;
}

.border-rock-ronchi-4{
    border: 4px solid #e7c7f0!important;
}

.border-rock-ronchi-5{
    border: 5px solid #e7c7f0!important;
}

.text-rock-ronchi{
    color: #e7c7f0!important;
}

.form-rock-ronchi{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-rock-ronchi:focus{
    box-shadow: 0 0 5px #e7c7f0!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e7c7f0!important;
}

.spinner-rock-ronchi{
    border-bottom-color:transparent !important ;
    border-top-color: #e7c7f0!important;
    border-right-color: #e7c7f0!important;
    border-left-color: #e7c7f0!important;
}

/* color-2 ends */

/* color-3 festival */

.btn-rock-festival{
    background-color: #fcf569!important;
}

.btn-rock-festival:hover{
    background-color: #fcf569af!important;
   
}

.bg-rock-festival{
    background-color: #fcf569!important;
}

.border-rock-festival-1{
    border: 1px solid #fcf569!important;
}

.border-rock-festival-2{
    border: 2px solid #fcf569!important;
}

.border-rock-festival-3{
    border: 3px solid #fcf569!important;
}

.border-rock-festival-4{
    border: 4px solid #fcf569!important;
}

.border-rock-festival-5{
    border: 5px solid #fcf569!important;
}

.text-rock-festival{
    color: #fcf569!important;
}

.form-rock-festival{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-rock-festival:focus{
    box-shadow: 0 0 5px #fcf569!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fcf569!important;
}

.spinner-rock-festival{
    border-bottom-color:transparent !important ;
    border-top-color: #fcf569!important;
    border-right-color: #fcf569!important;
    border-left-color: #fcf569!important;
}

/* color-3 ends */

/* color-4 clearday */


.btn-rock-clearday{
    background-color: #eafff8!important;
}

.btn-rock-clearday:hover{
    background-color: #dde7e4!important;
   
}

.bg-rock-clearday{
    background-color: #eafff8!important;
}

.border-rock-clearday-1{
    border: 1px solid #eafff8!important;
}

.border-rock-clearday-2{
    border: 2px solid #eafff8!important;
}

.border-rock-clearday-3{
    border: 3px solid #eafff8!important;
}

.border-rock-clearday-4{
    border: 4px solid #eafff8!important;
}

.border-rock-clearday-5{
    border: 5px solid #eafff8!important;
}

.text-rock-clearday{
    color: #eafff8!important;
}

.form-rock-clearday{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-rock-clearday:focus{
    box-shadow: 0 0 5px #eafff8!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #eafff8!important;
}

.spinner-rock-clearday{
    border-bottom-color:transparent !important ;
    border-top-color: #eafff8!important;
    border-right-color: #eafff8!important;
    border-left-color: #eafff8!important;
}

/* color-4 ends */

/* color-5 towerday */


.btn-rock-towerday{
    background-color: #aac0bd!important;
}

.btn-rock-towerday:hover{
    background-color: #c7cecd!important;
   
}

.bg-rock-towerday{
    background-color: #aac0bd!important;
}

.border-rock-towerday-1{
    border: 1px solid #aac0bd!important;
}

.border-rock-towerday-2{
    border: 2px solid #aac0bd!important;
}

.border-rock-towerday-3{
    border: 3px solid #aac0bd!important;
}

.border-rock-towerday-4{
    border: 4px solid #aac0bd!important;
}

.border-rock-towerday-5{
    border: 5px solid #aac0bd!important;
}

.text-rock-towerday{
    color: #aac0bd!important;
}

.form-rock-towerday{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-rock-towerday:focus{
    box-shadow: 0 0 5px #aac0bd!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #aac0bd!important;
}

.spinner-rock-towerday{
    border-bottom-color:transparent !important ;
    border-top-color: #aac0bd!important;
    border-right-color: #aac0bd!important;
    border-left-color: #aac0bd!important;
}

/* color-5 ends */