/* color-1 lucky */

.btn-ourea-lucky{
    background-color: #b18f19 !important;
}

.btn-ourea-lucky:hover{
    background-color: #c2a230 !important;
   
}

.bg-ourea-lucky{
    background-color: #b18f19 !important;
}

.border-ourea-lucky-1{
    border: 1px solid #b18f19 !important;
}

.border-ourea-lucky-2{
    border: 2px solid #b18f19 !important;
}

.border-ourea-lucky-3{
    border: 3px solid #b18f19 !important;
}

.border-ourea-lucky-4{
    border: 4px solid #b18f19 !important;
}

.border-ourea-lucky-5{
    border: 5px solid #b18f19 !important;
}

.text-ourea-lucky{
    color: #b18f19 !important;
}

.form-ourea-lucky{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ourea-lucky:focus{
    box-shadow: 0 0 5px #b18f19 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #b18f19 !important;
}

.spinner-ourea-lucky{
    border-bottom-color:transparent !important ;
    border-top-color: #b18f19 !important;
    border-right-color: #b18f19 !important;
    border-left-color: #b18f19 !important;
}

/* color-1 ends */

/* color-2 wildwillow */
.btn-ourea-wildwillow{
    background-color: #c3c379 !important;
}

.btn-ourea-wildwillow:hover{
    background-color: #d8d85a !important;
   
}

.bg-ourea-wildwillow{
    background-color: #c3c379 !important;
}

.border-ourea-wildwillow-1{
    border: 1px solid #c3c379 !important;
}

.border-ourea-wildwillow-2{
    border: 2px solid #c3c379 !important;
}

.border-ourea-wildwillow-3{
    border: 3px solid #c3c379 !important;
}

.border-ourea-wildwillow-4{
    border: 4px solid #c3c379 !important;
}

.border-ourea-wildwillow-5{
    border: 5px solid #c3c379 !important;
}

.text-ourea-wildwillow{
    color: #c3c379 !important;
}

.form-ourea-wildwillow{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ourea-wildwillow:focus{
    box-shadow: 0 0 5px #c3c379 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c3c379 !important;
}

.spinner-ourea-wildwillow{
    border-bottom-color:transparent !important ;
    border-top-color: #c3c379 !important;
    border-right-color: #c3c379 !important;
    border-left-color: #c3c379 !important;
}

/* color-2 ends */

/* color-3 cadetblue */

.btn-ourea-cadetblue{
    background-color: #a5b5c5 !important;
}

.btn-ourea-cadetblue:hover{
    background-color: #84a7ca !important;
   
}

.bg-ourea-cadetblue{
    background-color: #a5b5c5 !important;
}

.border-ourea-cadetblue-1{
    border: 1px solid #a5b5c5 !important;
}

.border-ourea-cadetblue-2{
    border: 2px solid #a5b5c5 !important;
}

.border-ourea-cadetblue-3{
    border: 3px solid #a5b5c5 !important;
}

.border-ourea-cadetblue-4{
    border: 4px solid #a5b5c5 !important;
}

.border-ourea-cadetblue-5{
    border: 5px solid #a5b5c5 !important;
}

.text-ourea-cadetblue{
    color: #a5b5c5 !important;
}

.form-ourea-cadetblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ourea-cadetblue:focus{
    box-shadow: 0 0 5px #a5b5c5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a5b5c5 !important;
}

.spinner-ourea-cadetblue{
    border-bottom-color:transparent !important ;
    border-top-color: #a5b5c5 !important;
    border-right-color: #a5b5c5 !important;
    border-left-color: #a5b5c5 !important;
}

/* color-3 ends */

/* color-4 sanmarina */


.btn-ourea-sanmarina{
    background-color: #5069ab !important;
}

.btn-ourea-sanmarina:hover{
    background-color: #3252aa !important;
   
}

.bg-ourea-sanmarina{
    background-color: #5069ab !important;
}

.border-ourea-sanmarina-1{
    border: 1px solid #5069ab !important;
}

.border-ourea-sanmarina-2{
    border: 2px solid #5069ab !important;
}

.border-ourea-sanmarina-3{
    border: 3px solid #5069ab !important;
}

.border-ourea-sanmarina-4{
    border: 4px solid #5069ab !important;
}

.border-ourea-sanmarina-5{
    border: 5px solid #5069ab !important;
}

.text-ourea-sanmarina{
    color: #5069ab !important;
}

.form-ourea-sanmarina{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ourea-sanmarina:focus{
    box-shadow: 0 0 5px #5069ab !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5069ab !important;
}

.spinner-ourea-sanmarina{
    border-bottom-color:transparent !important ;
    border-top-color: #5069ab !important;
    border-right-color: #5069ab !important;
    border-left-color: #5069ab !important;
}

/* color-4 ends */

/* color-5 bayofmany */


.btn-ourea-bayofmany{
    background-color: #1f457d !important;
}

.btn-ourea-bayofmany:hover{
    background-color: #3c5c8b !important;
   
}

.bg-ourea-bayofmany{
    background-color: #1f457d !important;
}

.border-ourea-bayofmany-1{
    border: 1px solid #1f457d !important;
}

.border-ourea-bayofmany-2{
    border: 2px solid #1f457d !important;
}

.border-ourea-bayofmany-3{
    border: 3px solid #1f457d !important;
}

.border-ourea-bayofmany-4{
    border: 4px solid #1f457d !important;
}

.border-ourea-bayofmany-5{
    border: 5px solid #1f457d !important;
}

.text-ourea-bayofmany{
    color: #1f457d !important;
}

.form-ourea-bayofmany{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ourea-bayofmany:focus{
    box-shadow: 0 0 5px #1f457d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #1f457d !important;
}

.spinner-ourea-bayofmany{
    border-bottom-color:transparent !important ;
    border-top-color: #1f457d !important;
    border-right-color: #1f457d !important;
    border-left-color: #1f457d !important;
}

/* color-5 ends */