/* color-1 stiletto */

.btn-ukek-stiletto{
    background-color: #a1363d !important;
}

.btn-ukek-stiletto:hover{
    background-color: #8b2c33 !important;
   
}

.bg-ukek-stiletto{
    background-color: #a1363d !important;
}

.border-ukek-stiletto-1{
    border: 1px solid #a1363d !important;
}

.border-ukek-stiletto-2{
    border: 2px solid #a1363d !important;
}

.border-ukek-stiletto-3{
    border: 3px solid #a1363d !important;
}

.border-ukek-stiletto-4{
    border: 4px solid #a1363d !important;
}

.border-ukek-stiletto-5{
    border: 5px solid #a1363d !important;
}

.text-ukek-stiletto{
    color: #a1363d !important;
}

.form-ukek-stiletto{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ukek-stiletto:focus{
    box-shadow: 0 0 5px #a1363d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a1363d !important;
}

.spinner-ukek-stiletto{
    border-bottom-color:transparent !important ;
    border-top-color: #a1363d !important;
    border-right-color: #a1363d !important;
    border-left-color: #a1363d !important;
}

/* color-1 ends */

/* color-2 neworleans */
.btn-ukek-neworleans{
    background-color: #f2d99f !important;
}

.btn-ukek-neworleans:hover{
    background-color: #eecb79 !important;
   
}

.bg-ukek-neworleans{
    background-color: #f2d99f !important;
}

.border-ukek-neworleans-1{
    border: 1px solid #f2d99f !important;
}

.border-ukek-neworleans-2{
    border: 2px solid #f2d99f !important;
}

.border-ukek-neworleans-3{
    border: 3px solid #f2d99f !important;
}

.border-ukek-neworleans-4{
    border: 4px solid #f2d99f !important;
}

.border-ukek-neworleans-5{
    border: 5px solid #f2d99f !important;
}

.text-ukek-neworleans{
    color: #f2d99f !important;
}

.form-ukek-neworleans{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ukek-neworleans:focus{
    box-shadow: 0 0 5px #f2d99f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f2d99f !important;
}

.spinner-ukek-neworleans{
    border-bottom-color:transparent !important ;
    border-top-color: #f2d99f !important;
    border-right-color: #f2d99f !important;
    border-left-color: #f2d99f !important;
}

/* color-2 ends */

/* color-3 swampgreen */

.btn-ukek-swampgreen{
    background-color: #b0b78c !important;
}

.btn-ukek-swampgreen:hover{
    background-color: #aab864 !important;
   
}

.bg-ukek-swampgreen{
    background-color: #b0b78c !important;
}

.border-ukek-swampgreen-1{
    border: 1px solid #b0b78c !important;
}

.border-ukek-swampgreen-2{
    border: 2px solid #b0b78c !important;
}

.border-ukek-swampgreen-3{
    border: 3px solid #b0b78c !important;
}

.border-ukek-swampgreen-4{
    border: 4px solid #b0b78c !important;
}

.border-ukek-swampgreen-5{
    border: 5px solid #b0b78c !important;
}

.text-ukek-swampgreen{
    color: #b0b78c !important;
}

.form-ukek-swampgreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ukek-swampgreen:focus{
    box-shadow: 0 0 5px #b0b78c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #b0b78c !important;
}

.spinner-ukek-swampgreen{
    border-bottom-color:transparent !important ;
    border-top-color: #b0b78c !important;
    border-right-color: #b0b78c !important;
    border-left-color: #b0b78c !important;
}

/* color-3 ends */

/* color-4 smaltblue */


.btn-ukek-smaltblue{
    background-color: #538387 !important;
}

.btn-ukek-smaltblue:hover{
    background-color: #73979b !important;
   
}

.bg-ukek-smaltblue{
    background-color: #538387 !important;
}

.border-ukek-smaltblue-1{
    border: 1px solid #538387 !important;
}

.border-ukek-smaltblue-2{
    border: 2px solid #538387 !important;
}

.border-ukek-smaltblue-3{
    border: 3px solid #538387 !important;
}

.border-ukek-smaltblue-4{
    border: 4px solid #538387 !important;
}

.border-ukek-smaltblue-5{
    border: 5px solid #538387 !important;
}

.text-ukek-smaltblue{
    color: #538387 !important;
}

.form-ukek-smaltblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ukek-smaltblue:focus{
    box-shadow: 0 0 5px #538387 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #538387 !important;
}

.spinner-ukek-smaltblue{
    border-bottom-color:transparent !important ;
    border-top-color: #538387 !important;
    border-right-color: #538387 !important;
    border-left-color: #538387 !important;
}

/* color-4 ends */

/* color-5 charade */


.btn-ukek-charade{
    background-color: #2b2e37 !important;
}

.btn-ukek-charade:hover{
    background-color: #363942 !important;
   
}

.bg-ukek-charade{
    background-color: #2b2e37 !important;
}

.border-ukek-charade-1{
    border: 1px solid #2b2e37 !important;
}

.border-ukek-charade-2{
    border: 2px solid #2b2e37 !important;
}

.border-ukek-charade-3{
    border: 3px solid #2b2e37 !important;
}

.border-ukek-charade-4{
    border: 4px solid #2b2e37 !important;
}

.border-ukek-charade-5{
    border: 5px solid #2b2e37 !important;
}

.text-ukek-charade{
    color: #2b2e37 !important;
}

.form-ukek-charade{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ukek-charade:focus{
    box-shadow: 0 0 5px #2b2e37 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #2b2e37 !important;
}

.spinner-ukek-charade{
    border-bottom-color:transparent !important ;
    border-top-color: #2b2e37 !important;
    border-right-color: #2b2e37 !important;
    border-left-color: #2b2e37 !important;
}

/* color-5 ends */