/* color-1 DonkeyBrown */

.btn-Linen-DonkeyBrown{
    background-color: #A48a7b !important;
}

.btn-Linen-DonkeyBrown:hover{
    background-color: rgb(187, 167, 142) !important;
   
}

.bg-Linen-DonkeyBrown{
    background-color: #A48a7b !important;
}

.border-Linen-DonkeyBrown-1{
    border: 1px solid #A48a7b !important;
}

.border-Linen-DonkeyBrown-2{
    border: 2px solid #A48a7b !important;
}

.border-Linen-DonkeyBrown-3{
    border: 3px solid #A48a7b !important;
}

.border-Linen-DonkeyBrown-4{
    border: 4px solid #A48a7b !important;
}

.border-Linen-DonkeyBrown-5{
    border: 5px solid #A48a7b !important;
}

.text-Linen-DonkeyBrown{
    color: #A48a7b !important;
}

.form-Linen-DonkeyBrown{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Linen-DonkeyBrown:focus{
    box-shadow: 0 0 5px #A48a7b !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #A48a7b !important;
}

.spinner-Linen-DonkeyBrown{
    border-bottom-color:transparent !important ;
    border-top-color: #A48a7b !important;
    border-right-color: #A48a7b !important;
    border-left-color: #A48a7b !important;
}

/* color-1 ends */

/* color-2 AmethystSmoke */
.btn-Linen-AmethystSmoke{
    background-color:#Ab95b9 !important;
}

.btn-Linen-AmethystSmoke:hover{
    background-color: rgb(207, 120, 248) !important;
   
}

.bg-Linen-AmethystSmoke{
    background-color:#Ab95b9 !important;
}

.border-Linen-AmethystSmoke-1{
    border: 1px solid#Ab95b9 !important;
}

.border-Linen-AmethystSmoke-2{
    border: 2px solid#Ab95b9 !important;
}

.border-Linen-AmethystSmoke-3{
    border: 3px solid#Ab95b9 !important;
}

.border-Linen-AmethystSmoke-4{
    border: 4px solid#Ab95b9 !important;
}

.border-Linen-AmethystSmoke-5{
    border: 5px solid#Ab95b9 !important;
}

.text-Linen-AmethystSmoke{
    color:#Ab95b9 !important;
}

.form-Linen-AmethystSmoke{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Linen-AmethystSmoke:focus{
    box-shadow: 0 0 5px#Ab95b9 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Ab95b9 !important;
}

.spinner-Linen-AmethystSmoke{
    border-bottom-color:transparent !important ;
    border-top-color:#Ab95b9 !important;
    border-right-color:#Ab95b9 !important;
    border-left-color:#Ab95b9 !important;
}

/* color-2 ends */

/* color-3 Cinnabar */

.btn-Linen-Cinnabar{
    background-color: #E64a4b !important;
}

.btn-Linen-Cinnabar:hover{
    background-color: #e97c63 !important;
   
}

.bg-Linen-Cinnabar{
    background-color: #E64a4b !important;
}

.border-Linen-Cinnabar-1{
    border: 1px solid #E64a4b !important;
}

.border-Linen-Cinnabar-2{
    border: 2px solid #E64a4b !important;
}

.border-Linen-Cinnabar-3{
    border: 3px solid #E64a4b !important;
}

.border-Linen-Cinnabar-4{
    border: 4px solid #E64a4b !important;
}

.border-Linen-Cinnabar-5{
    border: 5px solid #E64a4b !important;
}

.text-Linen-Cinnabar{
    color: #E64a4b !important;
}

.form-Linen-Cinnabar{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Linen-Cinnabar:focus{
    box-shadow: 0 0 5px #E64a4b !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E64a4b !important;
}

.spinner-Linen-Cinnabar{
    border-bottom-color:transparent !important ;
    border-top-color: #E64a4b !important;
    border-right-color: #E64a4b !important;
    border-left-color: #E64a4b !important;
}

/* color-3 ends */

/* color-4 RedDamask */


.btn-Linen-RedDamask{
    background-color: #Dc7d3b !important;
}

.btn-Linen-RedDamask:hover{
    background-color: rgb(243, 128, 52) !important;
   
}

.bg-Linen-RedDamask{
    background-color: #Dc7d3b !important;
}

.border-Linen-RedDamask-1{
    border: 1px solid #Dc7d3b !important;
}

.border-Linen-RedDamask-2{
    border: 2px solid #Dc7d3b !important;
}

.border-Linen-RedDamask-3{
    border: 3px solid #Dc7d3b !important;
}

.border-Linen-RedDamask-4{
    border: 4px solid #Dc7d3b !important;
}

.border-Linen-RedDamask-5{
    border: 5px solid #Dc7d3b !important;
}

.text-Linen-RedDamask{
    color: #Dc7d3b !important;
}

.form-Linen-RedDamask{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Linen-RedDamask:focus{
    box-shadow: 0 0 5px #Dc7d3b !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Dc7d3b !important;
}

.spinner-Linen-RedDamask{
    border-bottom-color:transparent !important ;
    border-top-color: #Dc7d3b !important;
    border-right-color: #Dc7d3b !important;
    border-left-color: #Dc7d3b !important;
}

/* color-4 ends */

/* color-5 BattleshipGray */


.btn-Linen-BattleshipGray{
    background-color: #889673 !important;
}

.btn-Linen-BattleshipGray:hover{
    background-color: rgb(120, 143, 109) !important;
   
}

.bg-Linen-BattleshipGray{
    background-color: #889673 !important;
}

.border-Linen-BattleshipGray-1{
    border: 1px solid #889673 !important;
}

.border-Linen-BattleshipGray-2{
    border: 2px solid #889673 !important;
}

.border-Linen-BattleshipGray-3{
    border: 3px solid #889673 !important;
}

.border-Linen-BattleshipGray-4{
    border: 4px solid #889673 !important;
}

.border-Linen-BattleshipGray-5{
    border: 5px solid #889673 !important;
}

.text-Linen-BattleshipGray{
    color: #889673 !important;
}

.form-Linen-BattleshipGray{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Linen-BattleshipGray:focus{
    box-shadow: 0 0 5px #889673 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #889673 !important;
}

.spinner-Linen-BattleshipGray{
    border-bottom-color:transparent !important ;
    border-top-color: #889673 !important;
    border-right-color: #889673 !important;
    border-left-color: #889673 !important;
}

/* color-5 ends */