/* color-1 rose */

.btn-nyx-rose{
    background-color:#f50974!important;
}

.btn-nyx-rose:hover{
    background-color: #f5097491!important;
   
}

.bg-nyx-rose{
    background-color:#f50974!important;
}

.border-nyx-rose-1{
    border: 1px solid#f50974!important;
}

.border-nyx-rose-2{
    border: 2px solid#f50974!important;
}

.border-nyx-rose-3{
    border: 3px solid#f50974!important;
}

.border-nyx-rose-4{
    border: 4px solid#f50974!important;
}

.border-nyx-rose-5{
    border: 5px solid#f50974!important;
}

.text-nyx-rose{
    color:#f50974!important;
}

.form-nyx-rose{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nyx-rose:focus{
    box-shadow: 0 0 5px#f50974!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#f50974!important;
}

.spinner-nyx-rose{
    border-bottom-color:transparent !important ;
    border-top-color:#f50974!important;
    border-right-color:#f50974!important;
    border-left-color:#f50974!important;
}

/* color-1 ends */

/* color-2 persianpink */
.btn-nyx-persianpink{
    background-color: #f77cdd!important;
}

.btn-nyx-persianpink:hover{
    background-color: #f77cdd98!important;
}

.bg-nyx-persianpink{
    background-color: #f77cdd!important;
}

.border-nyx-persianpink-1{
    border: 1px solid #f77cdd!important;
}

.border-nyx-persianpink-2{
    border: 2px solid #f77cdd!important;
}

.border-nyx-persianpink-3{
    border: 3px solid #f77cdd!important;
}

.border-nyx-persianpink-4{
    border: 4px solid #f77cdd!important;
}

.border-nyx-persianpink-5{
    border: 5px solid #f77cdd!important;
}

.text-nyx-persianpink{
    color: #f77cdd!important;
}

.form-nyx-persianpink{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nyx-persianpink:focus{
    box-shadow: 0 0 5px #f77cdd!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f77cdd!important;
}

.spinner-nyx-persianpink{
    border-bottom-color:transparent !important ;
    border-top-color: #f77cdd!important;
    border-right-color: #f77cdd!important;
    border-left-color: #f77cdd!important;
}

/* color-2 ends */

/* color-3 wewak */

.btn-nyx-wewak{
    background-color: #f49e8f!important;
}

.btn-nyx-wewak:hover{
    background-color: #f49e8f93!important;
   
}

.bg-nyx-wewak{
    background-color: #f49e8f!important;
}

.border-nyx-wewak-1{
    border: 1px solid #f49e8f!important;
}

.border-nyx-wewak-2{
    border: 2px solid #f49e8f!important;
}

.border-nyx-wewak-3{
    border: 3px solid #f49e8f!important;
}

.border-nyx-wewak-4{
    border: 4px solid #f49e8f!important;
}

.border-nyx-wewak-5{
    border: 5px solid #f49e8f!important;
}

.text-nyx-wewak{
    color: #f49e8f!important;
}

.form-nyx-wewak{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nyx-wewak:focus{
    box-shadow: 0 0 5px #f49e8f!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f49e8f!important;
}

.spinner-nyx-wewak{
    border-bottom-color:transparent !important ;
    border-top-color: #f49e8f!important;
    border-right-color: #f49e8f!important;
    border-left-color: #f49e8f!important;
}

/* color-3 ends */

/* color-4 ripelemon */


.btn-nyx-ripelemon{
    background-color: #f7d114!important;
}

.btn-nyx-ripelemon:hover{
    background-color: #f7d1148f!important;
   
}

.bg-nyx-ripelemon{
    background-color: #f7d114!important;
}

.border-nyx-ripelemon-1{
    border: 1px solid #f7d114!important;
}

.border-nyx-ripelemon-2{
    border: 2px solid #f7d114!important;
}

.border-nyx-ripelemon-3{
    border: 3px solid #f7d114!important;
}

.border-nyx-ripelemon-4{
    border: 4px solid #f7d114!important;
}

.border-nyx-ripelemon-5{
    border: 5px solid #f7d114!important;
}

.text-nyx-ripelemon{
    color: #f7d114!important;
}

.form-nyx-ripelemon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nyx-ripelemon:focus{
    box-shadow: 0 0 5px #f7d114!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f7d114!important;
}

.spinner-nyx-ripelemon{
    border-bottom-color:transparent !important ;
    border-top-color: #f7d114!important;
    border-right-color: #f7d114!important;
    border-left-color: #f7d114!important;
}

/* color-4 ends */

/* color-5 malibu */


.btn-nyx-malibu{
    background-color: #6fb3f4!important;
}

.btn-nyx-malibu:hover{
    background-color: #6fb4f4b4!important;
   
}

.bg-nyx-malibu{
    background-color: #6fb3f4!important;
}

.border-nyx-malibu-1{
    border: 1px solid #6fb3f4!important;
}

.border-nyx-malibu-2{
    border: 2px solid #6fb3f4!important;
}

.border-nyx-malibu-3{
    border: 3px solid #6fb3f4!important;
}

.border-nyx-malibu-4{
    border: 4px solid #6fb3f4!important;
}

.border-nyx-malibu-5{
    border: 5px solid #6fb3f4!important;
}

.text-nyx-malibu{
    color: #6fb3f4!important;
}

.form-nyx-malibu{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nyx-malibu:focus{
    box-shadow: 0 0 5px #6fb3f4!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6fb3f4!important;
}

.spinner-nyx-malibu{
    border-bottom-color:transparent !important ;
    border-top-color: #6fb3f4!important;
    border-right-color: #6fb3f4!important;
    border-left-color: #6fb3f4!important;
}

/* color-5 ends */