/* color-1 cinder */

.btn-listen-cinder{
    background-color:#10101c!important;
}

.btn-listen-cinder:hover{
    background-color: #10101c8e!important;
   
}

.bg-listen-cinder{
    background-color:#10101c!important;
}

.border-listen-cinder-1{
    border: 1px solid#10101c!important;
}

.border-listen-cinder-2{
    border: 2px solid#10101c!important;
}

.border-listen-cinder-3{
    border: 3px solid#10101c!important;
}

.border-listen-cinder-4{
    border: 4px solid#10101c!important;
}

.border-listen-cinder-5{
    border: 5px solid#10101c!important;
}

.text-listen-cinder{
    color:#10101c!important;
}

.form-listen-cinder{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-listen-cinder:focus{
    box-shadow: 0 0 5px#10101c!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#10101c!important;
}

.spinner-listen-cinder{
    border-bottom-color:transparent !important ;
    border-top-color:#10101c!important;
    border-right-color:#10101c!important;
    border-left-color:#10101c!important;
}

/* color-1 ends */

/* color-2 outerspace */
.btn-listen-outerspace{
    background-color: #2e3641!important;
}

.btn-listen-outerspace:hover{
    background-color: #53585e!important;
}

.bg-listen-outerspace{
    background-color: #2e3641!important;
}

.border-listen-outerspace-1{
    border: 1px solid #2e3641!important;
}

.border-listen-outerspace-2{
    border: 2px solid #2e3641!important;
}

.border-listen-outerspace-3{
    border: 3px solid #2e3641!important;
}

.border-listen-outerspace-4{
    border: 4px solid #2e3641!important;
}

.border-listen-outerspace-5{
    border: 5px solid #2e3641!important;
}

.text-listen-outerspace{
    color: #2e3641!important;
}

.form-listen-outerspace{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-listen-outerspace:focus{
    box-shadow: 0 0 5px #2e3641!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #2e3641!important;
}

.spinner-listen-outerspace{
    border-bottom-color:transparent !important ;
    border-top-color: #2e3641!important;
    border-right-color: #2e3641!important;
    border-left-color: #2e3641!important;
}

/* color-2 ends */

/* color-3 nandor */

.btn-listen-nandor{
    background-color: #515352!important;
}

.btn-listen-nandor:hover{
    background-color: #7a817e!important;
   
}

.bg-listen-nandor{
    background-color: #515352!important;
}

.border-listen-nandor-1{
    border: 1px solid #515352!important;
}

.border-listen-nandor-2{
    border: 2px solid #515352!important;
}

.border-listen-nandor-3{
    border: 3px solid #515352!important;
}

.border-listen-nandor-4{
    border: 4px solid #515352!important;
}

.border-listen-nandor-5{
    border: 5px solid #515352!important;
}

.text-listen-nandor{
    color: #515352!important;
}

.form-listen-nandor{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-listen-nandor:focus{
    box-shadow: 0 0 5px #515352!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #515352!important;
}

.spinner-listen-nandor{
    border-bottom-color:transparent !important ;
    border-top-color: #515352!important;
    border-right-color: #515352!important;
    border-left-color: #515352!important;
}

/* color-3 ends */

/* color-4 gurkha */


.btn-listen-gurkha{
    background-color: #a1a278!important;
}

.btn-listen-gurkha:hover{
    background-color: #a2a363!important;
   
}

.bg-listen-gurkha{
    background-color: #a1a278!important;
}

.border-listen-gurkha-1{
    border: 1px solid #a1a278!important;
}

.border-listen-gurkha-2{
    border: 2px solid #a1a278!important;
}

.border-listen-gurkha-3{
    border: 3px solid #a1a278!important;
}

.border-listen-gurkha-4{
    border: 4px solid #a1a278!important;
}

.border-listen-gurkha-5{
    border: 5px solid #a1a278!important;
}

.text-listen-gurkha{
    color: #a1a278!important;
}

.form-listen-gurkha{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-listen-gurkha:focus{
    box-shadow: 0 0 5px #a1a278!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a1a278!important;
}

.spinner-listen-gurkha{
    border-bottom-color:transparent !important ;
    border-top-color: #a1a278!important;
    border-right-color: #a1a278!important;
    border-left-color: #a1a278!important;
}

/* color-4 ends */

/* color-5 candycorn */


.btn-listen-candycorn{
    background-color: #fbf15e!important;
}

.btn-listen-candycorn:hover{
    background-color: #f7f096!important;
   
}

.bg-listen-candycorn{
    background-color: #fbf15e!important;
}

.border-listen-candycorn-1{
    border: 1px solid #fbf15e!important;
}

.border-listen-candycorn-2{
    border: 2px solid #fbf15e!important;
}

.border-listen-candycorn-3{
    border: 3px solid #fbf15e!important;
}

.border-listen-candycorn-4{
    border: 4px solid #fbf15e!important;
}

.border-listen-candycorn-5{
    border: 5px solid #fbf15e!important;
}

.text-listen-candycorn{
    color: #fbf15e!important;
}

.form-listen-candycorn{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-listen-candycorn:focus{
    box-shadow: 0 0 5px #fbf15e!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fbf15e!important;
}

.spinner-listen-candycorn{
    border-bottom-color:transparent !important ;
    border-top-color: #fbf15e!important;
    border-right-color: #fbf15e!important;
    border-left-color: #fbf15e!important;
}

/* color-5 ends */