/* color-1 temptress */

.btn-tan-temptress{
    background-color: #3b0000 !important;
}

.btn-tan-temptress:hover{
    background-color: #3b0000de !important;
   
}

.bg-tan-temptress{
    background-color: #3b0000 !important;
}

.border-tan-temptress-1{
    border: 1px solid #3b0000 !important;
}

.border-tan-temptress-2{
    border: 2px solid #3b0000 !important;
}

.border-tan-temptress-3{
    border: 3px solid #3b0000 !important;
}

.border-tan-temptress-4{
    border: 4px solid #3b0000 !important;
}

.border-tan-temptress-5{
    border: 5px solid #3b0000 !important;
}

.text-tan-temptress{
    color: #3b0000 !important;
}

.form-tan-temptress{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tan-temptress:focus{
    box-shadow: 0 0 5px #3b0000 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #3b0000 !important;
}

.spinner-tan-temptress{
    border-bottom-color:transparent !important ;
    border-top-color: #3b0000 !important;
    border-right-color: #3b0000 !important;
    border-left-color: #3b0000 !important;
}

/* color-1 ends */

/* color-2 nutmeg */
.btn-tan-nutmeg{
    background-color: #782c2e !important;
}

.btn-tan-nutmeg:hover{
    background-color: #782c2fe5 !important;
   
}

.bg-tan-nutmeg{
    background-color: #782c2e !important;
}

.border-tan-nutmeg-1{
    border: 1px solid #782c2e !important;
}

.border-tan-nutmeg-2{
    border: 2px solid #782c2e !important;
}

.border-tan-nutmeg-3{
    border: 3px solid #782c2e !important;
}

.border-tan-nutmeg-4{
    border: 4px solid #782c2e !important;
}

.border-tan-nutmeg-5{
    border: 5px solid #782c2e !important;
}

.text-tan-nutmeg{
    color: #782c2e !important;
}

.form-tan-nutmeg{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tan-nutmeg:focus{
    box-shadow: 0 0 5px #782c2e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #782c2e !important;
}

.spinner-tan-nutmeg{
    border-bottom-color:transparent !important ;
    border-top-color: #782c2e !important;
    border-right-color: #782c2e !important;
    border-left-color: #782c2e !important;
}

/* color-2 ends */

/* color-3 appleblossom */

.btn-tan-appleblossom{
    background-color: #b14640 !important;
}

.btn-tan-appleblossom:hover{
    background-color: #b14640e8  !important;
   
}

.bg-tan-appleblossom{
    background-color: #b14640 !important;
}

.border-tan-appleblossom-1{
    border: 1px solid #b14640 !important;
}

.border-tan-appleblossom-2{
    border: 2px solid #b14640 !important;
}

.border-tan-appleblossom-3{
    border: 3px solid #b14640 !important;
}

.border-tan-appleblossom-4{
    border: 4px solid #b14640 !important;
}

.border-tan-appleblossom-5{
    border: 5px solid #b14640 !important;
}

.text-tan-appleblossom{
    color: #b14640 !important;
}

.form-tan-appleblossom{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tan-appleblossom:focus{
    box-shadow: 0 0 5px #b14640 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #b14640 !important;
}

.spinner-tan-appleblossom{
    border-bottom-color:transparent !important ;
    border-top-color: #b14640 !important;
    border-right-color: #b14640 !important;
    border-left-color: #b14640 !important;
}

/* color-3 ends */

/* color-4 antiquebrass */


.btn-tan-antiquebrass{
    background-color: #c87c5a !important;
}

.btn-tan-antiquebrass:hover{
    background-color: #c87d5aea !important;
   
}

.bg-tan-antiquebrass{
    background-color: #c87c5a !important;
}

.border-tan-antiquebrass-1{
    border: 1px solid #c87c5a !important;
}

.border-tan-antiquebrass-2{
    border: 2px solid #c87c5a !important;
}

.border-tan-antiquebrass-3{
    border: 3px solid #c87c5a !important;
}

.border-tan-antiquebrass-4{
    border: 4px solid #c87c5a !important;
}

.border-tan-antiquebrass-5{
    border: 5px solid #c87c5a !important;
}

.text-tan-antiquebrass{
    color: #c87c5a !important;
}

.form-tan-antiquebrass{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tan-antiquebrass:focus{
    box-shadow: 0 0 5px #c87c5a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c87c5a !important;
}

.spinner-tan-antiquebrass{
    border-bottom-color:transparent !important ;
    border-top-color: #c87c5a !important;
    border-right-color: #c87c5a !important;
    border-left-color: #c87c5a !important;
}

/* color-4 ends */

/* color-5 wheat */


.btn-tan-wheat{
    background-color: #f3d6ae !important;
}

.btn-tan-wheat:hover{
    background-color: #f3d6aee5 !important;
   
}

.bg-tan-wheat{
    background-color: #f3d6ae !important;
}

.border-tan-wheat-1{
    border: 1px solid #f3d6ae !important;
}

.border-tan-wheat-2{
    border: 2px solid #f3d6ae !important;
}

.border-tan-wheat-3{
    border: 3px solid #f3d6ae !important;
}

.border-tan-wheat-4{
    border: 4px solid #f3d6ae !important;
}

.border-tan-wheat-5{
    border: 5px solid #f3d6ae !important;
}

.text-tan-wheat{
    color: #f3d6ae !important;
}

.form-tan-wheat{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tan-wheat:focus{
    box-shadow: 0 0 5px #f3d6ae !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f3d6ae !important;
}

.spinner-tan-wheat{
    border-bottom-color:transparent !important ;
    border-top-color: #f3d6ae !important;
    border-right-color: #f3d6ae !important;
    border-left-color: #f3d6ae !important;
}

/* color-5 ends */