/* color-1 woodbark */

.btn-hiwood-woodbark{
    background-color: #230a06 !important;
}

.btn-hiwood-woodbark:hover{
    background-color: rgb(54, 19, 14) !important;
   
}

.bg-hiwood-woodbark{
    background-color: #230a06 !important;
}

.border-hiwood-woodbark-1{
    border: 1px solid #230a06 !important;
}

.border-hiwood-woodbark-2{
    border: 2px solid #230a06 !important;
}

.border-hiwood-woodbark-3{
    border: 3px solid #230a06 !important;
}

.border-hiwood-woodbark-4{
    border: 4px solid #230a06 !important;
}

.border-hiwood-woodbark-5{
    border: 5px solid #230a06 !important;
}

.text-hiwood-woodbark{
    color: #230a06 !important;
}

.form-hiwood-woodbark{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hiwood-woodbark:focus{
    box-shadow: 0 0 5px #230a06 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #230a06 !important;
}

.spinner-hiwood-woodbark{
    border-bottom-color:transparent !important ;
    border-top-color: #230a06 !important;
    border-right-color: #230a06 !important;
    border-left-color: #230a06 !important;
}

/* color-1 ends */

/* color-2 indiantan */
.btn-hiwood-indiantan{
    background-color: #571902 !important;
}

.btn-hiwood-indiantan:hover{
    background-color: rgba(87, 25, 2, 0.945) !important;
   
}

.bg-hiwood-indiantan{
    background-color: #571902 !important;
}

.border-hiwood-indiantan-1{
    border: 1px solid #571902 !important;
}

.border-hiwood-indiantan-2{
    border: 2px solid #571902 !important;
}

.border-hiwood-indiantan-3{
    border: 3px solid #571902 !important;
}

.border-hiwood-indiantan-4{
    border: 4px solid #571902 !important;
}

.border-hiwood-indiantan-5{
    border: 5px solid #571902 !important;
}

.text-hiwood-indiantan{
    color: #571902 !important;
}

.form-hiwood-indiantan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hiwood-indiantan:focus{
    box-shadow: 0 0 5px #571902 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #571902 !important;
}

.spinner-hiwood-indiantan{
    border-bottom-color:transparent !important ;
    border-top-color: #571902 !important;
    border-right-color: #571902 !important;
    border-left-color: #571902 !important;
}

/* color-2 ends */

/* color-3 hotcinnamon */

.btn-hiwood-hotcinnamon{
    background-color: #d8621a !important;
}

.btn-hiwood-hotcinnamon:hover{
    background-color: #d8631af1 !important;
   
}

.bg-hiwood-hotcinnamon{
    background-color: #d8621a !important;
}

.border-hiwood-hotcinnamon-1{
    border: 1px solid #d8621a !important;
}

.border-hiwood-hotcinnamon-2{
    border: 2px solid #d8621a !important;
}

.border-hiwood-hotcinnamon-3{
    border: 3px solid #d8621a !important;
}

.border-hiwood-hotcinnamon-4{
    border: 4px solid #d8621a !important;
}

.border-hiwood-hotcinnamon-5{
    border: 5px solid #d8621a !important;
}

.text-hiwood-hotcinnamon{
    color: #d8621a !important;
}

.form-hiwood-hotcinnamon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hiwood-hotcinnamon:focus{
    box-shadow: 0 0 5px #d8621a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d8621a !important;
}

.spinner-hiwood-hotcinnamon{
    border-bottom-color:transparent !important ;
    border-top-color: #d8621a !important;
    border-right-color: #d8621a !important;
    border-left-color: #d8621a !important;
}

/* color-3 ends */

/* color-4 tuliptree */


.btn-hiwood-tuliptree{
    background-color: #f1a33f !important;
}

.btn-hiwood-tuliptree:hover{
    background-color: rgb(231, 149, 42) !important;
   
}

.bg-hiwood-tuliptree{
    background-color: #f1a33f !important;
}

.border-hiwood-tuliptree-1{
    border: 1px solid #f1a33f !important;
}

.border-hiwood-tuliptree-2{
    border: 2px solid #f1a33f !important;
}

.border-hiwood-tuliptree-3{
    border: 3px solid #f1a33f !important;
}

.border-hiwood-tuliptree-4{
    border: 4px solid #f1a33f !important;
}

.border-hiwood-tuliptree-5{
    border: 5px solid #f1a33f !important;
}

.text-hiwood-tuliptree{
    color: #f1a33f !important;
}

.form-hiwood-tuliptree{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hiwood-tuliptree:focus{
    box-shadow: 0 0 5px #f1a33f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f1a33f !important;
}

.spinner-hiwood-tuliptree{
    border-bottom-color:transparent !important ;
    border-top-color: #f1a33f !important;
    border-right-color: #f1a33f !important;
    border-left-color: #f1a33f !important;
}

/* color-4 ends */

/* color-5 creamcan */


.btn-hiwood-creamcan{
    background-color: #f2ca51 !important;
}

.btn-hiwood-creamcan:hover{
    background-color: rgb(231, 187, 53) !important;
   
}

.bg-hiwood-creamcan{
    background-color: #f2ca51 !important;
}

.border-hiwood-creamcan-1{
    border: 1px solid #f2ca51 !important;
}

.border-hiwood-creamcan-2{
    border: 2px solid #f2ca51 !important;
}

.border-hiwood-creamcan-3{
    border: 3px solid #f2ca51 !important;
}

.border-hiwood-creamcan-4{
    border: 4px solid #f2ca51 !important;
}

.border-hiwood-creamcan-5{
    border: 5px solid #f2ca51 !important;
}

.text-hiwood-creamcan{
    color: #f2ca51 !important;
}

.form-hiwood-creamcan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hiwood-creamcan:focus{
    box-shadow: 0 0 5px #f2ca51 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f2ca51 !important;
}

.spinner-hiwood-creamcan{
    border-bottom-color:transparent !important ;
    border-top-color: #f2ca51 !important;
    border-right-color: #f2ca51 !important;
    border-left-color: #f2ca51 !important;
}

/* color-5 ends */