/* color-1 matrix */

.btn-cruz-matrix{
    background-color: #b04d56 !important;
}

.btn-cruz-matrix:hover{
    background-color: #a13942 !important;
   
}

.bg-cruz-matrix{
    background-color: #b04d56 !important;
}

.border-cruz-matrix-1{
    border: 1px solid #b04d56 !important;
}

.border-cruz-matrix-2{
    border: 2px solid #b04d56 !important;
}

.border-cruz-matrix-3{
    border: 3px solid #b04d56 !important;
}

.border-cruz-matrix-4{
    border: 4px solid #b04d56 !important;
}

.border-cruz-matrix-5{
    border: 5px solid #b04d56 !important;
}

.text-cruz-matrix{
    color: #b04d56 !important;
}

.form-cruz-matrix{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-cruz-matrix:focus{
    box-shadow: 0 0 5px #b04d56 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #b04d56 !important;
}

.spinner-cruz-matrix{
    border-bottom-color:transparent !important ;
    border-top-color: #b04d56 !important;
    border-right-color: #b04d56 !important;
    border-left-color: #b04d56 !important;
}

/* color-1 ends */

/* color-2 elsalva */
.btn-cruz-elsalva{
    background-color: #8e322f !important;
}

.btn-cruz-elsalva:hover{
    background-color: #a83e3a !important;
   
}

.bg-cruz-elsalva{
    background-color: #8e322f !important;
}

.border-cruz-elsalva-1{
    border: 1px solid #8e322f !important;
}

.border-cruz-elsalva-2{
    border: 2px solid #8e322f !important;
}

.border-cruz-elsalva-3{
    border: 3px solid #8e322f !important;
}

.border-cruz-elsalva-4{
    border: 4px solid #8e322f !important;
}

.border-cruz-elsalva-5{
    border: 5px solid #8e322f !important;
}

.text-cruz-elsalva{
    color: #8e322f !important;
}

.form-cruz-elsalva{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-cruz-elsalva:focus{
    box-shadow: 0 0 5px #8e322f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8e322f !important;
}

.spinner-cruz-elsalva{
    border-bottom-color:transparent !important ;
    border-top-color: #8e322f !important;
    border-right-color: #8e322f !important;
    border-left-color: #8e322f !important;
}

/* color-2 ends */

/* color-3 thundora */

.btn-cruz-thundora{
    background-color: #403b3e !important;
}

.btn-cruz-thundora:hover{
    background-color: #50494d !important;
   
}

.bg-cruz-thundora{
    background-color: #403b3e !important;
}

.border-cruz-thundora-1{
    border: 1px solid #403b3e !important;
}

.border-cruz-thundora-2{
    border: 2px solid #403b3e !important;
}

.border-cruz-thundora-3{
    border: 3px solid #403b3e !important;
}

.border-cruz-thundora-4{
    border: 4px solid #403b3e !important;
}

.border-cruz-thundora-5{
    border: 5px solid #403b3e !important;
}

.text-cruz-thundora{
    color: #403b3e !important;
}

.form-cruz-thundora{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-cruz-thundora:focus{
    box-shadow: 0 0 5px #403b3e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #403b3e !important;
}

.spinner-cruz-thundora{
    border-bottom-color:transparent !important ;
    border-top-color: #403b3e !important;
    border-right-color: #403b3e !important;
    border-left-color: #403b3e !important;
}

/* color-3 ends */

/* color-4 soyabean */


.btn-cruz-soyabean{
    background-color: #5b5445 !important;
}

.btn-cruz-soyabean:hover{
    background-color: #6e685a !important;
   
}

.bg-cruz-soyabean{
    background-color: #5b5445 !important;
}

.border-cruz-soyabean-1{
    border: 1px solid #5b5445 !important;
}

.border-cruz-soyabean-2{
    border: 2px solid #5b5445 !important;
}

.border-cruz-soyabean-3{
    border: 3px solid #5b5445 !important;
}

.border-cruz-soyabean-4{
    border: 4px solid #5b5445 !important;
}

.border-cruz-soyabean-5{
    border: 5px solid #5b5445 !important;
}

.text-cruz-soyabean{
    color: #5b5445 !important;
}

.form-cruz-soyabean{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-cruz-soyabean:focus{
    box-shadow: 0 0 5px #5b5445 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5b5445 !important;
}

.spinner-cruz-soyabean{
    border-bottom-color:transparent !important ;
    border-top-color: #5b5445 !important;
    border-right-color: #5b5445 !important;
    border-left-color: #5b5445 !important;
}

/* color-4 ends */

/* color-5 bisonhide */


.btn-cruz-bisonhide{
    background-color: #c5baa5 !important;
}

.btn-cruz-bisonhide:hover{
    background-color: #bba885 !important;
   
}

.bg-cruz-bisonhide{
    background-color: #c5baa5 !important;
}

.border-cruz-bisonhide-1{
    border: 1px solid #c5baa5 !important;
}

.border-cruz-bisonhide-2{
    border: 2px solid #c5baa5 !important;
}

.border-cruz-bisonhide-3{
    border: 3px solid #c5baa5 !important;
}

.border-cruz-bisonhide-4{
    border: 4px solid #c5baa5 !important;
}

.border-cruz-bisonhide-5{
    border: 5px solid #c5baa5 !important;
}

.text-cruz-bisonhide{
    color: #c5baa5 !important;
}

.form-cruz-bisonhide{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-cruz-bisonhide:focus{
    box-shadow: 0 0 5px #c5baa5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c5baa5 !important;
}

.spinner-cruz-bisonhide{
    border-bottom-color:transparent !important ;
    border-top-color: #c5baa5 !important;
    border-right-color: #c5baa5 !important;
    border-left-color: #c5baa5 !important;
}

/* color-5 ends */