/* color-1 pomegranate */

.btn-jetpo-pomegranate{
    background-color: #ef3c38 !important;
}

.btn-jetpo-pomegranate:hover{
    background-color: rgb(252, 73, 70) !important;
   
}

.bg-jetpo-pomegranate{
    background-color: #ef3c38 !important;
}

.border-jetpo-pomegranate-1{
    border: 1px solid #ef3c38 !important;
}

.border-jetpo-pomegranate-2{
    border: 2px solid #ef3c38 !important;
}

.border-jetpo-pomegranate-3{
    border: 3px solid #ef3c38 !important;
}

.border-jetpo-pomegranate-4{
    border: 4px solid #ef3c38 !important;
}

.border-jetpo-pomegranate-5{
    border: 5px solid #ef3c38 !important;
}

.text-jetpo-pomegranate{
    color: #ef3c38 !important;
}

.form-jetpo-pomegranate{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jetpo-pomegranate:focus{
    box-shadow: 0 0 5px #ef3c38 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ef3c38 !important;
}

.spinner-jetpo-pomegranate{
    border-bottom-color:transparent !important ;
    border-top-color: #ef3c38 !important;
    border-right-color: #ef3c38 !important;
    border-left-color: #ef3c38 !important;
}

/* color-1 ends */

/* color-2 almond */
.btn-jetpo-almond{
    background-color: #f0ded0 !important;
}

.btn-jetpo-almond:hover{
    background-color: #f0ded0c9 !important;
   
}

.bg-jetpo-almond{
    background-color: #f0ded0 !important;
}

.border-jetpo-almond-1{
    border: 1px solid #f0ded0 !important;
}

.border-jetpo-almond-2{
    border: 2px solid #f0ded0 !important;
}

.border-jetpo-almond-3{
    border: 3px solid #f0ded0 !important;
}

.border-jetpo-almond-4{
    border: 4px solid #f0ded0 !important;
}

.border-jetpo-almond-5{
    border: 5px solid #f0ded0 !important;
}

.text-jetpo-almond{
    color: #f0ded0 !important;
}

.form-jetpo-almond{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jetpo-almond:focus{
    box-shadow: 0 0 5px #f0ded0 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f0ded0 !important;
}

.spinner-jetpo-almond{
    border-bottom-color:transparent !important ;
    border-top-color: #f0ded0 !important;
    border-right-color: #f0ded0 !important;
    border-left-color: #f0ded0 !important;
}

/* color-2 ends */

/* color-3 thistlegreen */

.btn-jetpo-thistlegreen{
    background-color: #c6c5a7 !important;
}

.btn-jetpo-thistlegreen:hover{
    background-color: rgba(198, 197, 167, 0.849) !important;
   
}

.bg-jetpo-thistlegreen{
    background-color: #c6c5a7 !important;
}

.border-jetpo-thistlegreen-1{
    border: 1px solid #c6c5a7 !important;
}

.border-jetpo-thistlegreen-2{
    border: 2px solid #c6c5a7 !important;
}

.border-jetpo-thistlegreen-3{
    border: 3px solid #c6c5a7 !important;
}

.border-jetpo-thistlegreen-4{
    border: 4px solid #c6c5a7 !important;
}

.border-jetpo-thistlegreen-5{
    border: 5px solid #c6c5a7 !important;
}

.text-jetpo-thistlegreen{
    color: #c6c5a7 !important;
}

.form-jetpo-thistlegreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jetpo-thistlegreen:focus{
    box-shadow: 0 0 5px #c6c5a7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c6c5a7 !important;
}

.spinner-jetpo-thistlegreen{
    border-bottom-color:transparent !important ;
    border-top-color: #c6c5a7 !important;
    border-right-color: #c6c5a7 !important;
    border-left-color: #c6c5a7 !important;
}

/* color-3 ends */

/* color-4 envy */


.btn-jetpo-envy{
    background-color: #8aa78b !important;
}

.btn-jetpo-envy:hover{
    background-color: rgba(138, 166, 139, 0.925) !important;
   
}

.bg-jetpo-envy{
    background-color: #8aa78b !important;
}

.border-jetpo-envy-1{
    border: 1px solid #8aa78b !important;
}

.border-jetpo-envy-2{
    border: 2px solid #8aa78b !important;
}

.border-jetpo-envy-3{
    border: 3px solid #8aa78b !important;
}

.border-jetpo-envy-4{
    border: 4px solid #8aa78b !important;
}

.border-jetpo-envy-5{
    border: 5px solid #8aa78b !important;
}

.text-jetpo-envy{
    color: #8aa78b !important;
}

.form-jetpo-envy{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jetpo-envy:focus{
    box-shadow: 0 0 5px #8aa78b !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8aa78b !important;
}

.spinner-jetpo-envy{
    border-bottom-color:transparent !important ;
    border-top-color: #8aa78b !important;
    border-right-color: #8aa78b !important;
    border-left-color: #8aa78b !important;
}

/* color-4 ends */

/* color-5 jellybean */


.btn-jetpo-jellybean{
    background-color: #229294 !important;
}

.btn-jetpo-jellybean:hover{
    background-color: rgb(42, 161, 163) !important;
   
}

.bg-jetpo-jellybean{
    background-color: #229294 !important;
}

.border-jetpo-jellybean-1{
    border: 1px solid #229294 !important;
}

.border-jetpo-jellybean-2{
    border: 2px solid #229294 !important;
}

.border-jetpo-jellybean-3{
    border: 3px solid #229294 !important;
}

.border-jetpo-jellybean-4{
    border: 4px solid #229294 !important;
}

.border-jetpo-jellybean-5{
    border: 5px solid #229294 !important;
}

.text-jetpo-jellybean{
    color: #229294 !important;
}

.form-jetpo-jellybean{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jetpo-jellybean:focus{
    box-shadow: 0 0 5px #229294 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #229294 !important;
}

.spinner-jetpo-jellybean{
    border-bottom-color:transparent !important ;
    border-top-color: #229294 !important;
    border-right-color: #229294 !important;
    border-left-color: #229294 !important;
}

/* color-5 ends */