/* color-1 iceberg */

.btn-crack-iceberg{
    background-color:#d7f1ee!important;
}

.btn-crack-iceberg:hover{
    background-color: #d7f1eead!important;
   
}

.bg-crack-iceberg{
    background-color:#d7f1ee!important;
}

.border-crack-iceberg-1{
    border: 1px solid#d7f1ee!important;
}

.border-crack-iceberg-2{
    border: 2px solid#d7f1ee!important;
}

.border-crack-iceberg-3{
    border: 3px solid#d7f1ee!important;
}

.border-crack-iceberg-4{
    border: 4px solid#d7f1ee!important;
}

.border-crack-iceberg-5{
    border: 5px solid#d7f1ee!important;
}

.text-crack-iceberg{
    color:#d7f1ee!important;
}

.form-crack-iceberg{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crack-iceberg:focus{
    box-shadow: 0 0 5px#d7f1ee!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#d7f1ee!important;
}

.spinner-crack-iceberg{
    border-bottom-color:transparent !important ;
    border-top-color:#d7f1ee!important;
    border-right-color:#d7f1ee!important;
    border-left-color:#d7f1ee!important;
}

/* color-1 ends */

/* color-2 ming */
.btn-crack-ming{
    background-color: #3d8d84!important;
}

.btn-crack-ming:hover{
    background-color: #3d8d849c!important;
}

.bg-crack-ming{
    background-color: #3d8d84!important;
}

.border-crack-ming-1{
    border: 1px solid #3d8d84!important;
}

.border-crack-ming-2{
    border: 2px solid #3d8d84!important;
}

.border-crack-ming-3{
    border: 3px solid #3d8d84!important;
}

.border-crack-ming-4{
    border: 4px solid #3d8d84!important;
}

.border-crack-ming-5{
    border: 5px solid #3d8d84!important;
}

.text-crack-ming{
    color: #3d8d84!important;
}

.form-crack-ming{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crack-ming:focus{
    box-shadow: 0 0 5px #3d8d84!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #3d8d84!important;
}

.spinner-crack-ming{
    border-bottom-color:transparent !important ;
    border-top-color: #3d8d84!important;
    border-right-color: #3d8d84!important;
    border-left-color: #3d8d84!important;
}

/* color-2 ends */

/* color-3 paradiso */

.btn-crack-paradiso{
    background-color: #286b73!important;
}

.btn-crack-paradiso:hover{
    background-color: #286c7377!important;
   
}

.bg-crack-paradiso{
    background-color: #286b73!important;
}

.border-crack-paradiso-1{
    border: 1px solid #286b73!important;
}

.border-crack-paradiso-2{
    border: 2px solid #286b73!important;
}

.border-crack-paradiso-3{
    border: 3px solid #286b73!important;
}

.border-crack-paradiso-4{
    border: 4px solid #286b73!important;
}

.border-crack-paradiso-5{
    border: 5px solid #286b73!important;
}

.text-crack-paradiso{
    color: #286b73!important;
}

.form-crack-paradiso{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crack-paradiso:focus{
    box-shadow: 0 0 5px #286b73!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #286b73!important;
}

.spinner-crack-paradiso{
    border-bottom-color:transparent !important ;
    border-top-color: #286b73!important;
    border-right-color: #286b73!important;
    border-left-color: #286b73!important;
}

/* color-3 ends */

/* color-4 nileblue */


.btn-crack-nileblue{
    background-color: #19465a!important;
}

.btn-crack-nileblue:hover{
    background-color: #19475ab4!important;
   
}

.bg-crack-nileblue{
    background-color: #19465a!important;
}

.border-crack-nileblue-1{
    border: 1px solid #19465a!important;
}

.border-crack-nileblue-2{
    border: 2px solid #19465a!important;
}

.border-crack-nileblue-3{
    border: 3px solid #19465a!important;
}

.border-crack-nileblue-4{
    border: 4px solid #19465a!important;
}

.border-crack-nileblue-5{
    border: 5px solid #19465a!important;
}

.text-crack-nileblue{
    color: #19465a!important;
}

.form-crack-nileblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crack-nileblue:focus{
    box-shadow: 0 0 5px #19465a!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #19465a!important;
}

.spinner-crack-nileblue{
    border-bottom-color:transparent !important ;
    border-top-color: #19465a!important;
    border-right-color: #19465a!important;
    border-left-color: #19465a!important;
}

/* color-4 ends */

/* color-5 elephant */


.btn-crack-elephant{
    background-color: #0d2e41!important;
}

.btn-crack-elephant:hover{
    background-color: #1b648f!important;
   
}

.bg-crack-elephant{
    background-color: #0d2e41!important;
}

.border-crack-elephant-1{
    border: 1px solid #0d2e41!important;
}

.border-crack-elephant-2{
    border: 2px solid #0d2e41!important;
}

.border-crack-elephant-3{
    border: 3px solid #0d2e41!important;
}

.border-crack-elephant-4{
    border: 4px solid #0d2e41!important;
}

.border-crack-elephant-5{
    border: 5px solid #0d2e41!important;
}

.text-crack-elephant{
    color: #0d2e41!important;
}

.form-crack-elephant{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crack-elephant:focus{
    box-shadow: 0 0 5px #0d2e41!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0d2e41!important;
}

.spinner-crack-elephant{
    border-bottom-color:transparent !important ;
    border-top-color: #0d2e41!important;
    border-right-color: #0d2e41!important;
    border-left-color: #0d2e41!important;
}

/* color-5 ends */