/* color-1 padua */

.btn-candy-padua{
    background-color: #abe5cc !important;
}

.btn-candy-padua:hover{
    background-color: #96dabce7 !important;
   
}

.bg-candy-padua{
    background-color: #abe5cc !important;
}

.border-candy-padua-1{
    border: 1px solid #abe5cc !important;
}

.border-candy-padua-2{
    border: 2px solid #abe5cc !important;
}

.border-candy-padua-3{
    border: 3px solid #abe5cc !important;
}

.border-candy-padua-4{
    border: 4px solid #abe5cc !important;
}

.border-candy-padua-5{
    border: 5px solid #abe5cc !important;
}

.text-candy-padua{
    color: #abe5cc !important;
}

.form-candy-padua{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-candy-padua:focus{
    box-shadow: 0 0 5px #abe5cc !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #abe5cc !important;
}

.spinner-candy-padua{
    border-bottom-color:transparent !important ;
    border-top-color: #abe5cc !important;
    border-right-color: #abe5cc !important;
    border-left-color: #abe5cc !important;
}

/* color-1 ends */

/* color-2 chromewhite */
.btn-candy-chromewhite{
    background-color: #dcebc2 !important;
}

.btn-candy-chromewhite:hover{
    background-color: #d5e7b6 !important;
   
}

.bg-candy-chromewhite{
    background-color: #dcebc2 !important;
}

.border-candy-chromewhite-1{
    border: 1px solid #dcebc2 !important;
}

.border-candy-chromewhite-2{
    border: 2px solid #dcebc2 !important;
}

.border-candy-chromewhite-3{
    border: 3px solid #dcebc2 !important;
}

.border-candy-chromewhite-4{
    border: 4px solid #dcebc2 !important;
}

.border-candy-chromewhite-5{
    border: 5px solid #dcebc2 !important;
}

.text-candy-chromewhite{
    color: #dcebc2 !important;
}

.form-candy-chromewhite{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-candy-chromewhite:focus{
    box-shadow: 0 0 5px #dcebc2 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dcebc2 !important;
}

.spinner-candy-chromewhite{
    border-bottom-color:transparent !important ;
    border-top-color: #dcebc2 !important;
    border-right-color: #dcebc2 !important;
    border-left-color: #dcebc2 !important;
}

/* color-2 ends */

/* color-3 romantic */

.btn-candy-romantic{
    background-color: #fed2b5 !important;
}

.btn-candy-romantic:hover{
    background-color: #fccdae  !important;
   
}

.bg-candy-romantic{
    background-color: #fed2b5 !important;
}

.border-candy-romantic-1{
    border: 1px solid #fed2b5 !important;
}

.border-candy-romantic-2{
    border: 2px solid #fed2b5 !important;
}

.border-candy-romantic-3{
    border: 3px solid #fed2b5 !important;
}

.border-candy-romantic-4{
    border: 4px solid #fed2b5 !important;
}

.border-candy-romantic-5{
    border: 5px solid #fed2b5 !important;
}

.text-candy-romantic{
    color: #fed2b5 !important;
}

.form-candy-romantic{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-candy-romantic:focus{
    box-shadow: 0 0 5px #fed2b5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fed2b5 !important;
}

.spinner-candy-romantic{
    border-bottom-color:transparent !important ;
    border-top-color: #fed2b5 !important;
    border-right-color: #fed2b5 !important;
    border-left-color: #fed2b5 !important;
}

/* color-3 ends */

/* color-4 cornflowerlilac */


.btn-candy-cornflowerlilac{
    background-color: #e84b60 !important;
}

.btn-candy-cornflowerlilac:hover{
    background-color: #e84b60ea !important;
   
}

.bg-candy-cornflowerlilac{
    background-color: #e84b60 !important;
}

.border-candy-cornflowerlilac-1{
    border: 1px solid #e84b60 !important;
}

.border-candy-cornflowerlilac-2{
    border: 2px solid #e84b60 !important;
}

.border-candy-cornflowerlilac-3{
    border: 3px solid #e84b60 !important;
}

.border-candy-cornflowerlilac-4{
    border: 4px solid #e84b60 !important;
}

.border-candy-cornflowerlilac-5{
    border: 5px solid #e84b60 !important;
}

.text-candy-cornflowerlilac{
    color: #e84b60 !important;
}

.form-candy-cornflowerlilac{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-candy-cornflowerlilac:focus{
    box-shadow: 0 0 5px #e84b60 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e84b60 !important;
}

.spinner-candy-cornflowerlilac{
    border-bottom-color:transparent !important ;
    border-top-color: #e84b60 !important;
    border-right-color: #e84b60 !important;
    border-left-color: #e84b60 !important;
}

/* color-4 ends */

/* color-5 pinksalmon */


.btn-candy-pinksalmon{
    background-color: #ff8b98 !important;
}

.btn-candy-pinksalmon:hover{
    background-color: #ff8b99ef !important;
   
}

.bg-candy-pinksalmon{
    background-color: #ff8b98 !important;
}

.border-candy-pinksalmon-1{
    border: 1px solid #ff8b98 !important;
}

.border-candy-pinksalmon-2{
    border: 2px solid #ff8b98 !important;
}

.border-candy-pinksalmon-3{
    border: 3px solid #ff8b98 !important;
}

.border-candy-pinksalmon-4{
    border: 4px solid #ff8b98 !important;
}

.border-candy-pinksalmon-5{
    border: 5px solid #ff8b98 !important;
}

.text-candy-pinksalmon{
    color: #ff8b98 !important;
}

.form-candy-pinksalmon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-candy-pinksalmon:focus{
    box-shadow: 0 0 5px #ff8b98 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ff8b98 !important;
}

.spinner-candy-pinksalmon{
    border-bottom-color:transparent !important ;
    border-top-color: #ff8b98 !important;
    border-right-color: #ff8b98 !important;
    border-left-color: #ff8b98 !important;
}

/* color-5 ends */