/* color-1 orangepeel */

.btn-porli-orangepeel{
    background-color: #ff9900 !important;
}

.btn-porli-orangepeel:hover{
    background-color: rgb(253, 163, 29) !important;
   
}

.bg-porli-orangepeel{
    background-color: #ff9900 !important;
}

.border-porli-orangepeel-1{
    border: 1px solid #ff9900 !important;
}

.border-porli-orangepeel-2{
    border: 2px solid #ff9900 !important;
}

.border-porli-orangepeel-3{
    border: 3px solid #ff9900 !important;
}

.border-porli-orangepeel-4{
    border: 4px solid #ff9900 !important;
}

.border-porli-orangepeel-5{
    border: 5px solid #ff9900 !important;
}

.text-porli-orangepeel{
    color: #ff9900 !important;
}

.form-porli-orangepeel{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-porli-orangepeel:focus{
    box-shadow: 0 0 5px #ff9900 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ff9900 !important;
}

.spinner-porli-orangepeel{
    border-bottom-color:transparent !important ;
    border-top-color: #ff9900 !important;
    border-right-color: #ff9900 !important;
    border-left-color: #ff9900 !important;
}

/* color-1 ends */

/* color-2 anzac */
.btn-porli-anzac{
    background-color: #E0C045 !important;
}

.btn-porli-anzac:hover{
    background-color: rgb(230, 202, 92) !important;
   
}

.bg-porli-anzac{
    background-color: #E0C045 !important;
}

.border-porli-anzac-1{
    border: 1px solid #E0C045 !important;
}

.border-porli-anzac-2{
    border: 2px solid #E0C045 !important;
}

.border-porli-anzac-3{
    border: 3px solid #E0C045 !important;
}

.border-porli-anzac-4{
    border: 4px solid #E0C045 !important;
}

.border-porli-anzac-5{
    border: 5px solid #E0C045 !important;
}

.text-porli-anzac{
    color: #E0C045 !important;
}

.form-porli-anzac{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-porli-anzac:focus{
    box-shadow: 0 0 5px #E0C045 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E0C045 !important;
}

.spinner-porli-anzac{
    border-bottom-color:transparent !important ;
    border-top-color: #E0C045 !important;
    border-right-color: #E0C045 !important;
    border-left-color: #E0C045 !important;
}

/* color-2 ends */

/* color-3 flax */

.btn-porli-flax{
    background-color: #e8df76 !important;
}

.btn-porli-flax:hover{
    background-color: rgb(228, 215, 80) !important;
   
}

.bg-porli-flax{
    background-color: #e8df76 !important;
}

.border-porli-flax-1{
    border: 1px solid #e8df76 !important;
}

.border-porli-flax-2{
    border: 2px solid #e8df76 !important;
}

.border-porli-flax-3{
    border: 3px solid #e8df76 !important;
}

.border-porli-flax-4{
    border: 4px solid #e8df76 !important;
}

.border-porli-flax-5{
    border: 5px solid #e8df76 !important;
}

.text-porli-flax{
    color: #e8df76 !important;
}

.form-porli-flax{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-porli-flax:focus{
    box-shadow: 0 0 5px #e8df76 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e8df76 !important;
}

.spinner-porli-flax{
    border-bottom-color:transparent !important ;
    border-top-color: #e8df76 !important;
    border-right-color: #e8df76 !important;
    border-left-color: #e8df76 !important;
}

/* color-3 ends */

/* color-4 highland */


.btn-porli-highland{
    background-color: #768b61 !important;
}

.btn-porli-highland:hover{
    background-color: rgb(136, 163, 108) !important;
   
}

.bg-porli-highland{
    background-color: #768b61 !important;
}

.border-porli-highland-1{
    border: 1px solid #768b61 !important;
}

.border-porli-highland-2{
    border: 2px solid #768b61 !important;
}

.border-porli-highland-3{
    border: 3px solid #768b61 !important;
}

.border-porli-highland-4{
    border: 4px solid #768b61 !important;
}

.border-porli-highland-5{
    border: 5px solid #768b61 !important;
}

.text-porli-highland{
    color: #768b61 !important;
}

.form-porli-highland{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-porli-highland:focus{
    box-shadow: 0 0 5px #768b61 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #768b61 !important;
}

.spinner-porli-highland{
    border-bottom-color:transparent !important ;
    border-top-color: #768b61 !important;
    border-right-color: #768b61 !important;
    border-left-color: #768b61 !important;
}

/* color-4 ends */

/* color-5 Lunargreen */


.btn-porli-lunargreen{
    background-color: #34483c !important;
}

.btn-porli-lunargreen:hover{
    background-color: rgb(68, 99, 80) !important;
   
}

.bg-porli-lunargreen{
    background-color: #34483c !important;
}

.border-porli-lunargreen-1{
    border: 1px solid #34483c !important;
}

.border-porli-lunargreen-2{
    border: 2px solid #34483c !important;
}

.border-porli-lunargreen-3{
    border: 3px solid #34483c !important;
}

.border-porli-lunargreen-4{
    border: 4px solid #34483c !important;
}

.border-porli-lunargreen-5{
    border: 5px solid #34483c !important;
}

.text-porli-lunargreen{
    color: #34483c !important;
}

.form-porli-lunargreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-porli-lunargreen:focus{
    box-shadow: 0 0 5px #34483c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #34483c !important;
}

.spinner-porli-lunargreen{
    border-bottom-color:transparent !important ;
    border-top-color: #34483c !important;
    border-right-color: #34483c !important;
    border-left-color: #34483c !important;
}

/* color-5 ends */