/* color-1 Eden */

.btn-Coral-Eden{
    background-color:#14584d !important;
}

.btn-Coral-Eden:hover{
    background-color: rgb(21, 117, 117) !important;
   
}

.bg-Coral-Eden{
    background-color:#14584d !important;
}

.border-Coral-Eden-1{
    border: 1px solid#14584d !important;
}

.border-Coral-Eden-2{
    border: 2px solid#14584d !important;
}

.border-Coral-Eden-3{
    border: 3px solid#14584d !important;
}

.border-Coral-Eden-4{
    border: 4px solid#14584d !important;
}

.border-Coral-Eden-5{
    border: 5px solid#14584d !important;
}

.text-Coral-Eden{
    color:#14584d !important;
}

.form-Coral-Eden{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Coral-Eden:focus{
    box-shadow: 0 0 5px#14584d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#14584d !important;
}

.spinner-Coral-Eden{
    border-bottom-color:transparent !important ;
    border-top-color:#14584d !important;
    border-right-color:#14584d !important;
    border-left-color:#14584d !important;
}

/* color-1 ends */

/* color-2 Jade */
.btn-Coral-Jade{
    background-color:#02ab69 !important;
}

.btn-Coral-Jade:hover{
    background-color: rgb(13, 185, 148) !important;
   
}

.bg-Coral-Jade{
    background-color:#02ab69 !important;
}

.border-Coral-Jade-1{
    border: 1px solid#02ab69 !important;
}

.border-Coral-Jade-2{
    border: 2px solid#02ab69 !important;
}

.border-Coral-Jade-3{
    border: 3px solid#02ab69 !important;
}

.border-Coral-Jade-4{
    border: 4px solid#02ab69 !important;
}

.border-Coral-Jade-5{
    border: 5px solid#02ab69 !important;
}

.text-Coral-Jade{
    color:#02ab69 !important;
}

.form-Coral-Jade{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Coral-Jade:focus{
    box-shadow: 0 0 5px#02ab69 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#02ab69 !important;
}

.spinner-Coral-Jade{
    border-bottom-color:transparent !important ;
    border-top-color:#02ab69 !important;
    border-right-color:#02ab69 !important;
    border-left-color:#02ab69 !important;
}

/* color-2 ends */

/* color-3 YellowGreen */

.btn-Coral-YellowGreen{
    background-color: #Ace676 !important;
}

.btn-Coral-YellowGreen:hover{
    background-color: #78e462 !important;
   
}

.bg-Coral-YellowGreen{
    background-color: #Ace676 !important;
}

.border-Coral-YellowGreen-1{
    border: 1px solid #Ace676 !important;
}

.border-Coral-YellowGreen-2{
    border: 2px solid #Ace676 !important;
}

.border-Coral-YellowGreen-3{
    border: 3px solid #Ace676 !important;
}

.border-Coral-YellowGreen-4{
    border: 4px solid #Ace676 !important;
}

.border-Coral-YellowGreen-5{
    border: 5px solid #Ace676 !important;
}

.text-Coral-YellowGreen{
    color: #Ace676 !important;
}

.form-Coral-YellowGreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Coral-YellowGreen:focus{
    box-shadow: 0 0 5px #Ace676 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Ace676 !important;
}

.spinner-Coral-YellowGreen{
    border-bottom-color:transparent !important ;
    border-top-color: #Ace676 !important;
    border-right-color: #Ace676 !important;
    border-left-color: #Ace676 !important;
}

/* color-3 ends */

/* color-4 ParisDaisy */


.btn-Coral-ParisDaisy{
    background-color:#Fff47e !important;
}

.btn-Coral-ParisDaisy:hover{
    background-color: rgb(233, 241, 121) !important;
   
}

.bg-Coral-ParisDaisy{
    background-color:#Fff47e !important;
}

.border-Coral-ParisDaisy-1{
    border: 1px solid#Fff47e !important;
}

.border-Coral-ParisDaisy-2{
    border: 2px solid#Fff47e !important;
}

.border-Coral-ParisDaisy-3{
    border: 3px solid#Fff47e !important;
}

.border-Coral-ParisDaisy-4{
    border: 4px solid#Fff47e !important;
}

.border-Coral-ParisDaisy-5{
    border: 5px solid#Fff47e !important;
}

.text-Coral-ParisDaisy{
    color:#Fff47e !important;
}

.form-Coral-ParisDaisy{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Coral-ParisDaisy:focus{
    box-shadow: 0 0 5px#Fff47e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Fff47e !important;
}

.spinner-Coral-ParisDaisy{
    border-bottom-color:transparent !important ;
    border-top-color:#Fff47e !important;
    border-right-color:#Fff47e !important;
    border-left-color:#Fff47e !important;
}

/* color-4 ends */

/* color-5 Pine */


.btn-Coral-Pine{
    background-color:#Fe8047 !important;
}

.btn-Coral-Pine:hover{
    background-color: rgb(168, 93, 32) !important;
   
}

.bg-Coral-Pine{
    background-color:#Fe8047 !important;
}

.border-Coral-Pine-1{
    border: 1px solid#Fe8047 !important;
}

.border-Coral-Pine-2{
    border: 2px solid#Fe8047 !important;
}

.border-Coral-Pine-3{
    border: 3px solid#Fe8047 !important;
}

.border-Coral-Pine-4{
    border: 4px solid#Fe8047 !important;
}

.border-Coral-Pine-5{
    border: 5px solid#Fe8047 !important;
}

.text-Coral-Pine{
    color:#Fe8047 !important;
}

.form-Coral-Pine{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Coral-Pine:focus{
    box-shadow: 0 0 5px#Fe8047 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Fe8047 !important;
}

.spinner-Coral-Pine{
    border-bottom-color:transparent !important ;
    border-top-color:#Fe8047 !important;
    border-right-color:#Fe8047 !important;
    border-left-color:#Fe8047 !important;
}

/* color-5 ends */