/* color-1 funblue */

.btn-funsky-funblue{
    background-color: #2063b1 !important;
}

.btn-funsky-funblue:hover{
    background-color: #2064b1e5 !important;
   
}

.bg-funsky-funblue{
    background-color: #2063b1 !important;
}

.border-funsky-funblue-1{
    border: 1px solid #2063b1 !important;
}

.border-funsky-funblue-2{
    border: 2px solid #2063b1 !important;
}

.border-funsky-funblue-3{
    border: 3px solid #2063b1 !important;
}

.border-funsky-funblue-4{
    border: 4px solid #2063b1 !important;
}

.border-funsky-funblue-5{
    border: 5px solid #2063b1 !important;
}

.text-funsky-funblue{
    color: #2063b1 !important;
}

.form-funsky-funblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-funsky-funblue:focus{
    box-shadow: 0 0 5px #2063b1 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #2063b1 !important;
}

.spinner-funsky-funblue{
    border-bottom-color:transparent !important ;
    border-top-color: #2063b1 !important;
    border-right-color: #2063b1 !important;
    border-left-color: #2063b1 !important;
}

/* color-1 ends */

/* color-2 shakespeare */
.btn-funsky-shakespeare{
    background-color: #419bd0 !important;
}

.btn-funsky-shakespeare:hover{
    background-color: #419bd0e8 !important;
   
}

.bg-funsky-shakespeare{
    background-color: #419bd0 !important;
}

.border-funsky-shakespeare-1{
    border: 1px solid #419bd0 !important;
}

.border-funsky-shakespeare-2{
    border: 2px solid #419bd0 !important;
}

.border-funsky-shakespeare-3{
    border: 3px solid #419bd0 !important;
}

.border-funsky-shakespeare-4{
    border: 4px solid #419bd0 !important;
}

.border-funsky-shakespeare-5{
    border: 5px solid #419bd0 !important;
}

.text-funsky-shakespeare{
    color: #419bd0 !important;
}

.form-funsky-shakespeare{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-funsky-shakespeare:focus{
    box-shadow: 0 0 5px #419bd0 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #419bd0 !important;
}

.spinner-funsky-shakespeare{
    border-bottom-color:transparent !important ;
    border-top-color: #419bd0 !important;
    border-right-color: #419bd0 !important;
    border-left-color: #419bd0 !important;
}

/* color-2 ends */

/* color-3 skyblue */

.btn-funsky-skyblue{
    background-color: #6abeed !important;
}

.btn-funsky-skyblue:hover{
    background-color: #6abdede0  !important;
   
}

.bg-funsky-skyblue{
    background-color: #6abeed !important;
}

.border-funsky-skyblue-1{
    border: 1px solid #6abeed !important;
}

.border-funsky-skyblue-2{
    border: 2px solid #6abeed !important;
}

.border-funsky-skyblue-3{
    border: 3px solid #6abeed !important;
}

.border-funsky-skyblue-4{
    border: 4px solid #6abeed !important;
}

.border-funsky-skyblue-5{
    border: 5px solid #6abeed !important;
}

.text-funsky-skyblue{
    color: #6abeed !important;
}

.form-funsky-skyblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-funsky-skyblue:focus{
    box-shadow: 0 0 5px #6abeed !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6abeed !important;
}

.spinner-funsky-skyblue{
    border-bottom-color:transparent !important ;
    border-top-color: #6abeed !important;
    border-right-color: #6abeed !important;
    border-left-color: #6abeed !important;
}

/* color-3 ends */

/* color-4 goldengrass */


.btn-funsky-goldengrass{
    background-color: #d8b428 !important;
}

.btn-funsky-goldengrass:hover{
    background-color: #d8b528e1 !important;
   
}

.bg-funsky-goldengrass{
    background-color: #d8b428 !important;
}

.border-funsky-goldengrass-1{
    border: 1px solid #d8b428 !important;
}

.border-funsky-goldengrass-2{
    border: 2px solid #d8b428 !important;
}

.border-funsky-goldengrass-3{
    border: 3px solid #d8b428 !important;
}

.border-funsky-goldengrass-4{
    border: 4px solid #d8b428 !important;
}

.border-funsky-goldengrass-5{
    border: 5px solid #d8b428 !important;
}

.text-funsky-goldengrass{
    color: #d8b428 !important;
}

.form-funsky-goldengrass{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-funsky-goldengrass:focus{
    box-shadow: 0 0 5px #d8b428 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d8b428 !important;
}

.spinner-funsky-goldengrass{
    border-bottom-color:transparent !important ;
    border-top-color: #d8b428 !important;
    border-right-color: #d8b428 !important;
    border-left-color: #d8b428 !important;
}

/* color-4 ends */

/* color-5 petiteorchid */


.btn-funsky-petiteorchid{
    background-color: #e09194 !important;
}

.btn-funsky-petiteorchid:hover{
    background-color: #e09193e3 !important;
   
}

.bg-funsky-petiteorchid{
    background-color: #e09194 !important;
}

.border-funsky-petiteorchid-1{
    border: 1px solid #e09194 !important;
}

.border-funsky-petiteorchid-2{
    border: 2px solid #e09194 !important;
}

.border-funsky-petiteorchid-3{
    border: 3px solid #e09194 !important;
}

.border-funsky-petiteorchid-4{
    border: 4px solid #e09194 !important;
}

.border-funsky-petiteorchid-5{
    border: 5px solid #e09194 !important;
}

.text-funsky-petiteorchid{
    color: #e09194 !important;
}

.form-funsky-petiteorchid{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-funsky-petiteorchid:focus{
    box-shadow: 0 0 5px #e09194 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e09194 !important;
}

.spinner-funsky-petiteorchid{
    border-bottom-color:transparent !important ;
    border-top-color: #e09194 !important;
    border-right-color: #e09194 !important;
    border-left-color: #e09194 !important;
}

/* color-5 ends */