/* color-1 verdungreen */

.btn-nesoi-verdungreen{
    background-color: #4f6d01 !important;
}

.btn-nesoi-verdungreen:hover{
    background-color: #648a06 !important;
   
}

.bg-nesoi-verdungreen{
    background-color: #4f6d01 !important;
}

.border-nesoi-verdungreen-1{
    border: 1px solid #4f6d01 !important;
}

.border-nesoi-verdungreen-2{
    border: 2px solid #4f6d01 !important;
}

.border-nesoi-verdungreen-3{
    border: 3px solid #4f6d01 !important;
}

.border-nesoi-verdungreen-4{
    border: 4px solid #4f6d01 !important;
}

.border-nesoi-verdungreen-5{
    border: 5px solid #4f6d01 !important;
}

.text-nesoi-verdungreen{
    color: #4f6d01 !important;
}

.form-nesoi-verdungreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nesoi-verdungreen:focus{
    box-shadow: 0 0 5px #4f6d01 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #4f6d01 !important;
}

.spinner-nesoi-verdungreen{
    border-bottom-color:transparent !important ;
    border-top-color: #4f6d01 !important;
    border-right-color: #4f6d01 !important;
    border-left-color: #4f6d01 !important;
}

/* color-1 ends */

/* color-2 chelseacucumber */
.btn-nesoi-chelseacucumber{
    background-color: #89b35d !important;
}

.btn-nesoi-chelseacucumber:hover{
    background-color: #71a53a !important;
   
}

.bg-nesoi-chelseacucumber{
    background-color: #89b35d !important;
}

.border-nesoi-chelseacucumber-1{
    border: 1px solid #89b35d !important;
}

.border-nesoi-chelseacucumber-2{
    border: 2px solid #89b35d !important;
}

.border-nesoi-chelseacucumber-3{
    border: 3px solid #89b35d !important;
}

.border-nesoi-chelseacucumber-4{
    border: 4px solid #89b35d !important;
}

.border-nesoi-chelseacucumber-5{
    border: 5px solid #89b35d !important;
}

.text-nesoi-chelseacucumber{
    color: #89b35d !important;
}

.form-nesoi-chelseacucumber{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nesoi-chelseacucumber:focus{
    box-shadow: 0 0 5px #89b35d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #89b35d !important;
}

.spinner-nesoi-chelseacucumber{
    border-bottom-color:transparent !important ;
    border-top-color: #89b35d !important;
    border-right-color: #89b35d !important;
    border-left-color: #89b35d !important;
}

/* color-2 ends */

/* color-3 persianpink */

.btn-nesoi-persianpink{
    background-color: #f579b8 !important;
}

.btn-nesoi-persianpink:hover{
    background-color: #f54fa2 !important;
   
}

.bg-nesoi-persianpink{
    background-color: #f579b8 !important;
}

.border-nesoi-persianpink-1{
    border: 1px solid #f579b8 !important;
}

.border-nesoi-persianpink-2{
    border: 2px solid #f579b8 !important;
}

.border-nesoi-persianpink-3{
    border: 3px solid #f579b8 !important;
}

.border-nesoi-persianpink-4{
    border: 4px solid #f579b8 !important;
}

.border-nesoi-persianpink-5{
    border: 5px solid #f579b8 !important;
}

.text-nesoi-persianpink{
    color: #f579b8 !important;
}

.form-nesoi-persianpink{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nesoi-persianpink:focus{
    box-shadow: 0 0 5px #f579b8 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f579b8 !important;
}

.spinner-nesoi-persianpink{
    border-bottom-color:transparent !important ;
    border-top-color: #f579b8 !important;
    border-right-color: #f579b8 !important;
    border-left-color: #f579b8 !important;
}

/* color-3 ends */

/* color-4 cerise */


.btn-nesoi-cerise{
    background-color: #dc3281 !important;
}

.btn-nesoi-cerise:hover{
    background-color: #cf4c89 !important;
   
}

.bg-nesoi-cerise{
    background-color: #dc3281 !important;
}

.border-nesoi-cerise-1{
    border: 1px solid #dc3281 !important;
}

.border-nesoi-cerise-2{
    border: 2px solid #dc3281 !important;
}

.border-nesoi-cerise-3{
    border: 3px solid #dc3281 !important;
}

.border-nesoi-cerise-4{
    border: 4px solid #dc3281 !important;
}

.border-nesoi-cerise-5{
    border: 5px solid #dc3281 !important;
}

.text-nesoi-cerise{
    color: #dc3281 !important;
}

.form-nesoi-cerise{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nesoi-cerise:focus{
    box-shadow: 0 0 5px #dc3281 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dc3281 !important;
}

.spinner-nesoi-cerise{
    border-bottom-color:transparent !important ;
    border-top-color: #dc3281 !important;
    border-right-color: #dc3281 !important;
    border-left-color: #dc3281 !important;
}

/* color-4 ends */

/* color-5 nutmeg */


.btn-nesoi-nutmeg{
    background-color: #743126 !important;
}

.btn-nesoi-nutmeg:hover{
    background-color: #753c34 !important;
   
}

.bg-nesoi-nutmeg{
    background-color: #743126 !important;
}

.border-nesoi-nutmeg-1{
    border: 1px solid #743126 !important;
}

.border-nesoi-nutmeg-2{
    border: 2px solid #743126 !important;
}

.border-nesoi-nutmeg-3{
    border: 3px solid #743126 !important;
}

.border-nesoi-nutmeg-4{
    border: 4px solid #743126 !important;
}

.border-nesoi-nutmeg-5{
    border: 5px solid #743126 !important;
}

.text-nesoi-nutmeg{
    color: #743126 !important;
}

.form-nesoi-nutmeg{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-nesoi-nutmeg:focus{
    box-shadow: 0 0 5px #743126 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #743126 !important;
}

.spinner-nesoi-nutmeg{
    border-bottom-color:transparent !important ;
    border-top-color: #743126 !important;
    border-right-color: #743126 !important;
    border-left-color: #743126 !important;
}

/* color-5 ends */