/* color-1 mirage */

.btn-erebus-mirage{
    background-color:#181325!important;
}

.btn-erebus-mirage:hover{
    background-color: #18132591!important;
   
}

.bg-erebus-mirage{
    background-color:#181325!important;
}

.border-erebus-mirage-1{
    border: 1px solid#181325!important;
}

.border-erebus-mirage-2{
    border: 2px solid#181325!important;
}

.border-erebus-mirage-3{
    border: 3px solid#181325!important;
}

.border-erebus-mirage-4{
    border: 4px solid#181325!important;
}

.border-erebus-mirage-5{
    border: 5px solid#181325!important;
}

.text-erebus-mirage{
    color:#181325!important;
}

.form-erebus-mirage{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-erebus-mirage:focus{
    box-shadow: 0 0 5px#181325!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#181325!important;
}

.spinner-erebus-mirage{
    border-bottom-color:transparent !important ;
    border-top-color:#181325!important;
    border-right-color:#181325!important;
    border-left-color:#181325!important;
}

/* color-1 ends */

/* color-2 bossanova */
.btn-erebus-bossanova{
    background-color: #39224c!important;
}

.btn-erebus-bossanova:hover{
    background-color: #39224c98!important;
}

.bg-erebus-bossanova{
    background-color: #39224c!important;
}

.border-erebus-bossanova-1{
    border: 1px solid #39224c!important;
}

.border-erebus-bossanova-2{
    border: 2px solid #39224c!important;
}

.border-erebus-bossanova-3{
    border: 3px solid #39224c!important;
}

.border-erebus-bossanova-4{
    border: 4px solid #39224c!important;
}

.border-erebus-bossanova-5{
    border: 5px solid #39224c!important;
}

.text-erebus-bossanova{
    color: #39224c!important;
}

.form-erebus-bossanova{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-erebus-bossanova:focus{
    box-shadow: 0 0 5px #39224c!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #39224c!important;
}

.spinner-erebus-bossanova{
    border-bottom-color:transparent !important ;
    border-top-color: #39224c!important;
    border-right-color: #39224c!important;
    border-left-color: #39224c!important;
}

/* color-2 ends */

/* color-3 ferra */

.btn-erebus-ferra{
    background-color: #784b60!important;
}

.btn-erebus-ferra:hover{
    background-color: #784b6093!important;
   
}

.bg-erebus-ferra{
    background-color: #784b60!important;
}

.border-erebus-ferra-1{
    border: 1px solid #784b60!important;
}

.border-erebus-ferra-2{
    border: 2px solid #784b60!important;
}

.border-erebus-ferra-3{
    border: 3px solid #784b60!important;
}

.border-erebus-ferra-4{
    border: 4px solid #784b60!important;
}

.border-erebus-ferra-5{
    border: 5px solid #784b60!important;
}

.text-erebus-ferra{
    color: #784b60!important;
}

.form-erebus-ferra{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-erebus-ferra:focus{
    box-shadow: 0 0 5px #784b60!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #784b60!important;
}

.spinner-erebus-ferra{
    border-bottom-color:transparent !important ;
    border-top-color: #784b60!important;
    border-right-color: #784b60!important;
    border-left-color: #784b60!important;
}

/* color-3 ends */

/* color-4 matrix */


.btn-erebus-matrix{
    background-color: #b9606a!important;
}

.btn-erebus-matrix:hover{
    background-color: #b9606a8f!important;
   
}

.bg-erebus-matrix{
    background-color: #ffb947!important;
}

.border-erebus-matrix-1{
    border: 1px solid #ffb947!important;
}

.border-erebus-matrix-2{
    border: 2px solid #ffb947!important;
}

.border-erebus-matrix-3{
    border: 3px solid #ffb947!important;
}

.border-erebus-matrix-4{
    border: 4px solid #ffb947!important;
}

.border-erebus-matrix-5{
    border: 5px solid #ffb947!important;
}

.text-erebus-matrix{
    color: #ffb947!important;
}

.form-erebus-matrix{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-erebus-matrix:focus{
    box-shadow: 0 0 5px #ffb947!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffb947!important;
}

.spinner-erebus-matrix{
    border-bottom-color:transparent !important ;
    border-top-color: #ffb947!important;
    border-right-color: #ffb947!important;
    border-left-color: #ffb947!important;
}

/* color-4 ends */

/* color-5 almond */


.btn-erebus-almond{
    background-color: #eccdc6!important;
}

.btn-erebus-almond:hover{
    background-color: #eccdc68f!important;
   
}

.bg-erebus-almond{
    background-color: #eccdc6!important;
}

.border-erebus-almond-1{
    border: 1px solid #eccdc6!important;
}

.border-erebus-almond-2{
    border: 2px solid #eccdc6!important;
}

.border-erebus-almond-3{
    border: 3px solid #eccdc6!important;
}

.border-erebus-almond-4{
    border: 4px solid #eccdc6!important;
}

.border-erebus-almond-5{
    border: 5px solid #eccdc6!important;
}

.text-erebus-almond{
    color: #eccdc6!important;
}

.form-erebus-almond{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-erebus-almond:focus{
    box-shadow: 0 0 5px #eccdc6!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #eccdc6!important;
}

.spinner-erebus-almond{
    border-bottom-color:transparent !important ;
    border-top-color: #eccdc6!important;
    border-right-color: #eccdc6!important;
    border-left-color: #eccdc6!important;
}

/* color-5 ends */