/* color-1 roofterracotta */

.btn-wocar-roofterracotta{
    background-color: #9e291f !important;
}

.btn-wocar-roofterracotta:hover{
    background-color: #9e2a1fd8 !important;
   
}

.bg-wocar-roofterracotta{
    background-color: #9e291f !important;
}

.border-wocar-roofterracotta-1{
    border: 1px solid #9e291f !important;
}

.border-wocar-roofterracotta-2{
    border: 2px solid #9e291f !important;
}

.border-wocar-roofterracotta-3{
    border: 3px solid #9e291f !important;
}

.border-wocar-roofterracotta-4{
    border: 4px solid #9e291f !important;
}

.border-wocar-roofterracotta-5{
    border: 5px solid #9e291f !important;
}

.text-wocar-roofterracotta{
    color: #9e291f !important;
}

.form-wocar-roofterracotta{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-wocar-roofterracotta:focus{
    box-shadow: 0 0 5px #9e291f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #9e291f !important;
}

.spinner-wocar-roofterracotta{
    border-bottom-color:transparent !important ;
    border-top-color: #9e291f !important;
    border-right-color: #9e291f !important;
    border-left-color: #9e291f !important;
}

/* color-1 ends */

/* color-2 wheat */
.btn-wocar-wheat{
    background-color: #f6edb4 !important;
}

.btn-wocar-wheat:hover{
    background-color: #f6edb4d3 !important;
   
}

.bg-wocar-wheat{
    background-color: #f6edb4 !important;
}

.border-wocar-wheat-1{
    border: 1px solid #f6edb4 !important;
}

.border-wocar-wheat-2{
    border: 2px solid #f6edb4 !important;
}

.border-wocar-wheat-3{
    border: 3px solid #f6edb4 !important;
}

.border-wocar-wheat-4{
    border: 4px solid #f6edb4 !important;
}

.border-wocar-wheat-5{
    border: 5px solid #f6edb4 !important;
}

.text-wocar-wheat{
    color: #f6edb4 !important;
}

.form-wocar-wheat{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-wocar-wheat:focus{
    box-shadow: 0 0 5px #f6edb4 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f6edb4 !important;
}

.spinner-wocar-wheat{
    border-bottom-color:transparent !important ;
    border-top-color: #f6edb4 !important;
    border-right-color: #f6edb4 !important;
    border-left-color: #f6edb4 !important;
}

/* color-2 ends */

/* color-3 outerspace */

.btn-wocar-outerspace{
    background-color: #262f2c !important;
}

.btn-wocar-outerspace:hover{
    background-color: #262f2cda  !important;
   
}

.bg-wocar-outerspace{
    background-color: #262f2c !important;
}

.border-wocar-outerspace-1{
    border: 1px solid #262f2c !important;
}

.border-wocar-outerspace-2{
    border: 2px solid #262f2c !important;
}

.border-wocar-outerspace-3{
    border: 3px solid #262f2c !important;
}

.border-wocar-outerspace-4{
    border: 4px solid #262f2c !important;
}

.border-wocar-outerspace-5{
    border: 5px solid #262f2c !important;
}

.text-wocar-outerspace{
    color: #262f2c !important;
}

.form-wocar-outerspace{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-wocar-outerspace:focus{
    box-shadow: 0 0 5px #262f2c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #262f2c !important;
}

.spinner-wocar-outerspace{
    border-bottom-color:transparent !important ;
    border-top-color: #262f2c !important;
    border-right-color: #262f2c !important;
    border-left-color: #262f2c !important;
}

/* color-3 ends */

/* color-4 anzac */


.btn-wocar-anzac{
    background-color: #e7af51 !important;
}

.btn-wocar-anzac:hover{
    background-color: #e7b051e5 !important;
   
}

.bg-wocar-anzac{
    background-color: #e7af51 !important;
}

.border-wocar-anzac-1{
    border: 1px solid #e7af51 !important;
}

.border-wocar-anzac-2{
    border: 2px solid #e7af51 !important;
}

.border-wocar-anzac-3{
    border: 3px solid #e7af51 !important;
}

.border-wocar-anzac-4{
    border: 4px solid #e7af51 !important;
}

.border-wocar-anzac-5{
    border: 5px solid #e7af51 !important;
}

.text-wocar-anzac{
    color: #e7af51 !important;
}

.form-wocar-anzac{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-wocar-anzac:focus{
    box-shadow: 0 0 5px #e7af51 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e7af51 !important;
}

.spinner-wocar-anzac{
    border-bottom-color:transparent !important ;
    border-top-color: #e7af51 !important;
    border-right-color: #e7af51 !important;
    border-left-color: #e7af51 !important;
}

/* color-4 ends */

/* color-5 cinnabar */


.btn-wocar-cinnabar{
    background-color: #de4019 !important;
}

.btn-wocar-cinnabar:hover{
    background-color: #de4019da !important;
   
}

.bg-wocar-cinnabar{
    background-color: #de4019 !important;
}

.border-wocar-cinnabar-1{
    border: 1px solid #de4019 !important;
}

.border-wocar-cinnabar-2{
    border: 2px solid #de4019 !important;
}

.border-wocar-cinnabar-3{
    border: 3px solid #de4019 !important;
}

.border-wocar-cinnabar-4{
    border: 4px solid #de4019 !important;
}

.border-wocar-cinnabar-5{
    border: 5px solid #de4019 !important;
}

.text-wocar-cinnabar{
    color: #de4019 !important;
}

.form-wocar-cinnabar{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-wocar-cinnabar:focus{
    box-shadow: 0 0 5px #de4019 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #de4019 !important;
}

.spinner-wocar-cinnabar{
    border-bottom-color:transparent !important ;
    border-top-color: #de4019 !important;
    border-right-color: #de4019 !important;
    border-left-color: #de4019 !important;
}

/* color-5 ends */