/* color-1 piper */

.btn-asine-piper{
    background-color: #c64223 !important;
}

.btn-asine-piper:hover{
    background-color: #c64123e5 !important;
   
}

.bg-asine-piper{
    background-color: #c64223 !important;
}

.border-asine-piper-1{
    border: 1px solid #c64223 !important;
}

.border-asine-piper-2{
    border: 2px solid #c64223 !important;
}

.border-asine-piper-3{
    border: 3px solid #c64223 !important;
}

.border-asine-piper-4{
    border: 4px solid #c64223 !important;
}

.border-asine-piper-5{
    border: 5px solid #c64223 !important;
}

.text-asine-piper{
    color: #c64223 !important;
}

.form-asine-piper{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-asine-piper:focus{
    box-shadow: 0 0 5px #c64223 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c64223 !important;
}

.spinner-asine-piper{
    border-bottom-color:transparent !important ;
    border-top-color: #c64223 !important;
    border-right-color: #c64223 !important;
    border-left-color: #c64223 !important;
}

/* color-1 ends */

/* color-2 dingley */
.btn-asine-dingley{
    background-color: #5d7d4c !important;
}

.btn-asine-dingley:hover{
    background-color: #6f945be1 !important;
   
}

.bg-asine-dingley{
    background-color: #5d7d4c !important;
}

.border-asine-dingley-1{
    border: 1px solid #5d7d4c !important;
}

.border-asine-dingley-2{
    border: 2px solid #5d7d4c !important;
}

.border-asine-dingley-3{
    border: 3px solid #5d7d4c !important;
}

.border-asine-dingley-4{
    border: 4px solid #5d7d4c !important;
}

.border-asine-dingley-5{
    border: 5px solid #5d7d4c !important;
}

.text-asine-dingley{
    color: #5d7d4c !important;
}

.form-asine-dingley{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-asine-dingley:focus{
    box-shadow: 0 0 5px #5d7d4c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5d7d4c !important;
}

.spinner-asine-dingley{
    border-bottom-color:transparent !important ;
    border-top-color: #5d7d4c !important;
    border-right-color: #5d7d4c !important;
    border-left-color: #5d7d4c !important;
}

/* color-2 ends */

/* color-3 sapling */

.btn-asine-sapling{
    background-color: #dfd1a1 !important;
}

.btn-asine-sapling:hover{
    background-color: #e7d59a !important;
   
}

.bg-asine-sapling{
    background-color: #dfd1a1 !important;
}

.border-asine-sapling-1{
    border: 1px solid #dfd1a1 !important;
}

.border-asine-sapling-2{
    border: 2px solid #dfd1a1 !important;
}

.border-asine-sapling-3{
    border: 3px solid #dfd1a1 !important;
}

.border-asine-sapling-4{
    border: 4px solid #dfd1a1 !important;
}

.border-asine-sapling-5{
    border: 5px solid #dfd1a1 !important;
}

.text-asine-sapling{
    color: #dfd1a1 !important;
}

.form-asine-sapling{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-asine-sapling:focus{
    box-shadow: 0 0 5px #dfd1a1 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dfd1a1 !important;
}

.spinner-asine-sapling{
    border-bottom-color:transparent !important ;
    border-top-color: #dfd1a1 !important;
    border-right-color: #dfd1a1 !important;
    border-left-color: #dfd1a1 !important;
}

/* color-3 ends */

/* color-4 yellowmetal */


.btn-asine-yellowmetal{
    background-color: #795f3a !important;
}

.btn-asine-yellowmetal:hover{
    background-color: #927446 !important;
   
}

.bg-asine-yellowmetal{
    background-color: #795f3a !important;
}

.border-asine-yellowmetal-1{
    border: 1px solid #795f3a !important;
}

.border-asine-yellowmetal-2{
    border: 2px solid #795f3a !important;
}

.border-asine-yellowmetal-3{
    border: 3px solid #795f3a !important;
}

.border-asine-yellowmetal-4{
    border: 4px solid #795f3a !important;
}

.border-asine-yellowmetal-5{
    border: 5px solid #795f3a !important;
}

.text-asine-yellowmetal{
    color: #795f3a !important;
}

.form-asine-yellowmetal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-asine-yellowmetal:focus{
    box-shadow: 0 0 5px #795f3a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #795f3a !important;
}

.spinner-asine-yellowmetal{
    border-bottom-color:transparent !important ;
    border-top-color: #795f3a !important;
    border-right-color: #795f3a !important;
    border-left-color: #795f3a !important;
}

/* color-4 ends */

/* color-5 heavymetal */


.btn-asine-heavymetal{
    background-color: #262a21 !important;
}

.btn-asine-heavymetal:hover{
    background-color: #3c4234 !important;
   
}

.bg-asine-heavymetal{
    background-color: #262a21 !important;
}

.border-asine-heavymetal-1{
    border: 1px solid #262a21 !important;
}

.border-asine-heavymetal-2{
    border: 2px solid #262a21 !important;
}

.border-asine-heavymetal-3{
    border: 3px solid #262a21 !important;
}

.border-asine-heavymetal-4{
    border: 4px solid #262a21 !important;
}

.border-asine-heavymetal-5{
    border: 5px solid #262a21 !important;
}

.text-asine-heavymetal{
    color: #262a21 !important;
}

.form-asine-heavymetal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-asine-heavymetal:focus{
    box-shadow: 0 0 5px #262a21 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #262a21 !important;
}

.spinner-asine-heavymetal{
    border-bottom-color:transparent !important ;
    border-top-color: #262a21 !important;
    border-right-color: #262a21 !important;
    border-left-color: #262a21 !important;
}

/* color-5 ends */