/* color-1 Deepcove */

.btn-deepin-Deepcove{
    background-color:#051a35!important;
}

.btn-deepin-Deepcove:hover{
    background-color: #051a35ad!important;
   
}

.bg-deepin-Deepcove{
    background-color:#051a35!important;
}

.border-deepin-Deepcove-1{
    border: 1px solid#051a35!important;
}

.border-deepin-Deepcove-2{
    border: 2px solid#051a35!important;
}

.border-deepin-Deepcove-3{
    border: 3px solid#051a35!important;
}

.border-deepin-Deepcove-4{
    border: 4px solid#051a35!important;
}

.border-deepin-Deepcove-5{
    border: 5px solid#051a35!important;
}

.text-deepin-Deepcove{
    color:#051a35!important;
}

.form-deepin-Deepcove{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-deepin-Deepcove:focus{
    box-shadow: 0 0 5px#051a35!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#051a35!important;
}

.spinner-deepin-Deepcove{
    border-bottom-color:transparent !important ;
    border-top-color:#051a35!important;
    border-right-color:#051a35!important;
    border-left-color:#051a35!important;
}

/* color-1 ends */

/* color-2 Trendygreen */
.btn-deepin-Trendygreen{
    background-color: #76931e !important;
}

.btn-deepin-Trendygreen:hover{
    background-color: #76931e9d !important;
   
}

.bg-deepin-Trendygreen{
    background-color: #76931e !important;
}

.border-deepin-Trendygreen-1{
    border: 1px solid #76931e !important;
}

.border-deepin-Trendygreen-2{
    border: 2px solid #76931e !important;
}

.border-deepin-Trendygreen-3{
    border: 3px solid #76931e !important;
}

.border-deepin-Trendygreen-4{
    border: 4px solid #76931e !important;
}

.border-deepin-Trendygreen-5{
    border: 5px solid #76931e !important;
}

.text-deepin-Trendygreen{
    color: #76931e !important;
}

.form-deepin-Trendygreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-deepin-Trendygreen:focus{
    box-shadow: 0 0 5px #76931e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #76931e !important;
}

.spinner-deepin-Trendygreen{
    border-bottom-color:transparent !important ;
    border-top-color: #76931e !important;
    border-right-color: #76931e !important;
    border-left-color: #76931e !important;
}

/* color-2 ends */

/* color-3 Atlantis */

.btn-deepin-Atlantis{
    background-color: #9cc02c !important;
}

.btn-deepin-Atlantis:hover{
    background-color: #9bc02cb0!important;
   
}

.bg-deepin-Atlantis{
    background-color: #9cc02c !important;
}

.border-deepin-Atlantis-1{
    border: 1px solid #9cc02c !important;
}

.border-deepin-Atlantis-2{
    border: 2px solid #9cc02c !important;
}

.border-deepin-Atlantis-3{
    border: 3px solid #9cc02c !important;
}

.border-deepin-Atlantis-4{
    border: 4px solid #9cc02c !important;
}

.border-deepin-Atlantis-5{
    border: 5px solid #9cc02c !important;
}

.text-deepin-Atlantis{
    color: #9cc02c !important;
}

.form-deepin-Atlantis{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-deepin-Atlantis:focus{
    box-shadow: 0 0 5px #9cc02c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #9cc02c !important;
}

.spinner-deepin-Atlantis{
    border-bottom-color:transparent !important ;
    border-top-color: #9cc02c !important;
    border-right-color: #9cc02c !important;
    border-left-color: #9cc02c !important;
}

/* color-3 ends */

/* color-4 Concrete */


.btn-deepin-Concrete{
    background-color: #f2f2f2 !important;
}

.btn-deepin-Concrete:hover{
    background-color: #f2f2f2a6 !important;
   
}

.bg-deepin-Concrete{
    background-color: #f2f2f2 !important;
}

.border-deepin-Concrete-1{
    border: 1px solid #f2f2f2 !important;
}

.border-deepin-Concrete-2{
    border: 2px solid #f2f2f2 !important;
}

.border-deepin-Concrete-3{
    border: 3px solid #f2f2f2 !important;
}

.border-deepin-Concrete-4{
    border: 4px solid #f2f2f2 !important;
}

.border-deepin-Concrete-5{
    border: 5px solid #f2f2f2 !important;
}

.text-deepin-Concrete{
    color: #f2f2f2 !important;
}

.form-deepin-Concrete{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-deepin-Concrete:focus{
    box-shadow: 0 0 5px #f2f2f2 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f2f2f2 !important;
}

.spinner-deepin-Concrete{
    border-bottom-color:transparent !important ;
    border-top-color: #f2f2f2 !important;
    border-right-color: #f2f2f2 !important;
    border-left-color: #f2f2f2 !important;
}

/* color-4 ends */

/* color-5 Pickelbluewood */


.btn-deepin-Pickelbluewood{
    background-color: #37465d !important;
}

.btn-deepin-Pickelbluewood:hover{
    background-color: #37465d80!important;
   
}

.bg-deepin-Pickelbluewood{
    background-color: #37465d !important;
}

.border-deepin-Pickelbluewood-1{
    border: 1px solid #37465d !important;
}

.border-deepin-Pickelbluewood-2{
    border: 2px solid #37465d !important;
}

.border-deepin-Pickelbluewood-3{
    border: 3px solid #37465d !important;
}

.border-deepin-Pickelbluewood-4{
    border: 4px solid #37465d !important;
}

.border-deepin-Pickelbluewood-5{
    border: 5px solid #37465d !important;
}

.text-deepin-Pickelbluewood{
    color: #37465d !important;
}

.form-deepin-Pickelbluewood{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-deepin-Pickelbluewood:focus{
    box-shadow: 0 0 5px #37465d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #37465d !important;
}

.spinner-deepin-Pickelbluewood{
    border-bottom-color:transparent !important ;
    border-top-color: #37465d !important;
    border-right-color: #37465d !important;
    border-left-color: #37465d !important;
}

/* color-5 ends */