/* color-1 OrangePeel */

.btn-Viridian-OrangePeel{
    background-color:#Fea000 !important;
}

.btn-Viridian-OrangePeel:hover{
    background-color: rgb(253, 144, 18) !important;
   
}

.bg-Viridian-OrangePeel{
    background-color:#Fea000 !important;
}

.border-Viridian-OrangePeel-1{
    border: 1px solid#Fea000 !important;
}

.border-Viridian-OrangePeel-2{
    border: 2px solid#Fea000 !important;
}

.border-Viridian-OrangePeel-3{
    border: 3px solid#Fea000 !important;
}

.border-Viridian-OrangePeel-4{
    border: 4px solid#Fea000 !important;
}

.border-Viridian-OrangePeel-5{
    border: 5px solid#Fea000 !important;
}

.text-Viridian-OrangePeel{
    color:#Fea000 !important;
}

.form-Viridian-OrangePeel{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Viridian-OrangePeel:focus{
    box-shadow: 0 0 5px#Fea000 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Fea000 !important;
}

.spinner-Viridian-OrangePeel{
    border-bottom-color:transparent !important ;
    border-top-color:#Fea000 !important;
    border-right-color:#Fea000 !important;
    border-left-color:#Fea000 !important;
}

/* color-1 ends */

/* color-2 Citron */
.btn-Viridian-Citron{
    background-color:#A5ad24 !important;
}

.btn-Viridian-Citron:hover{
    background-color: rgb(216, 238, 17) !important;
   
}

.bg-Viridian-Citron{
    background-color:#A5ad24 !important;
}

.border-Viridian-Citron-1{
    border: 1px solid#A5ad24 !important;
}

.border-Viridian-Citron-2{
    border: 2px solid#A5ad24 !important;
}

.border-Viridian-Citron-3{
    border: 3px solid#A5ad24 !important;
}

.border-Viridian-Citron-4{
    border: 4px solid#A5ad24 !important;
}

.border-Viridian-Citron-5{
    border: 5px solid#A5ad24 !important;
}

.text-Viridian-Citron{
    color:#A5ad24 !important;
}

.form-Viridian-Citron{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Viridian-Citron:focus{
    box-shadow: 0 0 5px#A5ad24 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#A5ad24 !important;
}

.spinner-Viridian-Citron{
    border-bottom-color:transparent !important ;
    border-top-color:#A5ad24 !important;
    border-right-color:#A5ad24 !important;
    border-left-color:#A5ad24 !important;
}

/* color-2 ends */

/* color-3 Drab */

.btn-Viridian-Drab{
    background-color: #418260 !important;
}

.btn-Viridian-Drab:hover{
    background-color: #6aa57c !important;
   
}

.bg-Viridian-Drab{
    background-color: #418260 !important;
}

.border-Viridian-Drab-1{
    border: 1px solid #418260 !important;
}

.border-Viridian-Drab-2{
    border: 2px solid #418260 !important;
}

.border-Viridian-Drab-3{
    border: 3px solid #418260 !important;
}

.border-Viridian-Drab-4{
    border: 4px solid #418260 !important;
}

.border-Viridian-Drab-5{
    border: 5px solid #418260 !important;
}

.text-Viridian-Drab{
    color: #418260 !important;
}

.form-Viridian-Drab{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Viridian-Drab:focus{
    box-shadow: 0 0 5px #418260 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #418260 !important;
}

.spinner-Viridian-Drab{
    border-bottom-color:transparent !important ;
    border-top-color: #418260 !important;
    border-right-color: #418260 !important;
    border-left-color: #418260 !important;
}

/* color-3 ends */

/* color-4 OxfordBlue */


.btn-Viridian-OxfordBlue{
    background-color:#3a4a59 !important;
}

.btn-Viridian-OxfordBlue:hover{
    background-color: rgb(81, 94, 100) !important;
   
}

.bg-Viridian-OxfordBlue{
    background-color:#3a4a59 !important;
}

.border-Viridian-OxfordBlue-1{
    border: 1px solid#3a4a59 !important;
}

.border-Viridian-OxfordBlue-2{
    border: 2px solid#3a4a59 !important;
}

.border-Viridian-OxfordBlue-3{
    border: 3px solid#3a4a59 !important;
}

.border-Viridian-OxfordBlue-4{
    border: 4px solid#3a4a59 !important;
}

.border-Viridian-OxfordBlue-5{
    border: 5px solid#3a4a59 !important;
}

.text-Viridian-OxfordBlue{
    color:#3a4a59 !important;
}

.form-Viridian-OxfordBlue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Viridian-OxfordBlue:focus{
    box-shadow: 0 0 5px#3a4a59 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#3a4a59 !important;
}

.spinner-Viridian-OxfordBlue{
    border-bottom-color:transparent !important ;
    border-top-color:#3a4a59 !important;
    border-right-color:#3a4a59 !important;
    border-left-color:#3a4a59 !important;
}

/* color-4 ends */

/* color-5 BalticSea */


.btn-Viridian-BalticSea{
    background-color:#232029 !important;
}

.btn-Viridian-BalticSea:hover{
    background-color: rgb(69, 60, 75) !important;
   
}

.bg-Viridian-BalticSea{
    background-color:#232029 !important;
}

.border-Viridian-BalticSea-1{
    border: 1px solid#232029 !important;
}

.border-Viridian-BalticSea-2{
    border: 2px solid#232029 !important;
}

.border-Viridian-BalticSea-3{
    border: 3px solid#232029 !important;
}

.border-Viridian-BalticSea-4{
    border: 4px solid#232029 !important;
}

.border-Viridian-BalticSea-5{
    border: 5px solid#232029 !important;
}

.text-Viridian-BalticSea{
    color:#232029 !important;
}

.form-Viridian-BalticSea{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Viridian-BalticSea:focus{
    box-shadow: 0 0 5px#232029 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#232029 !important;
}

.spinner-Viridian-BalticSea{
    border-bottom-color:transparent !important ;
    border-top-color:#232029 !important;
    border-right-color:#232029 !important;
    border-left-color:#232029 !important;
}

/* color-5 ends */