/* color-1 thunder */

.btn-torre-thunder{
    background-color: #3b2738 !important;
}

.btn-torre-thunder:hover{
    background-color: #462e42 !important;
   
}

.bg-torre-thunder{
    background-color: #3b2738 !important;
}

.border-torre-thunder-1{
    border: 1px solid #3b2738 !important;
}

.border-torre-thunder-2{
    border: 2px solid #3b2738 !important;
}

.border-torre-thunder-3{
    border: 3px solid #3b2738 !important;
}

.border-torre-thunder-4{
    border: 4px solid #3b2738 !important;
}

.border-torre-thunder-5{
    border: 5px solid #3b2738 !important;
}

.text-torre-thunder{
    color: #3b2738 !important;
}

.form-torre-thunder{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-torre-thunder:focus{
    box-shadow: 0 0 5px #3b2738 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #3b2738 !important;
}

.spinner-torre-thunder{
    border-bottom-color:transparent !important ;
    border-top-color: #3b2738 !important;
    border-right-color: #3b2738 !important;
    border-left-color: #3b2738 !important;
}

/* color-1 ends */

/* color-2 copperrust */
.btn-tore-copperrust{
    background-color: #8b4a44 !important;
}

.btn-tore-copperrust:hover{
    background-color: #7c433d !important;
   
}

.bg-tore-copperrust{
    background-color: #8b4a44 !important;
}

.border-tore-copperrust-1{
    border: 1px solid #8b4a44 !important;
}

.border-tore-copperrust-2{
    border: 2px solid #8b4a44 !important;
}

.border-tore-copperrust-3{
    border: 3px solid #8b4a44 !important;
}

.border-tore-copperrust-4{
    border: 4px solid #8b4a44 !important;
}

.border-tore-copperrust-5{
    border: 5px solid #8b4a44 !important;
}

.text-tore-copperrust{
    color: #8b4a44 !important;
}

.form-tore-copperrust{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-tore-copperrust:focus{
    box-shadow: 0 0 5px #8b4a44 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8b4a44 !important;
}

.spinner-tore-copperrust{
    border-bottom-color:transparent !important ;
    border-top-color: #8b4a44 !important;
    border-right-color: #8b4a44 !important;
    border-left-color: #8b4a44 !important;
}

/* color-2 ends */

/* color-3 limedoak */

.btn-torre-limedoak{
    background-color: #ad9158 !important;
}

.btn-torre-limedoak:hover{
    background-color: #b89144 !important;
   
}

.bg-torre-limedoak{
    background-color: #ad9158 !important;
}

.border-torre-limedoak-1{
    border: 1px solid #ad9158 !important;
}

.border-torre-limedoak-2{
    border: 2px solid #ad9158 !important;
}

.border-torre-limedoak-3{
    border: 3px solid #ad9158 !important;
}

.border-torre-limedoak-4{
    border: 4px solid #ad9158 !important;
}

.border-torre-limedoak-5{
    border: 5px solid #ad9158 !important;
}

.text-torre-limedoak{
    color: #ad9158 !important;
}

.form-torre-limedoak{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-torre-limedoak:focus{
    box-shadow: 0 0 5px #ad9158 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ad9158 !important;
}

.spinner-torre-limedoak{
    border-bottom-color:transparent !important ;
    border-top-color: #ad9158 !important;
    border-right-color: #ad9158 !important;
    border-left-color: #ad9158 !important;
}

/* color-3 ends */

/* color-4 pineglade */


.btn-torre-pineglade{
    background-color: #c3c08a !important;
}

.btn-torre-pineglade:hover{
    background-color: #c0bc76 !important;
   
}

.bg-torre-pineglade{
    background-color: #c3c08a !important;
}

.border-torre-pineglade-1{
    border: 1px solid #c3c08a !important;
}

.border-torre-pineglade-2{
    border: 2px solid #c3c08a !important;
}

.border-torre-pineglade-3{
    border: 3px solid #c3c08a !important;
}

.border-torre-pineglade-4{
    border: 4px solid #c3c08a !important;
}

.border-torre-pineglade-5{
    border: 5px solid #c3c08a !important;
}

.text-torre-pineglade{
    color: #c3c08a !important;
}

.form-torre-pineglade{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-torre-pineglade:focus{
    box-shadow: 0 0 5px #c3c08a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c3c08a !important;
}

.spinner-torre-pineglade{
    border-bottom-color:transparent !important ;
    border-top-color: #c3c08a !important;
    border-right-color: #c3c08a !important;
    border-left-color: #c3c08a !important;
}

/* color-4 ends */

/* color-5 kelp */


.btn-torre-kelp{
    background-color: #464d3c !important;
}

.btn-torre-kelp:hover{
    background-color: #565f4a !important;
   
}

.bg-torre-kelp{
    background-color: #464d3c !important;
}

.border-torre-kelp-1{
    border: 1px solid #464d3c !important;
}

.border-torre-kelp-2{
    border: 2px solid #464d3c !important;
}

.border-torre-kelp-3{
    border: 3px solid #464d3c !important;
}

.border-torre-kelp-4{
    border: 4px solid #464d3c !important;
}

.border-torre-kelp-5{
    border: 5px solid #464d3c !important;
}

.text-torre-kelp{
    color: #464d3c !important;
}

.form-torre-kelp{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-torre-kelp:focus{
    box-shadow: 0 0 5px #464d3c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #464d3c !important;
}

.spinner-torre-kelp{
    border-bottom-color:transparent !important ;
    border-top-color: #464d3c !important;
    border-right-color: #464d3c !important;
    border-left-color: #464d3c !important;
}

/* color-5 ends */