/* color-1 Casal */

.btn-Bisque-Casal{
    background-color:#335a69 !important;
}

.btn-Bisque-Casal:hover{
    background-color: rgb(83, 124, 136) !important;
   
}

.bg-Bisque-Casal{
    background-color:#335a69 !important;
}

.border-Bisque-Casal-1{
    border: 1px solid#335a69 !important;
}

.border-Bisque-Casal-2{
    border: 2px solid#335a69 !important;
}

.border-Bisque-Casal-3{
    border: 3px solid#335a69 !important;
}

.border-Bisque-Casal-4{
    border: 4px solid#335a69 !important;
}

.border-Bisque-Casal-5{
    border: 5px solid#335a69 !important;
}

.text-Bisque-Casal{
    color:#335a69 !important;
}

.form-Bisque-Casal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Bisque-Casal:focus{
    box-shadow: 0 0 5px#335a69 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#335a69 !important;
}

.spinner-Bisque-Casal{
    border-bottom-color:transparent !important ;
    border-top-color:#335a69 !important;
    border-right-color:#335a69 !important;
    border-left-color:#335a69 !important;
}

/* color-1 ends */

/* color-2 Buttermilk- */
.btn-Bisque-Buttermilk-{
    background-color:#Fff7af !important;
}

.btn-Bisque-Buttermilk-:hover{
    background-color: rgb(236, 227, 142) !important;
   
}

.bg-Bisque-Buttermilk-{
    background-color:#Fff7af !important;
}

.border-Bisque-Buttermilk--1{
    border: 1px solid#Fff7af !important;
}

.border-Bisque-Buttermilk--2{
    border: 2px solid#Fff7af !important;
}

.border-Bisque-Buttermilk--3{
    border: 3px solid#Fff7af !important;
}

.border-Bisque-Buttermilk--4{
    border: 4px solid#Fff7af !important;
}

.border-Bisque-Buttermilk--5{
    border: 5px solid#Fff7af !important;
}

.text-Bisque-Buttermilk-{
    color:#Fff7af !important;
}

.form-Bisque-Buttermilk-{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Bisque-Buttermilk-:focus{
    box-shadow: 0 0 5px#Fff7af !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Fff7af !important;
}

.spinner-Bisque-Buttermilk-{
    border-bottom-color:transparent !important ;
    border-top-color:#Fff7af !important;
    border-right-color:#Fff7af !important;
    border-left-color:#Fff7af !important;
}

/* color-2 ends */

/* color-3 Anzac */

.btn-Bisque-Anzac{
    background-color: #E2a13d !important;
}

.btn-Bisque-Anzac:hover{
    background-color: #f8c078 !important;
   
}

.bg-Bisque-Anzac{
    background-color: #E2a13d !important;
}

.border-Bisque-Anzac-1{
    border: 1px solid #E2a13d !important;
}

.border-Bisque-Anzac-2{
    border: 2px solid #E2a13d !important;
}

.border-Bisque-Anzac-3{
    border: 3px solid #E2a13d !important;
}

.border-Bisque-Anzac-4{
    border: 4px solid #E2a13d !important;
}

.border-Bisque-Anzac-5{
    border: 5px solid #E2a13d !important;
}

.text-Bisque-Anzac{
    color: #E2a13d !important;
}

.form-Bisque-Anzac{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Bisque-Anzac:focus{
    box-shadow: 0 0 5px #E2a13d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E2a13d !important;
}

.spinner-Bisque-Anzac{
    border-bottom-color:transparent !important ;
    border-top-color: #E2a13d !important;
    border-right-color: #E2a13d !important;
    border-left-color: #E2a13d !important;
}

/* color-3 ends */

/* color-4 MexicanRed */


.btn-Bisque-MexicanRed{
    background-color:#A32531 !important;
}

.btn-Bisque-MexicanRed:hover{
    background-color: rgb(175, 75, 57) !important;
   
}

.bg-Bisque-MexicanRed{
    background-color:#A32531 !important;
}

.border-Bisque-MexicanRed-1{
    border: 1px solid#A32531 !important;
}

.border-Bisque-MexicanRed-2{
    border: 2px solid#A32531 !important;
}

.border-Bisque-MexicanRed-3{
    border: 3px solid#A32531 !important;
}

.border-Bisque-MexicanRed-4{
    border: 4px solid#A32531 !important;
}

.border-Bisque-MexicanRed-5{
    border: 5px solid#A32531 !important;
}

.text-Bisque-MexicanRed{
    color:#A32531 !important;
}

.form-Bisque-MexicanRed{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Bisque-MexicanRed:focus{
    box-shadow: 0 0 5px#A32531 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#A32531 !important;
}

.spinner-Bisque-MexicanRed{
    border-bottom-color:transparent !important ;
    border-top-color:#A32531 !important;
    border-right-color:#A32531 !important;
    border-left-color:#A32531 !important;
}

/* color-4 ends */

/* color-5 CabSav */


.btn-Bisque-CabSav{
    background-color:#570a10 !important;
}

.btn-Bisque-CabSav:hover{
    background-color: rgb(88, 31, 18) !important;
   
}

.bg-Bisque-CabSav{
    background-color:#570a10 !important;
}

.border-Bisque-CabSav-1{
    border: 1px solid#570a10 !important;
}

.border-Bisque-CabSav-2{
    border: 2px solid#570a10 !important;
}

.border-Bisque-CabSav-3{
    border: 3px solid#570a10 !important;
}

.border-Bisque-CabSav-4{
    border: 4px solid#570a10 !important;
}

.border-Bisque-CabSav-5{
    border: 5px solid#570a10 !important;
}

.text-Bisque-CabSav{
    color:#570a10 !important;
}

.form-Bisque-CabSav{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Bisque-CabSav:focus{
    box-shadow: 0 0 5px#570a10 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#570a10 !important;
}

.spinner-Bisque-CabSav{
    border-bottom-color:transparent !important ;
    border-top-color:#570a10 !important;
    border-right-color:#570a10 !important;
    border-left-color:#570a10 !important;
}

/* color-5 ends */