/* color-1 steelblue */

.btn-steeltree-steelblue{
    background-color: #4f96c0 !important;
}

.btn-steeltree-steelblue:hover{
    background-color: #4f97c0e8  !important;
   
}

.bg-steeltree-steelblue{
    background-color: #4f96c0 !important;
}

.border-steeltree-steelblue-1{
    border: 1px solid #4f96c0 !important;
}

.border-steeltree-steelblue-2{
    border: 2px solid #4f96c0 !important;
}

.border-steeltree-steelblue-3{
    border: 3px solid #4f96c0 !important;
}

.border-steeltree-steelblue-4{
    border: 4px solid #4f96c0 !important;
}

.border-steeltree-steelblue-5{
    border: 5px solid #4f96c0 !important;
}

.text-steeltree-steelblue{
    color: #4f96c0 !important;
}

.form-steeltree-steelblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-steeltree-steelblue:focus{
    box-shadow: 0 0 5px #4f96c0 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #4f96c0 !important;
}

.spinner-steeltree-steelblue{
    border-bottom-color:transparent !important ;
    border-top-color: #4f96c0 !important;
    border-right-color: #4f96c0 !important;
    border-left-color: #4f96c0 !important;
}

/* color-1 ends */

/* color-2 yelloworange */
.btn-steeltree-yelloworange{
    background-color: #ff9a48 !important;
}

.btn-steeltree-yelloworange:hover{
    background-color: #ff9a48ec !important;
   
}

.bg-steeltree-yelloworange{
    background-color: #ff9a48 !important;
}

.border-steeltree-yelloworange-1{
    border: 1px solid #ff9a48 !important;
}

.border-steeltree-yelloworange-2{
    border: 2px solid #ff9a48 !important;
}

.border-steeltree-yelloworange-3{
    border: 3px solid #ff9a48 !important;
}

.border-steeltree-yelloworange-4{
    border: 4px solid #ff9a48 !important;
}

.border-steeltree-yelloworange-5{
    border: 5px solid #ff9a48 !important;
}

.text-steeltree-yelloworange{
    color: #ff9a48 !important;
}

.form-steeltree-yelloworange{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-steeltree-yelloworange:focus{
    box-shadow: 0 0 5px #ff9a48 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ff9a48 !important;
}

.spinner-steeltree-yelloworange{
    border-bottom-color:transparent !important ;
    border-top-color: #ff9a48 !important;
    border-right-color: #ff9a48 !important;
    border-left-color: #ff9a48 !important;
}

/* color-2 ends */

/* color-3 mandy */

.btn-steeltree-mandy{
    background-color: #e0555a !important;
}

.btn-steeltree-mandy:hover{
    background-color: #e05559ec  !important;
   
}

.bg-steeltree-mandy{
    background-color: #e0555a !important;
}

.border-steeltree-mandy-1{
    border: 1px solid #e0555a !important;
}

.border-steeltree-mandy-2{
    border: 2px solid #e0555a !important;
}

.border-steeltree-mandy-3{
    border: 3px solid #e0555a !important;
}

.border-steeltree-mandy-4{
    border: 4px solid #e0555a !important;
}

.border-steeltree-mandy-5{
    border: 5px solid #e0555a !important;
}

.text-steeltree-mandy{
    color: #e0555a !important;
}

.form-steeltree-mandy{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-steeltree-mandy:focus{
    box-shadow: 0 0 5px #e0555a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e0555a !important;
}

.spinner-steeltree-mandy{
    border-bottom-color:transparent !important ;
    border-top-color: #e0555a !important;
    border-right-color: #e0555a !important;
    border-left-color: #e0555a !important;
}

/* color-3 ends */

/* color-4 shadowgreen */


.btn-steeltree-shadowgreen{
    background-color: #95c8c3 !important;
}

.btn-steeltree-shadowgreen:hover{
    background-color: #95c8c3ef !important;
   
}

.bg-steeltree-shadowgreen{
    background-color: #95c8c3 !important;
}

.border-steeltree-shadowgreen-1{
    border: 1px solid #95c8c3 !important;
}

.border-steeltree-shadowgreen-2{
    border: 2px solid #95c8c3 !important;
}

.border-steeltree-shadowgreen-3{
    border: 3px solid #95c8c3 !important;
}

.border-steeltree-shadowgreen-4{
    border: 4px solid #95c8c3 !important;
}

.border-steeltree-shadowgreen-5{
    border: 5px solid #95c8c3 !important;
}

.text-steeltree-shadowgreen{
    color: #95c8c3 !important;
}

.form-steeltree-shadowgreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-steeltree-shadowgreen:focus{
    box-shadow: 0 0 5px #95c8c3 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #95c8c3 !important;
}

.spinner-steeltree-shadowgreen{
    border-bottom-color:transparent !important ;
    border-top-color: #95c8c3 !important;
    border-right-color: #95c8c3 !important;
    border-left-color: #95c8c3 !important;
}

/* color-4 ends */

/* color-5 silvertree */


.btn-steeltree-silvertree{
    background-color: #73b591 !important;
}

.btn-steeltree-silvertree:hover{
    background-color: #73b591ec !important;
   
}

.bg-steeltree-silvertree{
    background-color: #73b591 !important;
}

.border-steeltree-silvertree-1{
    border: 1px solid #73b591 !important;
}

.border-steeltree-silvertree-2{
    border: 2px solid #73b591 !important;
}

.border-steeltree-silvertree-3{
    border: 3px solid #73b591 !important;
}

.border-steeltree-silvertree-4{
    border: 4px solid #73b591 !important;
}

.border-steeltree-silvertree-5{
    border: 5px solid #73b591 !important;
}

.text-steeltree-silvertree{
    color: #73b591 !important;
}

.form-steeltree-silvertree{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-steeltree-silvertree:focus{
    box-shadow: 0 0 5px #73b591 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #73b591 !important;
}

.spinner-steeltree-silvertree{
    border-bottom-color:transparent !important ;
    border-top-color: #73b591 !important;
    border-right-color: #73b591 !important;
    border-left-color: #73b591 !important;
}

/* color-5 ends */