/* color-1 grenadier */

.btn-crius-grenadier{
    background-color: #d03b04 !important;
}

.btn-crius-grenadier:hover{
    background-color: #d84e1b !important;
   
}

.bg-crius-grenadier{
    background-color: #d03b04 !important;
}

.border-crius-grenadier-1{
    border: 1px solid #d03b04 !important;
}

.border-crius-grenadier-2{
    border: 2px solid #d03b04 !important;
}

.border-crius-grenadier-3{
    border: 3px solid #d03b04 !important;
}

.border-crius-grenadier-4{
    border: 4px solid #d03b04 !important;
}

.border-crius-grenadier-5{
    border: 5px solid #d03b04 !important;
}

.text-crius-grenadier{
    color: #d03b04 !important;
}

.form-crius-grenadier{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crius-grenadier:focus{
    box-shadow: 0 0 5px #d03b04 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d03b04 !important;
}

.spinner-crius-grenadier{
    border-bottom-color:transparent !important ;
    border-top-color: #d03b04 !important;
    border-right-color: #d03b04 !important;
    border-left-color: #d03b04 !important;
}

/* color-1 ends */

/* color-2 christine */
.btn-crius-christine{
    background-color: #da730c !important;
}

.btn-crius-christine:hover{
    background-color: #dd8b38 !important;
   
}

.bg-crius-christine{
    background-color: #da730c !important;
}

.border-crius-christine-1{
    border: 1px solid #da730c !important;
}

.border-crius-christine-2{
    border: 2px solid #da730c !important;
}

.border-crius-christine-3{
    border: 3px solid #da730c !important;
}

.border-crius-christine-4{
    border: 4px solid #da730c !important;
}

.border-crius-christine-5{
    border: 5px solid #da730c !important;
}

.text-crius-christine{
    color: #da730c !important;
}

.form-crius-christine{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crius-christine:focus{
    box-shadow: 0 0 5px #da730c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #da730c !important;
}

.spinner-crius-christine{
    border-bottom-color:transparent !important ;
    border-top-color: #da730c !important;
    border-right-color: #da730c !important;
    border-left-color: #da730c !important;
}

/* color-2 ends */

/* color-3 anzac */

.btn-crius-anzac{
    background-color: #e09d3a !important;
}

.btn-crius-anzac:hover{
    background-color: #df9220 !important;
   
}

.bg-crius-anzac{
    background-color: #e09d3a !important;
}

.border-crius-anzac-1{
    border: 1px solid #e09d3a !important;
}

.border-crius-anzac-2{
    border: 2px solid #e09d3a !important;
}

.border-crius-anzac-3{
    border: 3px solid #e09d3a !important;
}

.border-crius-anzac-4{
    border: 4px solid #e09d3a !important;
}

.border-crius-anzac-5{
    border: 5px solid #e09d3a !important;
}

.text-crius-anzac{
    color: #e09d3a !important;
}

.form-crius-anzac{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crius-anzac:focus{
    box-shadow: 0 0 5px #e09d3a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e09d3a !important;
}

.spinner-crius-anzac{
    border-bottom-color:transparent !important ;
    border-top-color: #e09d3a !important;
    border-right-color: #e09d3a !important;
    border-left-color: #e09d3a !important;
}

/* color-3 ends */

/* color-4 buff */


.btn-crius-buff{
    background-color: #f4d886 !important;
}

.btn-crius-buff:hover{
    background-color: #f3cd59 !important;
   
}

.bg-crius-buff{
    background-color: #f4d886 !important;
}

.border-crius-buff-1{
    border: 1px solid #f4d886 !important;
}

.border-crius-buff-2{
    border: 2px solid #f4d886 !important;
}

.border-crius-buff-3{
    border: 3px solid #f4d886 !important;
}

.border-crius-buff-4{
    border: 4px solid #f4d886 !important;
}

.border-crius-buff-5{
    border: 5px solid #f4d886 !important;
}

.text-crius-buff{
    color: #f4d886 !important;
}

.form-crius-buff{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crius-buff:focus{
    box-shadow: 0 0 5px #f4d886 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f4d886 !important;
}

.spinner-crius-buff{
    border-bottom-color:transparent !important ;
    border-top-color: #f4d886 !important;
    border-right-color: #f4d886 !important;
    border-left-color: #f4d886 !important;
}

/* color-4 ends */

/* color-5 olivine */


.btn-crius-olivine{
    background-color: #9cbd86 !important;
}

.btn-crius-olivine:hover{
    background-color: #7fb65a !important;
   
}

.bg-crius-olivine{
    background-color: #9cbd86 !important;
}

.border-crius-olivine-1{
    border: 1px solid #9cbd86 !important;
}

.border-crius-olivine-2{
    border: 2px solid #9cbd86 !important;
}

.border-crius-olivine-3{
    border: 3px solid #9cbd86 !important;
}

.border-crius-olivine-4{
    border: 4px solid #9cbd86 !important;
}

.border-crius-olivine-5{
    border: 5px solid #9cbd86 !important;
}

.text-crius-olivine{
    color: #9cbd86 !important;
}

.form-crius-olivine{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-crius-olivine:focus{
    box-shadow: 0 0 5px #9cbd86 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #9cbd86 !important;
}

.spinner-crius-olivine{
    border-bottom-color:transparent !important ;
    border-top-color: #9cbd86 !important;
    border-right-color: #9cbd86 !important;
    border-left-color: #9cbd86 !important;
}

/* color-5 ends */