/* color-1 monalisa */

.btn-aion-monalisa{
    background-color: #fdaf97 !important;
}

.btn-aion-monalisa:hover{
    background-color: #ff997a !important;
   
}

.bg-aion-monalisa{
    background-color: #fdaf97 !important;
}

.border-aion-monalisa-1{
    border: 1px solid #fdaf97 !important;
}

.border-aion-monalisa-2{
    border: 2px solid #fdaf97 !important;
}

.border-aion-monalisa-3{
    border: 3px solid #fdaf97 !important;
}

.border-aion-monalisa-4{
    border: 4px solid #fdaf97 !important;
}

.border-aion-monalisa-5{
    border: 5px solid #fdaf97 !important;
}

.text-aion-monalisa{
    color: #fdaf97 !important;
}

.form-aion-monalisa{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-aion-monalisa:focus{
    box-shadow: 0 0 5px #fdaf97 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fdaf97 !important;
}

.spinner-aion-monalisa{
    border-bottom-color:transparent !important ;
    border-top-color: #fdaf97 !important;
    border-right-color: #fdaf97 !important;
    border-left-color: #fdaf97 !important;
}

/* color-1 ends */

/* color-2 turkishrose */
.btn-aion-turkishrose{
    background-color: #bd6e84 !important;
}

.btn-aion-turkishrose:hover{
    background-color: #b8526f !important;
   
}

.bg-aion-turkishrose{
    background-color: #bd6e84 !important;
}

.border-aion-turkishrose-1{
    border: 1px solid #bd6e84 !important;
}

.border-aion-turkishrose-2{
    border: 2px solid #bd6e84 !important;
}

.border-aion-turkishrose-3{
    border: 3px solid #bd6e84 !important;
}

.border-aion-turkishrose-4{
    border: 4px solid #bd6e84 !important;
}

.border-aion-turkishrose-5{
    border: 5px solid #bd6e84 !important;
}

.text-aion-turkishrose{
    color: #bd6e84 !important;
}

.form-aion-turkishrose{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-aion-turkishrose:focus{
    box-shadow: 0 0 5px #bd6e84 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #bd6e84 !important;
}

.spinner-aion-turkishrose{
    border-bottom-color:transparent !important ;
    border-top-color: #bd6e84 !important;
    border-right-color: #bd6e84 !important;
    border-left-color: #bd6e84 !important;
}

/* color-2 ends */

/* color-3 rum */

.btn-aion-rum{
    background-color: #6f597d !important;
}

.btn-aion-rum:hover{
    background-color: #6e4985 !important;
   
}

.bg-aion-rum{
    background-color: #6f597d !important;
}

.border-aion-rum-1{
    border: 1px solid #6f597d !important;
}

.border-aion-rum-2{
    border: 2px solid #6f597d !important;
}

.border-aion-rum-3{
    border: 3px solid #6f597d !important;
}

.border-aion-rum-4{
    border: 4px solid #6f597d !important;
}

.border-aion-rum-5{
    border: 5px solid #6f597d !important;
}

.text-aion-rum{
    color: #6f597d !important;
}

.form-aion-rum{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-aion-rum:focus{
    box-shadow: 0 0 5px #6f597d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6f597d !important;
}

.spinner-aion-rum{
    border-bottom-color:transparent !important ;
    border-top-color: #6f597d !important;
    border-right-color: #6f597d !important;
    border-left-color: #6f597d !important;
}

/* color-3 ends */

/* color-4 chambray */


.btn-aion-chambray{
    background-color: #385a82 !important;
}

.btn-aion-chambray:hover{
    background-color: #526b88 !important;
   
}

.bg-aion-chambray{
    background-color: #385a82 !important;
}

.border-aion-chambray-1{
    border: 1px solid #385a82 !important;
}

.border-aion-chambray-2{
    border: 2px solid #385a82 !important;
}

.border-aion-chambray-3{
    border: 3px solid #385a82 !important;
}

.border-aion-chambray-4{
    border: 4px solid #385a82 !important;
}

.border-aion-chambray-5{
    border: 5px solid #385a82 !important;
}

.text-aion-chambray{
    color: #385a82 !important;
}

.form-aion-chambray{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-aion-chambray:focus{
    box-shadow: 0 0 5px #385a82 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #385a82 !important;
}

.spinner-aion-chambray{
    border-bottom-color:transparent !important ;
    border-top-color: #385a82 !important;
    border-right-color: #385a82 !important;
    border-left-color: #385a82 !important;
}

/* color-4 ends */

/* color-5 kokoda */


.btn-aion-kokoda{
    background-color: #c5baa5 !important;
}

.btn-aion-kokoda:hover{
    background-color: #bba885 !important;
   
}

.bg-aion-kokoda{
    background-color: #c5baa5 !important;
}

.border-aion-kokoda-1{
    border: 1px solid #c5baa5 !important;
}

.border-aion-kokoda-2{
    border: 2px solid #c5baa5 !important;
}

.border-aion-kokoda-3{
    border: 3px solid #c5baa5 !important;
}

.border-aion-kokoda-4{
    border: 4px solid #c5baa5 !important;
}

.border-aion-kokoda-5{
    border: 5px solid #c5baa5 !important;
}

.text-aion-kokoda{
    color: #c5baa5 !important;
}

.form-aion-kokoda{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-aion-kokoda:focus{
    box-shadow: 0 0 5px #c5baa5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c5baa5 !important;
}

.spinner-aion-kokoda{
    border-bottom-color:transparent !important ;
    border-top-color: #c5baa5 !important;
    border-right-color: #c5baa5 !important;
    border-left-color: #c5baa5 !important;
}

/* color-5 ends */