/* color-1 Orinoco */

.btn-Lawn-Orinoco{
    background-color:#E6fbc3 !important;
}

.btn-Lawn-Orinoco:hover{
    background-color: rgb(132, 163, 109) !important;
   
}

.bg-Lawn-Orinoco{
    background-color:#E6fbc3 !important;
}

.border-Lawn-Orinoco-1{
    border: 1px solid#E6fbc3 !important;
}

.border-Lawn-Orinoco-2{
    border: 2px solid#E6fbc3 !important;
}

.border-Lawn-Orinoco-3{
    border: 3px solid#E6fbc3 !important;
}

.border-Lawn-Orinoco-4{
    border: 4px solid#E6fbc3 !important;
}

.border-Lawn-Orinoco-5{
    border: 5px solid#E6fbc3 !important;
}

.text-Lawn-Orinoco{
    color:#E6fbc3 !important;
}

.form-Lawn-Orinoco{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Lawn-Orinoco:focus{
    box-shadow: 0 0 5px#E6fbc3 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#E6fbc3 !important;
}

.spinner-Lawn-Orinoco{
    border-bottom-color:transparent !important ;
    border-top-color:#E6fbc3 !important;
    border-right-color:#E6fbc3 !important;
    border-left-color:#E6fbc3 !important;
}

/* color-1 ends */

/* color-2 AlgaeGreen */
.btn-Lawn-AlgaeGreen{
    background-color:#9be0b1 !important;
}

.btn-Lawn-AlgaeGreen:hover{
    background-color: rgb(162, 247, 207) !important;
   
}

.bg-Lawn-AlgaeGreen{
    background-color:#9be0b1 !important;
}

.border-Lawn-AlgaeGreen-1{
    border: 1px solid#9be0b1 !important;
}

.border-Lawn-AlgaeGreen-2{
    border: 2px solid#9be0b1 !important;
}

.border-Lawn-AlgaeGreen-3{
    border: 3px solid#9be0b1 !important;
}

.border-Lawn-AlgaeGreen-4{
    border: 4px solid#9be0b1 !important;
}

.border-Lawn-AlgaeGreen-5{
    border: 5px solid#9be0b1 !important;
}

.text-Lawn-AlgaeGreen{
    color:#9be0b1 !important;
}

.form-Lawn-AlgaeGreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Lawn-AlgaeGreen:focus{
    box-shadow: 0 0 5px#9be0b1 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#9be0b1 !important;
}

.spinner-Lawn-AlgaeGreen{
    border-bottom-color:transparent !important ;
    border-top-color:#9be0b1 !important;
    border-right-color:#9be0b1 !important;
    border-left-color:#9be0b1 !important;
}

/* color-2 ends */

/* color-3 Keppel */

.btn-Lawn-Keppel{
    background-color: #46afaa !important;
}

.btn-Lawn-Keppel:hover{
    background-color: #5bbdac !important;
   
}

.bg-Lawn-Keppel{
    background-color: #46afaa !important;
}

.border-Lawn-Keppel-1{
    border: 1px solid #46afaa !important;
}

.border-Lawn-Keppel-2{
    border: 2px solid #46afaa !important;
}

.border-Lawn-Keppel-3{
    border: 3px solid #46afaa !important;
}

.border-Lawn-Keppel-4{
    border: 4px solid #46afaa !important;
}

.border-Lawn-Keppel-5{
    border: 5px solid #46afaa !important;
}

.text-Lawn-Keppel{
    color: #46afaa !important;
}

.form-Lawn-Keppel{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Lawn-Keppel:focus{
    box-shadow: 0 0 5px #46afaa !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #46afaa !important;
}

.spinner-Lawn-Keppel{
    border-bottom-color:transparent !important ;
    border-top-color: #46afaa !important;
    border-right-color: #46afaa !important;
    border-left-color: #46afaa !important;
}

/* color-3 ends */

/* color-4 CuttySark */


.btn-Lawn-CuttySark{
    background-color:#567882 !important;
}

.btn-Lawn-CuttySark:hover{
    background-color: rgb(126, 166, 189) !important;
   
}

.bg-Lawn-CuttySark{
    background-color:#567882 !important;
}

.border-Lawn-CuttySark-1{
    border: 1px solid#567882 !important;
}

.border-Lawn-CuttySark-2{
    border: 2px solid#567882 !important;
}

.border-Lawn-CuttySark-3{
    border: 3px solid#567882 !important;
}

.border-Lawn-CuttySark-4{
    border: 4px solid#567882 !important;
}

.border-Lawn-CuttySark-5{
    border: 5px solid#567882 !important;
}

.text-Lawn-CuttySark{
    color:#567882 !important;
}

.form-Lawn-CuttySark{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Lawn-CuttySark:focus{
    box-shadow: 0 0 5px#567882 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#567882 !important;
}

.spinner-Lawn-CuttySark{
    border-bottom-color:transparent !important ;
    border-top-color:#567882 !important;
    border-right-color:#567882 !important;
    border-left-color:#567882 !important;
}

/* color-4 ends */

/* color-5 DonJuan */


.btn-Lawn-DonJuan{
    background-color:#5a504f !important;
}

.btn-Lawn-DonJuan:hover{
    background-color: rgb(97, 86, 86) !important;
   
}

.bg-Lawn-DonJuan{
    background-color:#5a504f !important;
}

.border-Lawn-DonJuan-1{
    border: 1px solid#5a504f !important;
}

.border-Lawn-DonJuan-2{
    border: 2px solid#5a504f !important;
}

.border-Lawn-DonJuan-3{
    border: 3px solid#5a504f !important;
}

.border-Lawn-DonJuan-4{
    border: 4px solid#5a504f !important;
}

.border-Lawn-DonJuan-5{
    border: 5px solid#5a504f !important;
}

.text-Lawn-DonJuan{
    color:-#5a504f !important;
}

.form-Lawn-DonJuan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Lawn-DonJuan:focus{
    box-shadow: 0 0 5px#5a504f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#5a504f !important;
}

.spinner-Lawn-DonJuan{
    border-bottom-color:transparent !important ;
    border-top-color:#5a504f !important;
    border-right-color:#5a504f !important;
    border-left-color:#5a504f !important;
}

/* color-5 ends */