/* color-1 creamcan */

.btn-moras-creamcan{
    background-color: #f3c769 !important;
}

.btn-moras-creamcan:hover{
    background-color: #f3c769e1 !important;
   
}

.bg-moras-creamcan{
    background-color: #f3c769 !important;
}

.border-moras-creamcan-1{
    border: 1px solid #f3c769 !important;
}

.border-moras-creamcan-2{
    border: 2px solid #f3c769 !important;
}

.border-moras-creamcan-3{
    border: 3px solid #f3c769 !important;
}

.border-moras-creamcan-4{
    border: 4px solid #f3c769 !important;
}

.border-moras-creamcan-5{
    border: 5px solid #f3c769 !important;
}

.text-moras-creamcan{
    color: #f3c769 !important;
}

.form-moras-creamcan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-moras-creamcan:focus{
    box-shadow: 0 0 5px #f3c769 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f3c769 !important;
}

.spinner-moras-creamcan{
    border-bottom-color:transparent !important ;
    border-top-color: #f3c769 !important;
    border-right-color: #f3c769 !important;
    border-left-color: #f3c769 !important;
}

/* color-1 ends */

/* color-2 roman */
.btn-moras-roman{
    background-color: #dd5350 !important;
}

.btn-moras-roman:hover{
    background-color: #dd5250e3 !important;
   
}

.bg-moras-roman{
    background-color: #dd5350 !important;
}

.border-moras-roman-1{
    border: 1px solid #dd5350 !important;
}

.border-moras-roman-2{
    border: 2px solid #dd5350 !important;
}

.border-moras-roman-3{
    border: 3px solid #dd5350 !important;
}

.border-moras-roman-4{
    border: 4px solid #dd5350 !important;
}

.border-moras-roman-5{
    border: 5px solid #dd5350 !important;
}

.text-moras-roman{
    color: #dd5350 !important;
}

.form-moras-roman{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-moras-roman:focus{
    box-shadow: 0 0 5px #dd5350 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #dd5350 !important;
}

.spinner-moras-roman{
    border-bottom-color:transparent !important ;
    border-top-color: #dd5350 !important;
    border-right-color: #dd5350 !important;
    border-left-color: #dd5350 !important;
}

/* color-2 ends */

/* color-3 asparagus */

.btn-moras-asparagus{
    background-color: #7b8b4a !important;
}

.btn-moras-asparagus:hover{
    background-color: #7b8b4ae3  !important;
   
}

.bg-moras-asparagus{
    background-color: #7b8b4a !important;
}

.border-moras-asparagus-1{
    border: 1px solid #7b8b4a !important;
}

.border-moras-asparagus-2{
    border: 2px solid #7b8b4a !important;
}

.border-moras-asparagus-3{
    border: 3px solid #7b8b4a !important;
}

.border-moras-asparagus-4{
    border: 4px solid #7b8b4a !important;
}

.border-moras-asparagus-5{
    border: 5px solid #7b8b4a !important;
}

.text-moras-asparagus{
    color: #7b8b4a !important;
}

.form-moras-asparagus{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-moras-asparagus:focus{
    box-shadow: 0 0 5px #7b8b4a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #7b8b4a !important;
}

.spinner-moras-asparagus{
    border-bottom-color:transparent !important ;
    border-top-color: #7b8b4a !important;
    border-right-color: #7b8b4a !important;
    border-left-color: #7b8b4a !important;
}

/* color-3 ends */

/* color-4 rawsienna */


.btn-moras-rawsienna{
    background-color: #d68043 !important;
}

.btn-moras-rawsienna:hover{
    background-color: #d68043e5 !important;
   
}

.bg-moras-rawsienna{
    background-color: #d68043 !important;
}

.border-moras-rawsienna-1{
    border: 1px solid #d68043 !important;
}

.border-moras-rawsienna-2{
    border: 2px solid #d68043 !important;
}

.border-moras-rawsienna-3{
    border: 3px solid #d68043 !important;
}

.border-moras-rawsienna-4{
    border: 4px solid #d68043 !important;
}

.border-moras-rawsienna-5{
    border: 5px solid #d68043 !important;
}

.text-moras-rawsienna{
    color: #d68043 !important;
}

.form-moras-rawsienna{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-moras-rawsienna:focus{
    box-shadow: 0 0 5px #d68043 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d68043 !important;
}

.spinner-moras-rawsienna{
    border-bottom-color:transparent !important ;
    border-top-color: #d68043 !important;
    border-right-color: #d68043 !important;
    border-left-color: #d68043 !important;
}

/* color-4 ends */

/* color-5 mondo */


.btn-moras-mondo{
    background-color: #413a2a !important;
}

.btn-moras-mondo:hover{
    background-color: #413a2ae1 !important;
   
}

.bg-moras-mondo{
    background-color: #413a2a !important;
}

.border-moras-mondo-1{
    border: 1px solid #413a2a !important;
}

.border-moras-mondo-2{
    border: 2px solid #413a2a !important;
}

.border-moras-mondo-3{
    border: 3px solid #413a2a !important;
}

.border-moras-mondo-4{
    border: 4px solid #413a2a !important;
}

.border-moras-mondo-5{
    border: 5px solid #413a2a !important;
}

.text-moras-mondo{
    color: #413a2a !important;
}

.form-moras-mondo{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-moras-mondo:focus{
    box-shadow: 0 0 5px #413a2a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #413a2a !important;
}

.spinner-moras-mondo{
    border-bottom-color:transparent !important ;
    border-top-color: #413a2a !important;
    border-right-color: #413a2a !important;
    border-left-color: #413a2a !important;
}

/* color-5 ends */