/* color-1 frenchrose */

.btn-goldenrose-frenchrose{
    background-color: #f1456d !important;
}

.btn-goldenrose-frenchrose:hover{
    background-color: #f1456de8  !important;
   
}

.bg-goldenrose-frenchrose{
    background-color: #f1456d !important;
}

.border-goldenrose-frenchrose-1{
    border: 1px solid #f1456d !important;
}

.border-goldenrose-frenchrose-2{
    border: 2px solid #f1456d !important;
}

.border-goldenrose-frenchrose-3{
    border: 3px solid #f1456d !important;
}

.border-goldenrose-frenchrose-4{
    border: 4px solid #f1456d !important;
}

.border-goldenrose-frenchrose-5{
    border: 5px solid #f1456d !important;
}

.text-goldenrose-frenchrose{
    color: #f1456d !important;
}

.form-goldenrose-frenchrose{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-goldenrose-frenchrose:focus{
    box-shadow: 0 0 5px #f1456d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f1456d !important;
}

.spinner-goldenrose-frenchrose{
    border-bottom-color:transparent !important ;
    border-top-color: #f1456d !important;
    border-right-color: #f1456d !important;
    border-left-color: #f1456d !important;
}

/* color-1 ends */

/* color-2 goldentainoi */
.btn-goldenrose-goldentainoi{
    background-color: #fed061 !important;
}

.btn-goldenrose-goldentainoi:hover{
    background-color: #fecf61ea !important;
   
}

.bg-goldenrose-goldentainoi{
    background-color: #fed061 !important;
}

.border-goldenrose-goldentainoi-1{
    border: 1px solid #fed061 !important;
}

.border-goldenrose-goldentainoi-2{
    border: 2px solid #fed061 !important;
}

.border-goldenrose-goldentainoi-3{
    border: 3px solid #fed061 !important;
}

.border-goldenrose-goldentainoi-4{
    border: 4px solid #fed061 !important;
}

.border-goldenrose-goldentainoi-5{
    border: 5px solid #fed061 !important;
}

.text-goldenrose-goldentainoi{
    color: #fed061 !important;
}

.form-goldenrose-goldentainoi{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-goldenrose-goldentainoi:focus{
    box-shadow: 0 0 5px #fed061 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fed061 !important;
}

.spinner-goldenrose-goldentainoi{
    border-bottom-color:transparent !important ;
    border-top-color: #fed061 !important;
    border-right-color: #fed061 !important;
    border-left-color: #fed061 !important;
}

/* color-2 ends */

/* color-3 caribbeangreen */

.btn-goldenrose-caribbeangreen{
    background-color: #03d8a0 !important;
}

.btn-goldenrose-caribbeangreen:hover{
    background-color: #03d89fee  !important;
   
}

.bg-goldenrose-caribbeangreen{
    background-color: #03d8a0 !important;
}

.border-goldenrose-caribbeangreen-1{
    border: 1px solid #03d8a0 !important;
}

.border-goldenrose-caribbeangreen-2{
    border: 2px solid #03d8a0 !important;
}

.border-goldenrose-caribbeangreen-3{
    border: 3px solid #03d8a0 !important;
}

.border-goldenrose-caribbeangreen-4{
    border: 4px solid #03d8a0 !important;
}

.border-goldenrose-caribbeangreen-5{
    border: 5px solid #03d8a0 !important;
}

.text-goldenrose-caribbeangreen{
    color: #03d8a0 !important;
}

.form-goldenrose-caribbeangreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-goldenrose-caribbeangreen:focus{
    box-shadow: 0 0 5px #03d8a0 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #03d8a0 !important;
}

.spinner-goldenrose-caribbeangreen{
    border-bottom-color:transparent !important ;
    border-top-color: #03d8a0 !important;
    border-right-color: #03d8a0 !important;
    border-left-color: #03d8a0 !important;
}

/* color-3 ends */

/* color-4 bluechill */


.btn-goldenrose-bluechill{
    background-color: #0e8cb4 !important;
}

.btn-goldenrose-bluechill:hover{
    background-color: #0e8db4ee !important;
   
}

.bg-goldenrose-bluechill{
    background-color: #0e8cb4 !important;
}

.border-goldenrose-bluechill-1{
    border: 1px solid #0e8cb4 !important;
}

.border-goldenrose-bluechill-2{
    border: 2px solid #0e8cb4 !important;
}

.border-goldenrose-bluechill-3{
    border: 3px solid #0e8cb4 !important;
}

.border-goldenrose-bluechill-4{
    border: 4px solid #0e8cb4 !important;
}

.border-goldenrose-bluechill-5{
    border: 5px solid #0e8cb4 !important;
}

.text-goldenrose-bluechill{
    color: #0e8cb4 !important;
}

.form-goldenrose-bluechill{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-goldenrose-bluechill:focus{
    box-shadow: 0 0 5px #0e8cb4 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0e8cb4 !important;
}

.spinner-goldenrose-bluechill{
    border-bottom-color:transparent !important ;
    border-top-color: #0e8cb4 !important;
    border-right-color: #0e8cb4 !important;
    border-left-color: #0e8cb4 !important;
}

/* color-4 ends */

/* color-5 tealblue */


.btn-goldenrose-tealblue{
    background-color: #023b4c !important;
}

.btn-goldenrose-tealblue:hover{
    background-color: #023b4cee !important;
   
}

.bg-goldenrose-tealblue{
    background-color: #023b4c !important;
}

.border-goldenrose-tealblue-1{
    border: 1px solid #023b4c !important;
}

.border-goldenrose-tealblue-2{
    border: 2px solid #023b4c !important;
}

.border-goldenrose-tealblue-3{
    border: 3px solid #023b4c !important;
}

.border-goldenrose-tealblue-4{
    border: 4px solid #023b4c !important;
}

.border-goldenrose-tealblue-5{
    border: 5px solid #023b4c !important;
}

.text-goldenrose-tealblue{
    color: #023b4c !important;
}

.form-goldenrose-tealblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-goldenrose-tealblue:focus{
    box-shadow: 0 0 5px #023b4c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #023b4c !important;
}

.spinner-goldenrose-tealblue{
    border-bottom-color:transparent !important ;
    border-top-color: #023b4c !important;
    border-right-color: #023b4c !important;
    border-left-color: #023b4c !important;
}

/* color-5 ends */