/* color-1 calico */

.btn-lape-calico{
    background-color: #e1b497 !important;
}

.btn-lape-calico:hover{
    background-color: #dda078 !important;
   
}

.bg-lape-calico{
    background-color: #e1b497 !important;
}

.border-lape-calico-1{
    border: 1px solid #e1b497 !important;
}

.border-lape-calico-2{
    border: 2px solid #e1b497 !important;
}

.border-lape-calico-3{
    border: 3px solid #e1b497 !important;
}

.border-lape-calico-4{
    border: 4px solid #e1b497 !important;
}

.border-lape-calico-5{
    border: 5px solid #e1b497 !important;
}

.text-lape-calico{
    color: #e1b497 !important;
}

.form-lape-calico{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lape-calico:focus{
    box-shadow: 0 0 5px #e1b497 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e1b497 !important;
}

.spinner-lape-calico{
    border-bottom-color:transparent !important ;
    border-top-color: #e1b497 !important;
    border-right-color: #e1b497 !important;
    border-left-color: #e1b497 !important;
}

/* color-1 ends */

/* color-2 beeswax */
.btn-lape-beeswax{
    background-color: #fdf2c6 !important;
}

.btn-lape-beeswax:hover{
    background-color: #fae79a !important;
   
}

.bg-lape-beeswax{
    background-color: #fdf2c6 !important;
}

.border-lape-beeswax-1{
    border: 1px solid #fdf2c6 !important;
}

.border-lape-beeswax-2{
    border: 2px solid #fdf2c6 !important;
}

.border-lape-beeswax-3{
    border: 3px solid #fdf2c6 !important;
}

.border-lape-beeswax-4{
    border: 4px solid #fdf2c6 !important;
}

.border-lape-beeswax-5{
    border: 5px solid #fdf2c6 !important;
}

.text-lape-beeswax{
    color: #fdf2c6 !important;
}

.form-lape-beeswax{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lape-beeswax:focus{
    box-shadow: 0 0 5px #fdf2c6 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fdf2c6 !important;
}

.spinner-lape-beeswax{
    border-bottom-color:transparent !important ;
    border-top-color: #fdf2c6 !important;
    border-right-color: #fdf2c6 !important;
    border-left-color: #fdf2c6 !important;
}

/* color-2 ends */

/* color-3 grainbrown */

.btn-lape-grainbrown{
    background-color: #e0d2ae !important;
}

.btn-lape-grainbrown:hover{
    background-color: #e4c985 !important;
   
}

.bg-lape-grainbrown{
    background-color: #e0d2ae !important;
}

.border-lape-grainbrown-1{
    border: 1px solid #e0d2ae !important;
}

.border-lape-grainbrown-2{
    border: 2px solid #e0d2ae !important;
}

.border-lape-grainbrown-3{
    border: 3px solid #e0d2ae !important;
}

.border-lape-grainbrown-4{
    border: 4px solid #e0d2ae !important;
}

.border-lape-grainbrown-5{
    border: 5px solid #e0d2ae !important;
}

.text-lape-grainbrown{
    color: #e0d2ae !important;
}

.form-lape-grainbrown{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lape-grainbrown:focus{
    box-shadow: 0 0 5px #e0d2ae !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e0d2ae !important;
}

.spinner-lape-grainbrown{
    border-bottom-color:transparent !important ;
    border-top-color: #e0d2ae !important;
    border-right-color: #e0d2ae !important;
    border-left-color: #e0d2ae !important;
}

/* color-3 ends */

/* color-4 bud */


.btn-lape-bud{
    background-color: #a0a59f !important;
}

.btn-lape-bud:hover{
    background-color: #888b87 !important;
   
}

.bg-lape-bud{
    background-color: #a0a59f !important;
}

.border-lape-bud-1{
    border: 1px solid #a0a59f !important;
}

.border-lape-bud-2{
    border: 2px solid #a0a59f !important;
}

.border-lape-bud-3{
    border: 3px solid #a0a59f !important;
}

.border-lape-bud-4{
    border: 4px solid #a0a59f !important;
}

.border-lape-bud-5{
    border: 5px solid #a0a59f !important;
}

.text-lape-bud{
    color: #a0a59f !important;
}

.form-lape-bud{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lape-bud:focus{
    box-shadow: 0 0 5px #a0a59f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a0a59f !important;
}

.spinner-lape-bud{
    border-bottom-color:transparent !important ;
    border-top-color: #a0a59f !important;
    border-right-color: #a0a59f !important;
    border-left-color: #a0a59f !important;
}

/* color-4 ends */

/* color-5 gumleaf */


.btn-lape-gumleaf{
    background-color: #bbd1c5 !important;
}

.btn-lape-gumleaf:hover{
    background-color: #97cfb0 !important;
   
}

.bg-lape-gumleaf{
    background-color: #bbd1c5 !important;
}

.border-lape-gumleaf-1{
    border: 1px solid #bbd1c5 !important;
}

.border-lape-gumleaf-2{
    border: 2px solid #bbd1c5 !important;
}

.border-lape-gumleaf-3{
    border: 3px solid #bbd1c5 !important;
}

.border-lape-gumleaf-4{
    border: 4px solid #bbd1c5 !important;
}

.border-lape-gumleaf-5{
    border: 5px solid #bbd1c5 !important;
}

.text-lape-gumleaf{
    color: #bbd1c5 !important;
}

.form-lape-gumleaf{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-lape-gumleaf:focus{
    box-shadow: 0 0 5px #bbd1c5 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #bbd1c5 !important;
}

.spinner-lape-gumleaf{
    border-bottom-color:transparent !important ;
    border-top-color: #bbd1c5 !important;
    border-right-color: #bbd1c5 !important;
    border-left-color: #bbd1c5 !important;
}

/* color-5 ends */