/* color-1 whiskey */

.btn-hatra-whiskey{
    background-color: #d3aa60 !important;
}

.btn-hatra-whiskey:hover{
    background-color: #cfaf72 !important;
   
}

.bg-hatra-whiskey{
    background-color: #d3aa60 !important;
}

.border-hatra-whiskey-1{
    border: 1px solid #d3aa60 !important;
}

.border-hatra-whiskey-2{
    border: 2px solid #d3aa60 !important;
}

.border-hatra-whiskey-3{
    border: 3px solid #d3aa60 !important;
}

.border-hatra-whiskey-4{
    border: 4px solid #d3aa60 !important;
}

.border-hatra-whiskey-5{
    border: 5px solid #d3aa60 !important;
}

.text-hatra-whiskey{
    color: #d3aa60 !important;
}

.form-hatra-whiskey{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hatra-whiskey:focus{
    box-shadow: 0 0 5px #d3aa60 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d3aa60 !important;
}

.spinner-hatra-whiskey{
    border-bottom-color:transparent !important ;
    border-top-color: #d3aa60 !important;
    border-right-color: #d3aa60 !important;
    border-left-color: #d3aa60 !important;
}

/* color-1 ends */

/* color-2 brownrust */
.btn-hatra-brownrust{
    background-color: #ab6939 !important;
}

.btn-hatra-brownrust:hover{
    background-color: #b3764b !important;
   
}

.bg-hatra-brownrust{
    background-color: #ab6939 !important;
}

.border-hatra-brownrust-1{
    border: 1px solid #ab6939 !important;
}

.border-hatra-brownrust-2{
    border: 2px solid #ab6939 !important;
}

.border-hatra-brownrust-3{
    border: 3px solid #ab6939 !important;
}

.border-hatra-brownrust-4{
    border: 4px solid #ab6939 !important;
}

.border-hatra-brownrust-5{
    border: 5px solid #ab6939 !important;
}

.text-hatra-brownrust{
    color: #ab6939 !important;
}

.form-hatra-brownrust{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hatra-brownrust:focus{
    box-shadow: 0 0 5px #ab6939 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ab6939 !important;
}

.spinner-hatra-brownrust{
    border-bottom-color:transparent !important ;
    border-top-color: #ab6939 !important;
    border-right-color: #ab6939 !important;
    border-left-color: #ab6939 !important;
}

/* color-2 ends */

/* color-3 sanguinebrown */

.btn-hatra-sanguinebrown{
    background-color: #8c3a3a !important;
}

.btn-hatra-sanguinebrown:hover{
    background-color: #9b4141 !important;
   
}

.bg-hatra-sanguinebrown{
    background-color: #8c3a3a !important;
}

.border-hatra-sanguinebrown-1{
    border: 1px solid #8c3a3a !important;
}

.border-hatra-sanguinebrown-2{
    border: 2px solid #8c3a3a !important;
}

.border-hatra-sanguinebrown-3{
    border: 3px solid #8c3a3a !important;
}

.border-hatra-sanguinebrown-4{
    border: 4px solid #8c3a3a !important;
}

.border-hatra-sanguinebrown-5{
    border: 5px solid #8c3a3a !important;
}

.text-hatra-sanguinebrown{
    color: #8c3a3a !important;
}

.form-hatra-sanguinebrown{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hatra-sanguinebrown:focus{
    box-shadow: 0 0 5px #8c3a3a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8c3a3a !important;
}

.spinner-hatra-sanguinebrown{
    border-bottom-color:transparent !important ;
    border-top-color: #8c3a3a !important;
    border-right-color: #8c3a3a !important;
    border-left-color: #8c3a3a !important;
}

/* color-3 ends */

/* color-4 masala */


.btn-hatra-masala{
    background-color: #413d3a !important;
}

.btn-hatra-masala:hover{
    background-color: #504b47 !important;
   
}

.bg-hatra-masala{
    background-color: #413d3a !important;
}

.border-hatra-masala-1{
    border: 1px solid #413d3a !important;
}

.border-hatra-masala-2{
    border: 2px solid #413d3a !important;
}

.border-hatra-masala-3{
    border: 3px solid #413d3a !important;
}

.border-hatra-masala-4{
    border: 4px solid #413d3a !important;
}

.border-hatra-masala-5{
    border: 5px solid #413d3a !important;
}

.text-hatra-masala{
    color: #413d3a !important;
}

.form-hatra-masala{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hatra-masala:focus{
    box-shadow: 0 0 5px #413d3a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #413d3a !important;
}

.spinner-hatra-masala{
    border-bottom-color:transparent !important ;
    border-top-color: #413d3a !important;
    border-right-color: #413d3a !important;
    border-left-color: #413d3a !important;
}

/* color-4 ends */

/* color-5 viridiongreen */


.btn-hatra-viridiongreen{
    background-color: #5f7d73 !important;
}

.btn-hatra-viridiongreen:hover{
    background-color: #5f7d73 !important;
   
}

.bg-hatra-viridiongreen{
    background-color: #5f7d73 !important;
}

.border-hatra-viridiongreen-1{
    border: 1px solid #5f7d73 !important;
}

.border-hatra-viridiongreen-2{
    border: 2px solid #5f7d73 !important;
}

.border-hatra-viridiongreen-3{
    border: 3px solid #5f7d73 !important;
}

.border-hatra-viridiongreen-4{
    border: 4px solid #5f7d73 !important;
}

.border-hatra-viridiongreen-5{
    border: 5px solid #5f7d73 !important;
}

.text-hatra-viridiongreen{
    color: #5f7d73 !important;
}

.form-hatra-viridiongreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-hatra-viridiongreen:focus{
    box-shadow: 0 0 5px #5f7d73 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5f7d73 !important;
}

.spinner-hatra-viridiongreen{
    border-bottom-color:transparent !important ;
    border-top-color: #5f7d73 !important;
    border-right-color: #5f7d73 !important;
    border-left-color: #5f7d73 !important;
}

/* color-5 ends */