/* color-1 Turboo */

.btn-Oracle-Turboo{
    background-color:#F4e203 !important;
}

.btn-Oracle-Turboo:hover{
    background-color: rgb(177, 166, 22) !important;
   
}

.bg-Oracle-Turboo{
    background-color:#F4e203 !important;
}

.border-Oracle-Turboo-1{
    border: 1px solid#F4e203 !important;
}

.border-Oracle-Turboo-2{
    border: 2px solid#F4e203 !important;
}

.border-Oracle-Turboo-3{
    border: 3px solid#F4e203 !important;
}

.border-Oracle-Turboo-4{
    border: 4px solid#F4e203 !important;
}

.border-Oracle-Turboo-5{
    border: 5px solid#F4e203 !important;
}

.text-Oracle-Turboo{
    color:#F4e203 !important;
}

.form-Oracle-Turboo{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Oracle-
 Turboo:focus{
    box-shadow: 0 0 5px#F4e203 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#F4e203 !important;
}

.spinner-Oracle-Turboo{
    border-bottom-color:transparent !important ;
    border-top-color:#F4e203 !important;
    border-right-color:#F4e203 !important;
    border-left-color:#F4e203 !important;
}

/* color-1 ends */

/* color-2 Ivory */
.btn-Oracle-Ivory{
    background-color: #Fefffa !important;
}

.btn-Oracle-Ivory:hover{
    background-color: rgba(199, 198, 178, 0.945) !important;
   
}

.bg-Oracle-Ivory{
    background-color: #Fefffa !important;
}

.border-Oracle-Ivory-1{
    border: 1px solid #Fefffa !important;
}

.border-Oracle-Ivory-2{
    border: 2px solid #Fefffa !important;
}

.border-Oracle-Ivory-3{
    border: 3px solid #Fefffa !important;
}

.border-Oracle-Ivory-4{
    border: 4px solid #Fefffa !important;
}

.border-Oracle-Ivory-5{
    border: 5px solid #Fefffa !important;
}

.text-Oracle-Ivory{
    color: #Fefffa !important;
}

.form-Oracle-Ivory{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Oracle-Ivory:focus{
    box-shadow: 0 0 5px #Fefffa !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Fefffa !important;
}

.spinner-Oracle-Ivory{
    border-bottom-color:transparent !important ;
    border-top-color: #Fefffa !important;
    border-right-color: #Fefffa !important;
    border-left-color: #Fefffa !important;
}

/* color-2 ends */

/* color-3 MorningGlory */

.btn-Oracle-MorningGlory{
    background-color: #91d9d8 !important;
}

.btn-Oracle-MorningGlory:hover{
    background-color: #93f5f5f1 !important;
   
}

.bg-Oracle-MorningGlory{
    background-color: #91d9d8 !important;
}

.border-Oracle-MorningGlory-1{
    border: 1px solid #91d9d8 !important;
}

.border-Oracle-MorningGlory-2{
    border: 2px solid #91d9d8 !important;
}

.border-Oracle-MorningGlory-3{
    border: 3px solid #91d9d8 !important;
}

.border-Oracle-MorningGlory-4{
    border: 4px solid #91d9d8 !important;
}

.border-Oracle-MorningGlory-5{
    border: 5px solid #91d9d8 !important;
}

.text-Oracle-MorningGlory{
    color: #91d9d8 !important;
}

.form-Oracle-MorningGlory{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Oracle-MorningGlory:focus{
    box-shadow: 0 0 5px #91d9d8 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #91d9d8 !important;
}

.spinner-Oracle-MorningGlory{
    border-bottom-color:transparent !important ;
    border-top-color: #91d9d8 !important;
    border-right-color: #91d9d8 !important;
    border-left-color: #91d9d8 !important;
}

/* color-3 ends */

/* color-4 Hippieblue */


.btn-Oracle-Hippieblue{
    background-color:#4ea6a7 !important;
}

.btn-Oracle-Hippieblue:hover{
    background-color: rgb(53, 238, 207) !important;
   
}

.bg-Oracle-Hippieblue{
    background-color:#4ea6a7 !important;
}

.border-Oracle-Hippieblue-1{
    border: 1px solid#4ea6a7 !important;
}

.border-Oracle-Hippieblue-2{
    border: 2px solid#4ea6a7 !important;
}

.border-Oracle-Hippieblue-3{
    border: 3px solid#4ea6a7 !important;
}

.border-Oracle-Hippieblue-4{
    border: 4px solid#4ea6a7 !important;
}

.border-Oracle-Hippieblue-5{
    border: 5px solid#4ea6a7 !important;
}

.text-Oracle-Hippieblue{
    color:#4ea6a7 !important;
}

.form-Oracle-Hippieblue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Oracle-Hippieblue:focus{
    box-shadow: 0 0 5px#4ea6a7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#4ea6a7 !important;
}

.spinner-Oracle-Hippieblue{
    border-bottom-color:transparent !important ;
    border-top-color:#4ea6a7 !important;
    border-right-color:#4ea6a7 !important;
    border-left-color:#4ea6a7 !important;
}

/* color-4 ends */

/* color-5 ElectricBlue */


.btn-Oracle-ElectricBlue{
    background-color:#337373 !important;
}

.btn-Oracle-ElectricBlue:hover{
    background-color: rgb(92, 169, 199) !important;
   
}

.bg-Oracle-ElectricBlue{
    background-color:#337373 !important;
}

.border-Oracle-ElectricBlue-1{
    border: 1px solid#337373 !important;
}

.border-Oracle-ElectricBlue-2{
    border: 2px solid#337373 !important;
}

.border-Oracle-ElectricBlue-3{
    border: 3px solid#337373 !important;
}

.border-Oracle-ElectricBlue-4{
    border: 4px solid#337373 !important;
}

.border-Oracle-ElectricBlue-5{
    border: 5px solid#337373 !important;
}

.text-Oracle-ElectricBlue{
    color:#337373 !important;
}

.form-Oracle-ElectricBlue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Oracle-ElectricBlue:focus{
    box-shadow: 0 0 5px#337373 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#337373 !important;
}

.spinner-Oracle-ElectricBlue{
    border-bottom-color:transparent !important ;
    border-top-color:#337373 !important;
    border-right-color:#337373 !important;
    border-left-color:#337373 !important;
}

/* color-5 ends */