/* color-1 oceangreen */

.btn-ledeoz-oceangreen{
    background-color: #4a9d8c !important;
}

.btn-ledeoz-oceangreen:hover{
    background-color: #4a9d8cde !important;
   
}

.bg-ledeoz-oceangreen{
    background-color: #4a9d8c !important;
}

.border-ledeoz-oceangreen-1{
    border: 1px solid #4a9d8c !important;
}

.border-ledeoz-oceangreen-2{
    border: 2px solid #4a9d8c !important;
}

.border-ledeoz-oceangreen-3{
    border: 3px solid #4a9d8c !important;
}

.border-ledeoz-oceangreen-4{
    border: 4px solid #4a9d8c !important;
}

.border-ledeoz-oceangreen-5{
    border: 5px solid #4a9d8c !important;
}

.text-ledeoz-oceangreen{
    color: #4a9d8c !important;
}

.form-ledeoz-oceangreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ledeoz-oceangreen:focus{
    box-shadow: 0 0 5px #4a9d8c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #4a9d8c !important;
}

.spinner-ledeoz-oceangreen{
    border-bottom-color:transparent !important ;
    border-top-color: #4a9d8c !important;
    border-right-color: #4a9d8c !important;
    border-left-color: #4a9d8c !important;
}

/* color-1 ends */

/* color-2 deyork */
.btn-ledeoz-deyork{
    background-color: #85cc9f !important;
}

.btn-ledeoz-deyork:hover{
    background-color: #85cc9fe3 !important;
   
}

.bg-ledeoz-deyork{
    background-color: #85cc9f !important;
}

.border-ledeoz-deyork-1{
    border: 1px solid #85cc9f !important;
}

.border-ledeoz-deyork-2{
    border: 2px solid #85cc9f !important;
}

.border-ledeoz-deyork-3{
    border: 3px solid #85cc9f !important;
}

.border-ledeoz-deyork-4{
    border: 4px solid #85cc9f !important;
}

.border-ledeoz-deyork-5{
    border: 5px solid #85cc9f !important;
}

.text-ledeoz-deyork{
    color: #85cc9f !important;
}

.form-ledeoz-deyork{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ledeoz-deyork:focus{
    box-shadow: 0 0 5px #85cc9f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #85cc9f !important;
}

.spinner-ledeoz-deyork{
    border-bottom-color:transparent !important ;
    border-top-color: #85cc9f !important;
    border-right-color: #85cc9f !important;
    border-left-color: #85cc9f !important;
}

/* color-2 ends */

/* color-3 celadon */

.btn-ledeoz-celadon{
    background-color: #a4dfa9 !important;
}

.btn-ledeoz-celadon:hover{
    background-color: #a4dfa9de  !important;
   
}

.bg-ledeoz-celadon{
    background-color: #a4dfa9 !important;
}

.border-ledeoz-celadon-1{
    border: 1px solid #a4dfa9 !important;
}

.border-ledeoz-celadon-2{
    border: 2px solid #a4dfa9 !important;
}

.border-ledeoz-celadon-3{
    border: 3px solid #a4dfa9 !important;
}

.border-ledeoz-celadon-4{
    border: 4px solid #a4dfa9 !important;
}

.border-ledeoz-celadon-5{
    border: 5px solid #a4dfa9 !important;
}

.text-ledeoz-celadon{
    color: #a4dfa9 !important;
}

.form-ledeoz-celadon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ledeoz-celadon:focus{
    box-shadow: 0 0 5px #a4dfa9 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a4dfa9 !important;
}

.spinner-ledeoz-celadon{
    border-bottom-color:transparent !important ;
    border-top-color: #a4dfa9 !important;
    border-right-color: #a4dfa9 !important;
    border-left-color: #a4dfa9 !important;
}

/* color-3 ends */

/* color-4 zanah */


.btn-ledeoz-zanah{
    background-color: #c8e7c7 !important;
}

.btn-ledeoz-zanah:hover{
    background-color: #bfdfbe !important;
   
}

.bg-ledeoz-zanah{
    background-color: #c8e7c7 !important;
}

.border-ledeoz-zanah-1{
    border: 1px solid #c8e7c7 !important;
}

.border-ledeoz-zanah-2{
    border: 2px solid #c8e7c7 !important;
}

.border-ledeoz-zanah-3{
    border: 3px solid #c8e7c7 !important;
}

.border-ledeoz-zanah-4{
    border: 4px solid #c8e7c7 !important;
}

.border-ledeoz-zanah-5{
    border: 5px solid #c8e7c7 !important;
}

.text-ledeoz-zanah{
    color: #c8e7c7 !important;
}

.form-ledeoz-zanah{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ledeoz-zanah:focus{
    box-shadow: 0 0 5px #c8e7c7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c8e7c7 !important;
}

.spinner-ledeoz-zanah{
    border-bottom-color:transparent !important ;
    border-top-color: #c8e7c7 !important;
    border-right-color: #c8e7c7 !important;
    border-left-color: #c8e7c7 !important;
}

/* color-4 ends */

/* color-5 lemonchiffon */


.btn-ledeoz-lemonchiffon{
    background-color: #fff7c9 !important;
}

.btn-ledeoz-lemonchiffon:hover{
    background-color: #fff4b8 !important;
   
}

.bg-ledeoz-lemonchiffon{
    background-color: #fff7c9 !important;
}

.border-ledeoz-lemonchiffon-1{
    border: 1px solid #fff7c9 !important;
}

.border-ledeoz-lemonchiffon-2{
    border: 2px solid #fff7c9 !important;
}

.border-ledeoz-lemonchiffon-3{
    border: 3px solid #fff7c9 !important;
}

.border-ledeoz-lemonchiffon-4{
    border: 4px solid #fff7c9 !important;
}

.border-ledeoz-lemonchiffon-5{
    border: 5px solid #fff7c9 !important;
}

.text-ledeoz-lemonchiffon{
    color: #fff7c9 !important;
}

.form-ledeoz-lemonchiffon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-ledeoz-lemonchiffon:focus{
    box-shadow: 0 0 5px #fff7c9 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fff7c9 !important;
}

.spinner-ledeoz-lemonchiffon{
    border-bottom-color:transparent !important ;
    border-top-color: #fff7c9 !important;
    border-right-color: #fff7c9 !important;
    border-left-color: #fff7c9 !important;
}

/* color-5 ends */