/* color-1 Mirage */

.btn-Martinique-Mirage{
    background-color:#191827 !important;
}

.btn-Martinique-Mirage:hover{
    background-color: rgb(61, 64, 88) !important;
   
}

.bg-Martinique-Mirage{
    background-color:#191827 !important;
}

.border-Martinique-Mirage-1{
    border: 1px solid#191827 !important;
}

.border-Martinique-Mirage-2{
    border: 2px solid#191827 !important;
}

.border-Martinique-Mirage-3{
    border: 3px solid#191827 !important;
}

.border-Martinique-Mirage-4{
    border: 4px solid#191827 !important;
}

.border-Martinique-Mirage-5{
    border: 5px solid#191827 !important;
}

.text-Martinique-Mirage{
    color:#191827 !important;
}

.form-Martinique-Mirage{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Martinique-
 Mirage:focus{
    box-shadow: 0 0 5px#191827 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#191827 !important;
}

.spinner-Martinique-Mirage{
    border-bottom-color:transparent !important ;
    border-top-color:#191827 !important;
    border-right-color:#191827 !important;
    border-left-color:#191827 !important;
}

/* color-1 ends */

/* color-2 Byzantium */
.btn-Martinique-Byzantium{
    background-color:#312549 !important;
}

.btn-Martinique-Byzantium:hover{
    background-color: rgba(81, 38, 116, 0.945) !important;
   
}

.bg-Martinique-Byzantium{
    background-color:#312549 !important;
}

.border-Martinique-Byzantium-1{
    border: 1px solid#312549 !important;
}

.border-Martinique-Byzantium-2{
    border: 2px solid#312549 !important;
}

.border-Martinique-Byzantium-3{
    border: 3px solid#312549 !important;
}

.border-Martinique-Byzantium-4{
    border: 4px solid#312549 !important;
}

.border-Martinique-Byzantium-5{
    border: 5px solid#312549 !important;
}

.text-Martinique-Byzantium{
    color:#312549 !important;
}

.form-Martinique-Byzantium{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Martinique-Byzantium:focus{
    box-shadow: 0 0 5px#312549 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#312549 !important;
}

.spinner-Martinique-Byzantium{
    border-bottom-color:transparent !important ;
    border-top-color:#312549 !important;
    border-right-color:#312549 !important;
    border-left-color:#312549 !important;
}

/* color-2 ends */

/* color-3 Paradiso */

.btn-Martinique-Paradiso{
    background-color: #2b6e74!important;
}

.btn-Martinique-Paradiso:hover{
    background-color: #1d6363 !important;
   
}

.bg-Martinique-Paradiso{
    background-color: #2b6e74!important;
}

.border-Martinique-Paradiso-1{
    border: 1px solid #2b6e74!important;
}

.border-Martinique-Paradiso-2{
    border: 2px solid #2b6e74!important;
}

.border-Martinique-Paradiso-3{
    border: 3px solid #2b6e74!important;
}

.border-Martinique-Paradiso-4{
    border: 4px solid #2b6e74!important;
}

.border-Martinique-Paradiso-5{
    border: 5px solid #2b6e74!important;
}

.text-Martinique-Paradiso{
    color: #2b6e74!important;
}

.form-Martinique-Paradiso{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Martinique-Paradiso:focus{
    box-shadow: 0 0 5px #2b6e74!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #2b6e74!important;
}

.spinner-Martinique-Paradiso{
    border-bottom-color:transparent !important ;
    border-top-color: #2b6e74!important;
    border-right-color: #2b6e74!important;
    border-left-color: #2b6e74!important;
}

/* color-3 ends */

/* color-4 VistaBlue */


.btn-Martinique-VistaBlue{
    background-color:#78d495 !important;
}

.btn-Martinique-VistaBlue:hover{
    background-color: rgb(155, 229, 207) !important;
   
}

.bg-Martinique-VistaBlue{
    background-color:#78d495 !important;
}

.border-Martinique-VistaBlue-1{
    border: 1px solid#78d495 !important;
}

.border-Martinique-VistaBlue-2{
    border: 2px solid#78d495 !important;
}

.border-Martinique-VistaBlue-3{
    border: 3px solid#78d495 !important;
}

.border-Martinique-VistaBlue-4{
    border: 4px solid#78d495 !important;
}

.border-Martinique-VistaBlue-5{
    border: 5px solid#78d495 !important;
}

.text-Martinique-VistaBlue{
    color:#78d495 !important;
}

.form-Martinique-VistaBlue{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Martinique-VistaBlue:focus{
    box-shadow: 0 0 5px#78d495 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#78d495 !important;
}

.spinner-Martinique-VistaBlue{
    border-bottom-color:transparent !important ;
    border-top-color:#78d495 !important;
    border-right-color:#78d495 !important;
    border-left-color:#78d495 !important;
}

/* color-4 ends */

/* color-5 Texas */


.btn-Martinique-Texas{
    background-color:#Fbf698 !important;
}

.btn-Martinique-Texas:hover{
    background-color: rgb(187, 185, 87) !important;
   
}

.bg-Martinique-Texas{
    background-color:#Fbf698 !important;
}

.border-Martinique-Texas-1{
    border: 1px solid#Fbf698 !important;
}

.border-Martinique-Texas-2{
    border: 2px solid#Fbf698 !important;
}

.border-Martinique-Texas-3{
    border: 3px solid#Fbf698 !important;
}

.border-Martinique-Texas-4{
    border: 4px solid#Fbf698 !important;
}

.border-Martinique-Texas-5{
    border: 5px solid#Fbf698 !important;
}

.text-Martinique-Texas{
    color:#Fbf698 !important;
}

.form-Martinique-Texas{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Martinique-Texas:focus{
    box-shadow: 0 0 5px#Fbf698 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Fbf698 !important;
}

.spinner-Martinique-Texas{
    border-bottom-color:transparent !important ;
    border-top-color:#Fbf698 !important;
    border-right-color:#Fbf698 !important;
    border-left-color:#Fbf698 !important;
}

/* color-5 ends */