/* color-1 heavymetal */

.btn-merv-heavymetal{
    background-color: #20241d !important;
}

.btn-merv-heavymetal:hover{
    background-color: #292e25 !important;
   
}

.bg-merv-heavymetal{
    background-color: #20241d !important;
}

.border-merv-heavymetal-1{
    border: 1px solid #20241d !important;
}

.border-merv-heavymetal-2{
    border: 2px solid #20241d !important;
}

.border-merv-heavymetal-3{
    border: 3px solid #20241d !important;
}

.border-merv-heavymetal-4{
    border: 4px solid #20241d !important;
}

.border-merv-heavymetal-5{
    border: 5px solid #20241d !important;
}

.text-merv-heavymetal{
    color: #20241d !important;
}

.form-merv-heavymetal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-merv-heavymetal:focus{
    box-shadow: 0 0 5px #20241d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #20241d !important;
}

.spinner-merv-heavymetal{
    border-bottom-color:transparent !important ;
    border-top-color: #20241d !important;
    border-right-color: #20241d !important;
    border-left-color: #20241d !important;
}

/* color-1 ends */

/* color-2 peanut */
.btn-merv-peanut{
    background-color: #7a3015 !important;
}

.btn-merv-peanut:hover{
    background-color: #853d23 !important;
   
}

.bg-merv-peanut{
    background-color: #7a3015 !important;
}

.border-merv-peanut-1{
    border: 1px solid #7a3015 !important;
}

.border-merv-peanut-2{
    border: 2px solid #7a3015 !important;
}

.border-merv-peanut-3{
    border: 3px solid #7a3015 !important;
}

.border-merv-peanut-4{
    border: 4px solid #7a3015 !important;
}

.border-merv-peanut-5{
    border: 5px solid #7a3015 !important;
}

.text-merv-peanut{
    color: #7a3015 !important;
}

.form-merv-peanut{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-merv-peanut:focus{
    box-shadow: 0 0 5px #7a3015 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #7a3015 !important;
}

.spinner-merv-peanut{
    border-bottom-color:transparent !important ;
    border-top-color: #7a3015 !important;
    border-right-color: #7a3015 !important;
    border-left-color: #7a3015 !important;
}

/* color-2 ends */

/* color-3 sirocco */

.btn-merv-sirocco{
    background-color: #6b7878 !important;
}

.btn-merv-sirocco:hover{
    background-color: #5e6b6b !important;
   
}

.bg-merv-sirocco{
    background-color: #6b7878 !important;
}

.border-merv-sirocco-1{
    border: 1px solid #6b7878 !important;
}

.border-merv-sirocco-2{
    border: 2px solid #6b7878 !important;
}

.border-merv-sirocco-3{
    border: 3px solid #6b7878 !important;
}

.border-merv-sirocco-4{
    border: 4px solid #6b7878 !important;
}

.border-merv-sirocco-5{
    border: 5px solid #6b7878 !important;
}

.text-merv-sirocco{
    color: #6b7878 !important;
}

.form-merv-sirocco{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-merv-sirocco:focus{
    box-shadow: 0 0 5px #6b7878 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6b7878 !important;
}

.spinner-merv-sirocco{
    border-bottom-color:transparent !important ;
    border-top-color: #6b7878 !important;
    border-right-color: #6b7878 !important;
    border-left-color: #6b7878 !important;
}

/* color-3 ends */

/* color-4 delta */


.btn-merv-delta{
    background-color: #a2a49f !important;
}

.btn-merv-delta:hover{
    background-color: #82857f !important;
   
}

.bg-merv-delta{
    background-color: #a2a49f !important;
}

.border-merv-delta-1{
    border: 1px solid #a2a49f !important;
}

.border-merv-delta-2{
    border: 2px solid #a2a49f !important;
}

.border-merv-delta-3{
    border: 3px solid #a2a49f !important;
}

.border-merv-delta-4{
    border: 4px solid #a2a49f !important;
}

.border-merv-delta-5{
    border: 5px solid #a2a49f !important;
}

.text-merv-delta{
    color: #a2a49f !important;
}

.form-merv-delta{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-merv-delta:focus{
    box-shadow: 0 0 5px #a2a49f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #a2a49f !important;
}

.spinner-merv-delta{
    border-bottom-color:transparent !important ;
    border-top-color: #a2a49f !important;
    border-right-color: #a2a49f !important;
    border-left-color: #a2a49f !important;
}

/* color-4 ends */

/* color-5 vanilla */


.btn-merv-vanilla{
    background-color: #d4c4ad !important;
}

.btn-merv-vanilla:hover{
    background-color: #d4bd9b !important;
   
}

.bg-merv-vanilla{
    background-color: #d4c4ad !important;
}

.border-merv-vanilla-1{
    border: 1px solid #d4c4ad !important;
}

.border-merv-vanilla-2{
    border: 2px solid #d4c4ad !important;
}

.border-merv-vanilla-3{
    border: 3px solid #d4c4ad !important;
}

.border-merv-vanilla-4{
    border: 4px solid #d4c4ad !important;
}

.border-merv-vanilla-5{
    border: 5px solid #d4c4ad !important;
}

.text-merv-vanilla{
    color: #d4c4ad !important;
}

.form-merv-vanilla{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-merv-vanilla:focus{
    box-shadow: 0 0 5px #d4c4ad !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #d4c4ad !important;
}

.spinner-merv-vanilla{
    border-bottom-color:transparent !important ;
    border-top-color: #d4c4ad !important;
    border-right-color: #d4c4ad !important;
    border-left-color: #d4c4ad !important;
}

/* color-5 ends */