/* color-1 donjuan */

.btn-donwill-donjuan{
    background-color: #5b4a50 !important;
}

.btn-donwill-donjuan:hover{
    background-color: #5b4a50e5 !important;
   
}

.bg-donwill-donjuan{
    background-color: #5b4a50 !important;
}

.border-donwill-donjuan-1{
    border: 1px solid #5b4a50 !important;
}

.border-donwill-donjuan-2{
    border: 2px solid #5b4a50 !important;
}

.border-donwill-donjuan-3{
    border: 3px solid #5b4a50 !important;
}

.border-donwill-donjuan-4{
    border: 4px solid #5b4a50 !important;
}

.border-donwill-donjuan-5{
    border: 5px solid #5b4a50 !important;
}

.text-donwill-donjuan{
    color: #5b4a50 !important;
}

.form-donwill-donjuan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-donwill-donjuan:focus{
    box-shadow: 0 0 5px #5b4a50 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5b4a50 !important;
}

.spinner-donwill-donjuan{
    border-bottom-color:transparent !important ;
    border-top-color: #5b4a50 !important;
    border-right-color: #5b4a50 !important;
    border-left-color: #5b4a50 !important;
}

/* color-1 ends */

/* color-2 willowgrove */
.btn-donwill-willowgrove{
    background-color: #6b775f !important;
}

.btn-donwill-willowgrove:hover{
    background-color: #6b775fe1 !important;
   
}

.bg-donwill-willowgrove{
    background-color: #6b775f !important;
}

.border-donwill-willowgrove-1{
    border: 1px solid #6b775f !important;
}

.border-donwill-willowgrove-2{
    border: 2px solid #6b775f !important;
}

.border-donwill-willowgrove-3{
    border: 3px solid #6b775f !important;
}

.border-donwill-willowgrove-4{
    border: 4px solid #6b775f !important;
}

.border-donwill-willowgrove-5{
    border: 5px solid #6b775f !important;
}

.text-donwill-willowgrove{
    color: #6b775f !important;
}

.form-donwill-willowgrove{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-donwill-willowgrove:focus{
    box-shadow: 0 0 5px #6b775f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6b775f !important;
}

.spinner-donwill-willowgrove{
    border-bottom-color:transparent !important ;
    border-top-color: #6b775f !important;
    border-right-color: #6b775f !important;
    border-left-color: #6b775f !important;
}

/* color-2 ends */

/* color-3 gulfstream */

.btn-donwill-gulfstream{
    background-color: #8bbdb2 !important;
}

.btn-donwill-gulfstream:hover{
    background-color: #8bbdb2e8  !important;
   
}

.bg-donwill-gulfstream{
    background-color: #8bbdb2 !important;
}

.border-donwill-gulfstream-1{
    border: 1px solid #8bbdb2 !important;
}

.border-donwill-gulfstream-2{
    border: 2px solid #8bbdb2 !important;
}

.border-donwill-gulfstream-3{
    border: 3px solid #8bbdb2 !important;
}

.border-donwill-gulfstream-4{
    border: 4px solid #8bbdb2 !important;
}

.border-donwill-gulfstream-5{
    border: 5px solid #8bbdb2 !important;
}

.text-donwill-gulfstream{
    color: #8bbdb2 !important;
}

.form-donwill-gulfstream{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-donwill-gulfstream:focus{
    box-shadow: 0 0 5px #8bbdb2 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8bbdb2 !important;
}

.spinner-donwill-gulfstream{
    border-bottom-color:transparent !important ;
    border-top-color: #8bbdb2 !important;
    border-right-color: #8bbdb2 !important;
    border-left-color: #8bbdb2 !important;
}

/* color-3 ends */

/* color-4 creamcan */


.btn-donwill-creamcan{
    background-color: #f0b95f !important;
}

.btn-donwill-creamcan:hover{
    background-color: #f0b85fe3 !important;
   
}

.bg-donwill-creamcan{
    background-color: #f0b95f !important;
}

.border-donwill-creamcan-1{
    border: 1px solid #f0b95f !important;
}

.border-donwill-creamcan-2{
    border: 2px solid #f0b95f !important;
}

.border-donwill-creamcan-3{
    border: 3px solid #f0b95f !important;
}

.border-donwill-creamcan-4{
    border: 4px solid #f0b95f !important;
}

.border-donwill-creamcan-5{
    border: 5px solid #f0b95f !important;
}

.text-donwill-creamcan{
    color: #f0b95f !important;
}

.form-donwill-creamcan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-donwill-creamcan:focus{
    box-shadow: 0 0 5px #f0b95f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f0b95f !important;
}

.spinner-donwill-creamcan{
    border-bottom-color:transparent !important ;
    border-top-color: #f0b95f !important;
    border-right-color: #f0b95f !important;
    border-left-color: #f0b95f !important;
}

/* color-4 ends */

/* color-5 burntsienna */


.btn-donwill-burntsienna{
    background-color: #ee5e5e !important;
}

.btn-donwill-burntsienna:hover{
    background-color: #ee5e5ee3 !important;
   
}

.bg-donwill-burntsienna{
    background-color: #ee5e5e !important;
}

.border-donwill-burntsienna-1{
    border: 1px solid #ee5e5e !important;
}

.border-donwill-burntsienna-2{
    border: 2px solid #ee5e5e !important;
}

.border-donwill-burntsienna-3{
    border: 3px solid #ee5e5e !important;
}

.border-donwill-burntsienna-4{
    border: 4px solid #ee5e5e !important;
}

.border-donwill-burntsienna-5{
    border: 5px solid #ee5e5e !important;
}

.text-donwill-burntsienna{
    color: #ee5e5e !important;
}

.form-donwill-burntsienna{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-donwill-burntsienna:focus{
    box-shadow: 0 0 5px #ee5e5e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ee5e5e !important;
}

.spinner-donwill-burntsienna{
    border-bottom-color:transparent !important ;
    border-top-color: #ee5e5e !important;
    border-right-color: #ee5e5e !important;
    border-left-color: #ee5e5e !important;
}

/* color-5 ends */