/* color-1 monalisa */

.btn-frosan-monalisa{
    background-color: #fdaf98 !important;
}

.btn-frosan-monalisa:hover{
    background-color: #fdb098ea !important;
   
}

.bg-frosan-monalisa{
    background-color: #fdaf98 !important;
}

.border-frosan-monalisa-1{
    border: 1px solid #fdaf98 !important;
}

.border-frosan-monalisa-2{
    border: 2px solid #fdaf98 !important;
}

.border-frosan-monalisa-3{
    border: 3px solid #fdaf98 !important;
}

.border-frosan-monalisa-4{
    border: 4px solid #fdaf98 !important;
}

.border-frosan-monalisa-5{
    border: 5px solid #fdaf98 !important;
}

.text-frosan-monalisa{
    color: #fdaf98 !important;
}

.form-frosan-monalisa{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-frosan-monalisa:focus{
    box-shadow: 0 0 5px #fdaf98 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fdaf98 !important;
}

.spinner-frosan-monalisa{
    border-bottom-color:transparent !important ;
    border-top-color: #fdaf98 !important;
    border-right-color: #fdaf98 !important;
    border-left-color: #fdaf98 !important;
}

/* color-1 ends */

/* color-2 froly */
.btn-frosan-froly{
    background-color: #f37284 !important;
}

.btn-frosan-froly:hover{
    background-color: #f37283ea !important;
   
}

.bg-frosan-froly{
    background-color: #f37284 !important;
}

.border-frosan-froly-1{
    border: 1px solid #f37284 !important;
}

.border-frosan-froly-2{
    border: 2px solid #f37284 !important;
}

.border-frosan-froly-3{
    border: 3px solid #f37284 !important;
}

.border-frosan-froly-4{
    border: 4px solid #f37284 !important;
}

.border-frosan-froly-5{
    border: 5px solid #f37284 !important;
}

.text-frosan-froly{
    color: #f37284 !important;
}

.form-frosan-froly{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-frosan-froly:focus{
    box-shadow: 0 0 5px #f37284 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f37284 !important;
}

.spinner-frosan-froly{
    border-bottom-color:transparent !important ;
    border-top-color: #f37284 !important;
    border-right-color: #f37284 !important;
    border-left-color: #f37284 !important;
}

/* color-2 ends */

/* color-3 turkishrose */

.btn-frosan-turkishrose{
    background-color: #bd6e83 !important;
}

.btn-frosan-turkishrose:hover{
    background-color: #bd6e83e7  !important;
   
}

.bg-frosan-turkishrose{
    background-color: #bd6e83 !important;
}

.border-frosan-turkishrose-1{
    border: 1px solid #bd6e83 !important;
}

.border-frosan-turkishrose-2{
    border: 2px solid #bd6e83 !important;
}

.border-frosan-turkishrose-3{
    border: 3px solid #bd6e83 !important;
}

.border-frosan-turkishrose-4{
    border: 4px solid #bd6e83 !important;
}

.border-frosan-turkishrose-5{
    border: 5px solid #bd6e83 !important;
}

.text-frosan-turkishrose{
    color: #bd6e83 !important;
}

.form-frosan-turkishrose{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-frosan-turkishrose:focus{
    box-shadow: 0 0 5px #bd6e83 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #bd6e83 !important;
}

.spinner-frosan-turkishrose{
    border-bottom-color:transparent !important ;
    border-top-color: #bd6e83 !important;
    border-right-color: #bd6e83 !important;
    border-left-color: #bd6e83 !important;
}

/* color-3 ends */

/* color-4 rum */


.btn-frosan-rum{
    background-color: #6f597d !important;
}

.btn-frosan-rum:hover{
    background-color: #6f597dea !important;
   
}

.bg-frosan-rum{
    background-color: #6f597d !important;
}

.border-frosan-rum-1{
    border: 1px solid #6f597d !important;
}

.border-frosan-rum-2{
    border: 2px solid #6f597d !important;
}

.border-frosan-rum-3{
    border: 3px solid #6f597d !important;
}

.border-frosan-rum-4{
    border: 4px solid #6f597d !important;
}

.border-frosan-rum-5{
    border: 5px solid #6f597d !important;
}

.text-frosan-rum{
    color: #6f597d !important;
}

.form-frosan-rum{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-frosan-rum:focus{
    box-shadow: 0 0 5px #6f597d !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #6f597d !important;
}

.spinner-frosan-rum{
    border-bottom-color:transparent !important ;
    border-top-color: #6f597d !important;
    border-right-color: #6f597d !important;
    border-left-color: #6f597d !important;
}

/* color-4 ends */

/* color-5 sanjuan */


.btn-frosan-sanjuan{
    background-color: #365a7c !important;
}

.btn-frosan-sanjuan:hover{
    background-color: #365a7cea !important;
   
}

.bg-frosan-sanjuan{
    background-color: #365a7c !important;
}

.border-frosan-sanjuan-1{
    border: 1px solid #365a7c !important;
}

.border-frosan-sanjuan-2{
    border: 2px solid #365a7c !important;
}

.border-frosan-sanjuan-3{
    border: 3px solid #365a7c !important;
}

.border-frosan-sanjuan-4{
    border: 4px solid #365a7c !important;
}

.border-frosan-sanjuan-5{
    border: 5px solid #365a7c !important;
}

.text-frosan-sanjuan{
    color: #365a7c !important;
}

.form-frosan-sanjuan{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-frosan-sanjuan:focus{
    box-shadow: 0 0 5px #365a7c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #365a7c !important;
}

.spinner-frosan-sanjuan{
    border-bottom-color:transparent !important ;
    border-top-color: #365a7c !important;
    border-right-color: #365a7c !important;
    border-left-color: #365a7c !important;
}

/* color-5 ends */