/* color-1 rhino */

.btn-jungleroy-rhino{
    background-color: #284557 !important;
}

.btn-jungleroy-rhino:hover{
    background-color: #284557ee  !important;
   
}

.bg-jungleroy-rhino{
    background-color: #284557 !important;
}

.border-jungleroy-rhino-1{
    border: 1px solid #284557 !important;
}

.border-jungleroy-rhino-2{
    border: 2px solid #284557 !important;
}

.border-jungleroy-rhino-3{
    border: 3px solid #284557 !important;
}

.border-jungleroy-rhino-4{
    border: 4px solid #284557 !important;
}

.border-jungleroy-rhino-5{
    border: 5px solid #284557 !important;
}

.text-jungleroy-rhino{
    color: #284557 !important;
}

.form-jungleroy-rhino{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jungleroy-rhino:focus{
    box-shadow: 0 0 5px #284557 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #284557 !important;
}

.spinner-jungleroy-rhino{
    border-bottom-color:transparent !important ;
    border-top-color: #284557 !important;
    border-right-color: #284557 !important;
    border-left-color: #284557 !important;
}

/* color-1 ends */

/* color-2 junglegreen */
.btn-jungleroy-junglegreen{
    background-color: #279b90 !important;
}

.btn-jungleroy-junglegreen:hover{
    background-color: #279b8fe8 !important;
   
}

.bg-jungleroy-junglegreen{
    background-color: #279b90 !important;
}

.border-jungleroy-junglegreen-1{
    border: 1px solid #279b90 !important;
}

.border-jungleroy-junglegreen-2{
    border: 2px solid #279b90 !important;
}

.border-jungleroy-junglegreen-3{
    border: 3px solid #279b90 !important;
}

.border-jungleroy-junglegreen-4{
    border: 4px solid #279b90 !important;
}

.border-jungleroy-junglegreen-5{
    border: 5px solid #279b90 !important;
}

.text-jungleroy-junglegreen{
    color: #279b90 !important;
}

.form-jungleroy-junglegreen{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jungleroy-junglegreen:focus{
    box-shadow: 0 0 5px #279b90 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #279b90 !important;
}

.spinner-jungleroy-junglegreen{
    border-bottom-color:transparent !important ;
    border-top-color: #279b90 !important;
    border-right-color: #279b90 !important;
    border-left-color: #279b90 !important;
}

/* color-2 ends */

/* color-3 robroy */

.btn-jungleroy-robroy{
    background-color: #ebc469 !important;
}

.btn-jungleroy-robroy:hover{
    background-color: #ebc469e8  !important;
   
}

.bg-jungleroy-robroy{
    background-color: #ebc469 !important;
}

.border-jungleroy-robroy-1{
    border: 1px solid #ebc469 !important;
}

.border-jungleroy-robroy-2{
    border: 2px solid #ebc469 !important;
}

.border-jungleroy-robroy-3{
    border: 3px solid #ebc469 !important;
}

.border-jungleroy-robroy-4{
    border: 4px solid #ebc469 !important;
}

.border-jungleroy-robroy-5{
    border: 5px solid #ebc469 !important;
}

.text-jungleroy-robroy{
    color: #ebc469 !important;
}

.form-jungleroy-robroy{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jungleroy-robroy:focus{
    box-shadow: 0 0 5px #ebc469 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ebc469 !important;
}

.spinner-jungleroy-robroy{
    border-bottom-color:transparent !important ;
    border-top-color: #ebc469 !important;
    border-right-color: #ebc469 !important;
    border-left-color: #ebc469 !important;
}

/* color-3 ends */

/* color-4 sandybrown */


.btn-jungleroy-sandybrown{
    background-color: #f5c469 !important;
}

.btn-jungleroy-sandybrown:hover{
    background-color: #f5c469e5 !important;
   
}

.bg-jungleroy-sandybrown{
    background-color: #f5c469 !important;
}

.border-jungleroy-sandybrown-1{
    border: 1px solid #f5c469 !important;
}

.border-jungleroy-sandybrown-2{
    border: 2px solid #f5c469 !important;
}

.border-jungleroy-sandybrown-3{
    border: 3px solid #f5c469 !important;
}

.border-jungleroy-sandybrown-4{
    border: 4px solid #f5c469 !important;
}

.border-jungleroy-sandybrown-5{
    border: 5px solid #f5c469 !important;
}

.text-jungleroy-sandybrown{
    color: #f5c469 !important;
}

.form-jungleroy-sandybrown{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jungleroy-sandybrown:focus{
    box-shadow: 0 0 5px #f5c469 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f5c469 !important;
}

.spinner-jungleroy-sandybrown{
    border-bottom-color:transparent !important ;
    border-top-color: #f5c469 !important;
    border-right-color: #f5c469 !important;
    border-left-color: #f5c469 !important;
}

/* color-4 ends */

/* color-5 burntsiens */


.btn-jungleroy-burntsiens{
    background-color: #e66d4e !important;
}

.btn-jungleroy-burntsiens:hover{
    background-color: #e66c4ef3 !important;
   
}

.bg-jungleroy-burntsiens{
    background-color: #e66d4e !important;
}

.border-jungleroy-burntsiens-1{
    border: 1px solid #e66d4e !important;
}

.border-jungleroy-burntsiens-2{
    border: 2px solid #e66d4e !important;
}

.border-jungleroy-burntsiens-3{
    border: 3px solid #e66d4e !important;
}

.border-jungleroy-burntsiens-4{
    border: 4px solid #e66d4e !important;
}

.border-jungleroy-burntsiens-5{
    border: 5px solid #e66d4e !important;
}

.text-jungleroy-burntsiens{
    color: #e66d4e !important;
}

.form-jungleroy-burntsiens{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-jungleroy-burntsiens:focus{
    box-shadow: 0 0 5px #e66d4e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e66d4e !important;
}

.spinner-jungleroy-burntsiens{
    border-bottom-color:transparent !important ;
    border-top-color: #e66d4e !important;
    border-right-color: #e66d4e !important;
    border-left-color: #e66d4e !important;
}

/* color-5 ends */