/* color-1 Hibiscus */

.btn-Chocolate-Hibiscus{
    background-color:#A6226e !important;
}

.btn-Chocolate-Hibiscus:hover{
    background-color: rgb(180, 66, 146) !important;
   
}

.bg-Chocolate-Hibiscus{
    background-color:#A6226e !important;
}

.border-Chocolate-Hibiscus-1{
    border: 1px solid#A6226e !important;
}

.border-Chocolate-Hibiscus-2{
    border: 2px solid#A6226e !important;
}

.border-Chocolate-Hibiscus-3{
    border: 3px solid#A6226e !important;
}

.border-Chocolate-Hibiscus-4{
    border: 4px solid#A6226e !important;
}

.border-Chocolate-Hibiscus-5{
    border: 5px solid#A6226e !important;
}

.text-Chocolate-Hibiscus{
    color:#A6226e !important;
}

.form-Chocolate-Hibiscus{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Chocolate-Hibiscus:focus{
    box-shadow: 0 0 5px#A6226e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#A6226e !important;
}

.spinner-Chocolate-Hibiscus{
    border-bottom-color:transparent !important ;
    border-top-color:#A6226e !important;
    border-right-color:#A6226e !important;
    border-left-color:#A6226e !important;
}

/* color-1 ends */

/* color-2 Amaranth */
.btn-Chocolate-Amaranth{
    background-color:#Ec1e4c !important;
}

.btn-Chocolate-Amaranth:hover{
    background-color: rgb(240, 96, 115) !important;
   
}

.bg-Chocolate-Amaranth{
    background-color:#Ec1e4c !important;
}

.border-Chocolate-Amaranth-1{
    border: 1px solid#Ec1e4c !important;
}

.border-Chocolate-Amaranth-2{
    border: 2px solid#Ec1e4c !important;
}

.border-Chocolate-Amaranth-3{
    border: 3px solid#Ec1e4c !important;
}

.border-Chocolate-Amaranth-4{
    border: 4px solid#Ec1e4c !important;
}

.border-Chocolate-Amaranth-5{
    border: 5px solid#Ec1e4c !important;
}

.text-Chocolate-Amaranth{
    color:#Ec1e4c !important;
}

.form-Chocolate-Amaranth{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Chocolate-Amaranth:focus{
    box-shadow: 0 0 5px#Ec1e4c !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#Ec1e4c !important;
}

.spinner-Chocolate-Amaranth{
    border-bottom-color:transparent !important ;
    border-top-color:#Ec1e4c !important;
    border-right-color:#Ec1e4c !important;
    border-left-color:#Ec1e4c !important;
}

/* color-2 ends */

/* color-3 Flamingo */

.btn-Chocolate-Flamingo{
    background-color: #F2683a !important;
}

.btn-Chocolate-Flamingo:hover{
    background-color: #bb5940 !important;
   
}

.bg-Chocolate-Flamingo{
    background-color: #F2683a !important;
}

.border-Chocolate-Flamingo-1{
    border: 1px solid #F2683a !important;
}

.border-Chocolate-Flamingo-2{
    border: 2px solid #F2683a !important;
}

.border-Chocolate-Flamingo-3{
    border: 3px solid #F2683a !important;
}

.border-Chocolate-Flamingo-4{
    border: 4px solid #F2683a !important;
}

.border-Chocolate-Flamingo-5{
    border: 5px solid #F2683a !important;
}

.text-Chocolate-Flamingo{
    color: #F2683a !important;
}

.form-Chocolate-Flamingo{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Chocolate-Flamingo:focus{
    box-shadow: 0 0 5px #F2683a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #F2683a !important;
}

.spinner-Chocolate-Flamingo{
    border-bottom-color:transparent !important ;
    border-top-color: #F2683a !important;
    border-right-color: #F2683a !important;
    border-left-color: #F2683a !important;
}

/* color-3 ends */

/* color-4 EnergyYellow */


.btn-Chocolate-EnergyYellow{
    background-color:#F6dc53!important;
}

.btn-Chocolate-EnergyYellow:hover{
    background-color: rgb(226, 214, 101) !important;
   
}

.bg-Chocolate-EnergyYellow{
    background-color:#F6dc53!important;
}

.border-Chocolate-EnergyYellow-1{
    border: 1px solid#F6dc53!important;
}

.border-Chocolate-EnergyYellow-2{
    border: 2px solid#F6dc53!important;
}

.border-Chocolate-EnergyYellow-3{
    border: 3px solid#F6dc53!important;
}

.border-Chocolate-EnergyYellow-4{
    border: 4px solid#F6dc53!important;
}

.border-Chocolate-EnergyYellow-5{
    border: 5px solid#F6dc53!important;
}

.text-Chocolate-EnergyYellow{
    color:#F6dc53!important;
}

.form-Chocolate-EnergyYellow{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Chocolate-EnergyYellow:focus{
    box-shadow: 0 0 5px#F6dc53!important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#F6dc53!important;
}

.spinner-Chocolate-EnergyYellow{
    border-bottom-color:transparent !important ;
    border-top-color:#F6dc53!important;
    border-right-color:#F6dc53!important;
    border-left-color:#F6dc53!important;
}

/* color-4 ends */

/* color-5 Lochinvar */


.btn-Chocolate-Lochinvar{
    background-color:#2e959a !important;
}

.btn-Chocolate-Lochinvar:hover{
    background-color: rgb(54, 139, 135) !important;
   
}

.bg-Chocolate-Lochinvar{
    background-color:#2e959a !important;
}

.border-Chocolate-Lochinvar-1{
    border: 1px solid#2e959a !important;
}

.border-Chocolate-Lochinvar-2{
    border: 2px solid#2e959a !important;
}

.border-Chocolate-Lochinvar-3{
    border: 3px solid#2e959a !important;
}

.border-Chocolate-Lochinvar-4{
    border: 4px solid#2e959a !important;
}

.border-Chocolate-Lochinvar-5{
    border: 5px solid#2e959a !important;
}

.text-Chocolate-Lochinvar{
    color:#2e959a !important;
}

.form-Chocolate-Lochinvar{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Chocolate-Lochinvar:focus{
    box-shadow: 0 0 5px#2e959a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid#2e959a !important;
}

.spinner-Chocolate-Lochinvar{
    border-bottom-color:transparent !important ;
    border-top-color:#2e959a !important;
    border-right-color:#2e959a !important;
    border-left-color:#2e959a !important;
}

/* color-5 ends */