/* color-1 Cardinal */

.btn-Dodger-Cardinal{
    background-color: #Ba1841 !important;
}

.btn-Dodger-Cardinal:hover{
    background-color: rgb(245, 51, 100) !important;
   
}

.bg-Dodger-Cardinal{
    background-color: #Ba1841 !important;
}

.border-Dodger-Cardinal-1{
    border: 1px solid #Ba1841 !important;
}

.border-Dodger-Cardinal-2{
    border: 2px solid #Ba1841 !important;
}

.border-Dodger-Cardinal-3{
    border: 3px solid #Ba1841 !important;
}

.border-Dodger-Cardinal-4{
    border: 4px solid #Ba1841 !important;
}

.border-Dodger-Cardinal-5{
    border: 5px solid #Ba1841 !important;
}

.text-Dodger-Cardinal{
    color: #Ba1841 !important;
}

.form-Dodger-Cardinal{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Dodger-Cardinal:focus{
    box-shadow: 0 0 5px #Ba1841 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Ba1841 !important;
}

.spinner-Dodger-Cardinal{
    border-bottom-color:transparent !important ;
    border-top-color: #Ba1841 !important;
    border-right-color: #Ba1841 !important;
    border-left-color: #Ba1841 !important;
}

/* color-1 ends */

/* color-2 BurntSienna */
.btn-Dodger-BurntSienna{
    background-color: #E86b46 !important;
}

.btn-Dodger-BurntSienna:hover{
    background-color: rgb(253, 119, 85) !important;
   
}

.bg-Dodger-BurntSienna{
    background-color: #E86b46 !important;
}

.border-Dodger-BurntSienna-1{
    border: 1px solid #E86b46 !important;
}

.border-Dodger-BurntSienna-2{
    border: 2px solid #E86b46 !important;
}

.border-Dodger-BurntSienna-3{
    border: 3px solid #E86b46 !important;
}

.border-Dodger-BurntSienna-4{
    border: 4px solid #E86b46 !important;
}

.border-Dodger-BurntSienna-5{
    border: 5px solid #E86b46 !important;
}

.text-Dodger-BurntSienna{
    color: #E86b46 !important;
}

.form-Dodger-BurntSienna{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Dodger-BurntSienna:focus{
    box-shadow: 0 0 5px #E86b46 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E86b46 !important;
}

.spinner-Dodger-BurntSienna{
    border-bottom-color:transparent !important ;
    border-top-color: #E86b46 !important;
    border-right-color: #E86b46 !important;
    border-left-color: #E86b46 !important;
}

/* color-2 ends */

/* color-3 Geraldine */

.btn-Dodger-Geraldine{
    background-color: #Fc8879 !important;
}

.btn-Dodger-Geraldine:hover{
    background-color: #faa694 !important;
   
}

.bg-Dodger-Geraldine{
    background-color: #Fc8879 !important;
}

.border-Dodger-Geraldine-1{
    border: 1px solid #Fc8879 !important;
}

.border-Dodger-Geraldine-2{
    border: 2px solid #Fc8879 !important;
}

.border-Dodger-Geraldine-3{
    border: 3px solid #Fc8879 !important;
}

.border-Dodger-Geraldine-4{
    border: 4px solid #Fc8879 !important;
}

.border-Dodger-Geraldine-5{
    border: 5px solid #Fc8879 !important;
}

.text-Dodger-Geraldine{
    color: #Fc8879 !important;
}

.form-Dodger-Geraldine{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Dodger-Geraldine:focus{
    box-shadow: 0 0 5px #Fc8879 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Fc8879 !important;
}

.spinner-Dodger-Geraldine{
    border-bottom-color:transparent !important ;
    border-top-color: #Fc8879 !important;
    border-right-color: #Fc8879 !important;
    border-left-color: #Fc8879 !important;
}

/* color-3 ends */

/* color-4 Charm */


.btn-Dodger-Charm{
    background-color: #D36d95 !important;
}

.btn-Dodger-Charm:hover{
    background-color: rgb(248, 151, 232) !important;
   
}

.bg-Dodger-Charm{
    background-color: #D36d95 !important;
}

.border-Dodger-Charm-1{
    border: 1px solid #D36d95 !important;
}

.border-Dodger-Charm-2{
    border: 2px solid #D36d95 !important;
}

.border-Dodger-Charm-3{
    border: 3px solid #D36d95 !important;
}

.border-Dodger-Charm-4{
    border: 4px solid #D36d95 !important;
}

.border-Dodger-Charm-5{
    border: 5px solid #D36d95 !important;
}

.text-Dodger-Charm{
    color: #D36d95 !important;
}

.form-Dodger-Charm{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Dodger-Charm:focus{
    box-shadow: 0 0 5px #D36d95 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #D36d95 !important;
}

.spinner-Dodger-Charm{
    border-bottom-color:transparent !important ;
    border-top-color: #D36d95 !important;
    border-right-color: #D36d95 !important;
    border-left-color: #D36d95 !important;
}

/* color-4 ends */

/* color-5 ButterflyBush */


.btn-Dodger-ButterflyBush{
    background-color: #64508f !important;
}

.btn-Dodger-ButterflyBush:hover{
    background-color: rgb(162, 117, 235) !important;
   
}

.bg-Dodger-ButterflyBush{
    background-color: #64508f !important;
}

.border-Dodger-ButterflyBush-1{
    border: 1px solid #64508f !important;
}

.border-Dodger-ButterflyBush-2{
    border: 2px solid #64508f !important;
}

.border-Dodger-ButterflyBush-3{
    border: 3px solid #64508f !important;
}

.border-Dodger-ButterflyBush-4{
    border: 4px solid #64508f !important;
}

.border-Dodger-ButterflyBush-5{
    border: 5px solid #64508f !important;
}

.text-Dodger-ButterflyBush{
    color: #64508f !important;
}

.form-Dodger-ButterflyBush{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Dodger-ButterflyBush:focus{
    box-shadow: 0 0 5px #64508f !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #64508f !important;
}

.spinner-Dodger-ButterflyBush{
    border-bottom-color:transparent !important ;
    border-top-color: #64508f !important;
    border-right-color: #64508f !important;
    border-left-color: #64508f !important;
}

/* color-5 ends */