/* color-1 lilywhite */

.btn-coal-lilywhite{
    background-color: #e8fafe !important;
}

.btn-coal-lilywhite:hover{
    background-color: rgba(199, 228, 235, 0.815) !important;
   
}

.bg-coal-lilywhite{
    background-color: #e8fafe !important;
}

.border-coal-lilywhite-1{
    border: 1px solid #e8fafe !important;
}

.border-coal-lilywhite-2{
    border: 2px solid #e8fafe !important;
}

.border-coal-lilywhite-3{
    border: 3px solid #e8fafe !important;
}

.border-coal-lilywhite-4{
    border: 4px solid #e8fafe !important;
}

.border-coal-lilywhite-5{
    border: 5px solid #e8fafe !important;
}

.text-coal-lilywhite{
    color: #e8fafe !important;
}

.form-coal-lilywhite{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-coal-lilywhite:focus{
    box-shadow: 0 0 5px #e8fafe !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #e8fafe !important;
}

.spinner-coal-lilywhite{
    border-bottom-color:transparent !important ;
    border-top-color: #e8fafe !important;
    border-right-color: #e8fafe !important;
    border-left-color: #e8fafe !important;
}

/* color-1 ends */

/* color-2 cascade */
.btn-coal-cascade{
    background-color: #8ba9ab !important;
}

.btn-coal-cascade:hover{
    background-color: #8ba9abd8 !important;
   
}

.bg-coal-cascade{
    background-color: #8ba9ab !important;
}

.border-coal-cascade-1{
    border: 1px solid #8ba9ab !important;
}

.border-coal-cascade-2{
    border: 2px solid #8ba9ab !important;
}

.border-coal-cascade-3{
    border: 3px solid #8ba9ab !important;
}

.border-coal-cascade-4{
    border: 4px solid #8ba9ab !important;
}

.border-coal-cascade-5{
    border: 5px solid #8ba9ab !important;
}

.text-coal-cascade{
    color: #8ba9ab !important;
}

.form-coal-cascade{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-coal-cascade:focus{
    box-shadow: 0 0 5px #8ba9ab !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8ba9ab !important;
}

.spinner-coal-cascade{
    border-bottom-color:transparent !important ;
    border-top-color: #8ba9ab !important;
    border-right-color: #8ba9ab !important;
    border-left-color: #8ba9ab !important;
}

/* color-2 ends */

/* color-3 asparagus */

.btn-coal-asparagus{
    background-color: #7b8b4a !important;
}

.btn-coal-asparagus:hover{
    background-color: #7b8b4ade  !important;
   
}

.bg-coal-asparagus{
    background-color: #7b8b4a !important;
}

.border-coal-asparagus-1{
    border: 1px solid #7b8b4a !important;
}

.border-coal-asparagus-2{
    border: 2px solid #7b8b4a !important;
}

.border-coal-asparagus-3{
    border: 3px solid #7b8b4a !important;
}

.border-coal-asparagus-4{
    border: 4px solid #7b8b4a !important;
}

.border-coal-asparagus-5{
    border: 5px solid #7b8b4a !important;
}

.text-coal-asparagus{
    color: #7b8b4a !important;
}

.form-coal-asparagus{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-coal-asparagus:focus{
    box-shadow: 0 0 5px #7b8b4a !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #7b8b4a !important;
}

.spinner-coal-asparagus{
    border-bottom-color:transparent !important ;
    border-top-color: #7b8b4a !important;
    border-right-color: #7b8b4a !important;
    border-left-color: #7b8b4a !important;
}

/* color-3 ends */

/* color-4 olive */


.btn-coal-olive{
    background-color: #737000 !important;
}

.btn-coal-olive:hover{
    background-color: #736f00da !important;
   
}

.bg-coal-olive{
    background-color: #737000 !important;
}

.border-coal-olive-1{
    border: 1px solid #737000 !important;
}

.border-coal-olive-2{
    border: 2px solid #737000 !important;
}

.border-coal-olive-3{
    border: 3px solid #737000 !important;
}

.border-coal-olive-4{
    border: 4px solid #737000 !important;
}

.border-coal-olive-5{
    border: 5px solid #737000 !important;
}

.text-coal-olive{
    color: #737000 !important;
}

.form-coal-olive{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-coal-olive:focus{
    box-shadow: 0 0 5px #737000 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #737000 !important;
}

.spinner-coal-olive{
    border-bottom-color:transparent !important ;
    border-top-color: #737000 !important;
    border-right-color: #737000 !important;
    border-left-color: #737000 !important;
}

/* color-4 ends */

/* color-5 nugget */


.btn-coal-nugget{
    background-color: #c08922 !important;
}

.btn-coal-nugget:hover{
    background-color: #c08922e3 !important;
   
}

.bg-coal-nugget{
    background-color: #c08922 !important;
}

.border-coal-nugget-1{
    border: 1px solid #c08922 !important;
}

.border-coal-nugget-2{
    border: 2px solid #c08922 !important;
}

.border-coal-nugget-3{
    border: 3px solid #c08922 !important;
}

.border-coal-nugget-4{
    border: 4px solid #c08922 !important;
}

.border-coal-nugget-5{
    border: 5px solid #c08922 !important;
}

.text-coal-nugget{
    color: #c08922 !important;
}

.form-coal-nugget{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-coal-nugget:focus{
    box-shadow: 0 0 5px #c08922 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #c08922 !important;
}

.spinner-coal-nugget{
    border-bottom-color:transparent !important ;
    border-top-color: #c08922 !important;
    border-right-color: #c08922 !important;
    border-left-color: #c08922 !important;
}

/* color-5 ends */