/* color-1 ChelseaCucumber */

.btn-Teal-ChelseaCucumber{
    background-color: #8db35e !important;
}

.btn-Teal-ChelseaCucumber:hover{
    background-color: rgb(161, 231, 104) !important;
   
}

.bg-Teal-ChelseaCucumber{
    background-color: #8db35e !important;
}

.border-Teal-ChelseaCucumber-1{
    border: 1px solid #8db35e !important;
}

.border-Teal-ChelseaCucumber-2{
    border: 2px solid #8db35e !important;
}

.border-Teal-ChelseaCucumber-3{
    border: 3px solid #8db35e !important;
}

.border-Teal-ChelseaCucumber-4{
    border: 4px solid #8db35e !important;
}

.border-Teal-ChelseaCucumber-5{
    border: 5px solid #8db35e !important;
}

.text-Teal-ChelseaCucumber{
    color: #8db35e !important;
}

.form-Teal-ChelseaCucumber{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Teal-ChelseaCucumber:focus{
    box-shadow: 0 0 5px #8db35e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #8db35e !important;
}

.spinner-Teal-ChelseaCucumber{
    border-bottom-color:transparent !important ;
    border-top-color: #8db35e !important;
    border-right-color: #8db35e !important;
    border-left-color: #8db35e !important;
}

/* color-1 ends */

/* color-2 Sun */
.btn-Teal-Sun{
    background-color: #Fabe0e !important;
}

.btn-Teal-Sun:hover{
    background-color: rgb(248, 197, 88) !important;
   
}

.bg-Teal-Sun{
    background-color: #Fabe0e !important;
}

.border-Teal-Sun-1{
    border: 1px solid #Fabe0e !important;
}

.border-Teal-Sun-2{
    border: 2px solid #Fabe0e !important;
}

.border-Teal-Sun-3{
    border: 3px solid #Fabe0e !important;
}

.border-Teal-Sun-4{
    border: 4px solid #Fabe0e !important;
}

.border-Teal-Sun-5{
    border: 5px solid #Fabe0e !important;
}

.text-Teal-Sun{
    color: #Fabe0e !important;
}

.form-Teal-Sun{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Teal-Sun:focus{
    box-shadow: 0 0 5px #Fabe0e !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Fabe0e !important;
}

.spinner-Teal-Sun{
    border-bottom-color:transparent !important ;
    border-top-color: #Fabe0e !important;
    border-right-color: #Fabe0e !important;
    border-left-color: #Fabe0e !important;
}

/* color-2 ends */

/* color-3 Salmon */

.btn-Teal-Salmon{
    background-color: #Ff8765 !important;
}

.btn-Teal-Salmon:hover{
    background-color: #f78e77 !important;
   
}

.bg-Teal-Salmon{
    background-color: #Ff8765 !important;
}

.border-Teal-Salmon-1{
    border: 1px solid #Ff8765 !important;
}

.border-Teal-Salmon-2{
    border: 2px solid #Ff8765 !important;
}

.border-Teal-Salmon-3{
    border: 3px solid #Ff8765 !important;
}

.border-Teal-Salmon-4{
    border: 4px solid #Ff8765 !important;
}

.border-Teal-Salmon-5{
    border: 5px solid #Ff8765 !important;
}

.text-Teal-Salmon{
    color: #Ff8765 !important;
}

.form-Teal-Salmon{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Teal-Salmon:focus{
    box-shadow: 0 0 5px #Ff8765 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Ff8765 !important;
}

.spinner-Teal-Salmon{
    border-bottom-color:transparent !important ;
    border-top-color: #Ff8765 !important;
    border-right-color: #Ff8765 !important;
    border-left-color: #Ff8765 !important;
}

/* color-3 ends */

/* color-4 Almond */


.btn-Teal-Almond{
    background-color: #Edddc4 !important;
}

.btn-Teal-Almond:hover{
    background-color: rgb(216, 205, 182) !important;
   
}

.bg-Teal-Almond{
    background-color: #Edddc4 !important;
}

.border-Teal-Almond-1{
    border: 1px solid #Edddc4 !important;
}

.border-Teal-Almond-2{
    border: 2px solid #Edddc4 !important;
}

.border-Teal-Almond-3{
    border: 3px solid #Edddc4 !important;
}

.border-Teal-Almond-4{
    border: 4px solid #Edddc4 !important;
}

.border-Teal-Almond-5{
    border: 5px solid #Edddc4 !important;
}

.text-Teal-Almond{
    color: #Edddc4 !important;
}

.form-Teal-Almond{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Teal-Almond:focus{
    box-shadow: 0 0 5px #Edddc4 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #Edddc4 !important;
}

.spinner-Teal-Almond{
    border-bottom-color:transparent !important ;
    border-top-color: #Edddc4 !important;
    border-right-color: #Edddc4 !important;
    border-left-color: #Edddc4 !important;
}

/* color-4 ends */

/* color-5 Porcelain */


.btn-Teal-Porcelain{
    background-color: #E2e6e7 !important;
}

.btn-Teal-Porcelain:hover{
    background-color: rgb(210, 227, 230) !important;
   
}

.bg-Teal-Porcelain{
    background-color: #E2e6e7 !important;
}

.border-Teal-Porcelain-1{
    border: 1px solid #E2e6e7 !important;
}

.border-Teal-Porcelain-2{
    border: 2px solid #E2e6e7 !important;
}

.border-Teal-Porcelain-3{
    border: 3px solid #E2e6e7 !important;
}

.border-Teal-Porcelain-4{
    border: 4px solid #E2e6e7 !important;
}

.border-Teal-Porcelain-5{
    border: 5px solid #E2e6e7 !important;
}

.text-Teal-Porcelain{
    color: #E2e6e7 !important;
}

.form-Teal-Porcelain{
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
 .form-Teal-Porcelain:focus{
    box-shadow: 0 0 5px #E2e6e7 !important;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E2e6e7 !important;
}

.spinner-Teal-Porcelain{
    border-bottom-color:transparent !important ;
    border-top-color: #E2e6e7 !important;
    border-right-color: #E2e6e7 !important;
    border-left-color: #E2e6e7 !important;
}

/* color-5 ends */